.md_2039{ padding:10px 0px;}
.md_2039 .mod_title{ width:100%; overflow:hidden;}
.md_2039 .mod_word{  max-width:70%; padding:0 20px; display:inline-block; position:relative; height:2em; box-sizing:border-box;}
.md_2039 .mod_word .leftimg {position: absolute; right:100%; top:50%; height:42px; margin-top:-21px;width:202px; background:url(/public/mod/img/2039/1.png) no-repeat; background-size:202px 42px;}
.md_2039 .mod_word .rightimg { position: absolute;left:100%; top:50%; height:42px; margin-top:-21px;width:202px;background:url(/public/mod/img/2039/2.png) no-repeat;background-size:202px 42px;}


#fullcontent .md_2039{ padding:10px 50px;}

@font-face {
font-family: 'title';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url('/public/font/FetteEngD.eot'), /* IE9 */
url('/public/font/FetteEngD.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('/public/font/FetteEngD.woff') format('woff'),
url('/public/font2019/modtitle.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
url('/public/font/FetteEngD.svg') format('svg'); /* iOS 4.1- */
}