

.flex_box{width:100%;display:-moz-box;display:-webkit-box;display:box;}
.flex_box_item{display:block;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.line_gray{background: #f8f8f8;height: 8px;border-top: 1px solid #eee;}
.icon_shop{ display:block; background:url(../images/ac4c9-7484.png) no-repeat 0 0; background-size:16rem;}
.icon_search{ display:block; background:url(../images/6f7e4-5895.png) no-repeat 0 0; background-size:16rem;}
.s_icon_down{display:inline-block; margin-top:0.4rem;width:0;height:0;border-left: 0.25rem solid transparent;border-right: 0.25rem solid transparent;border-top: 0.25rem solid #999999;position: absolute;top: 0.6rem;margin-left: 0.5rem;}
.s_icon_up{-webkit-transform:rotate(180deg);transform:rotate(180deg);display:inline-block; margin-top:0.4rem;width:0;height:0;border-left: 0.25rem solid transparent;border-right: 0.25rem solid transparent;border-top: 0.25rem solid #999999;position: absolute;top: 0.6rem;margin-left: 0.5rem;}

.price_red{color: #d00000;font-size: 17px;width: 8%;margin-top: 0.1rem; }


/*导航筛选*/
.result_filter_bar_box{height:2.1rem;}
.result_filter_bar{padding-right:0.75rem;line-height:2.1rem;height:2.1rem;border-top: 1px solid #eee;font-size: 14px;position: relative;color: #333;background:#fff;border-bottom: 1px solid #eee;}
.result_filter_bar .flex_box_item{width: 4.5rem;/* margin-right: 0.5rem; */font-size: 14px;}
.result_filter_bar .flex_box .flex_box_item:first-child{width:5.45rem;/* padding-left:1.4rem; */ cursor:pointer; text-align:center;}
.result_filter_bar .area{/* padding-left: 1.2rem; */width:5.2rem; text-align:center;cursor:pointer;}
.result_filter_bar .input{padding:0 0.4rem 0 1rem;width:3.4rem; cursor:pointer;}
.result_filter_bar .pic_word_box{position:relative;width: 2rem;}
.result_filter_bar .s_icon_pic{display:block; background:url(../images/6f7e4-5895.png) no-repeat 0 0; background-size:16rem;width: 0.8rem;height: 0.8rem;background-position: -0.55rem -0.5rem;overflow: hidden;float: right;/* margin-right: 0.75rem; */margin-top: 0.75rem;}
.result_filter_bar .s_icon_word{display:block; background:url(../images/6f7e4-5895.png) no-repeat 0 0; background-size:16rem;width:1rem;height:1.1rem;background-position:-3.75rem -1.75rem;position:absolute;top:0.5rem;left: 1rem;}
.result_filter_bar .s_icon_up{-webkit-transform: rotate(180deg);transform: rotate(180deg);display: inline-block;margin-top: 0.4rem;width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #999999;position: absolute;top: 0.6rem;margin-left: 0.5rem;}
.result_filter_bar .s_icon_down{display:inline-block; margin-top:0.4rem;width:0;height:0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #999999;position: absolute;top: 0.6rem;margin-left: 0.5rem;}
.result_filter_bar .now{color: #d00000}
.result_filter_bar .now .s_icon_down{border-top: 0.25rem solid #d00000;}
.result_filter_bar .border{width: 1px;background: #ebebeb;height: 1.15rem;margin-top: 0.55rem;}


.result_filter_box_select .cat_option{/*border-top:1px solid #eee;*/margin-bottom: 0.75rem;}
.result_filter_bar .icon-liebiao1{font-size:20px;cursor:pointer; width:24px;}
.result_filter_bar .icon-liebiao2{font-size:24px;cursor:pointer;}

/*所在地展开*/
.cat_option{line-height:2rem;padding:0 0.75rem;/*border-top:1px solid #eee;*/color:#333;font-size: 15px;}
.cat_option .tit{height: 2.5rem;line-height:2.5rem;font-weight: 600}
.cat_option .flex_box_item{line-height:normal;margin-bottom:0.5rem;}
.cat_option .selected{color:#ff9e05;border:1px solid #ff9e05;border-radius:0.1rem;line-height:1rem;padding:0 0.1rem 0 0.2rem;display:inline-block;margin-top:0.5rem;}
.cat_option .selected .s_icon_close{width:0.6rem;height:0.5rem;display:inline-block;background-position:-6.625rem -3.3rem;}
.cat_option{line-height:2rem;}
.cat_option .con{line-height:normal}
.cat_option .con ul li{text-align:center;width: 3.75rem;float:left;height: 2.5rem;background-color: #f5f5f5;}
.cat_option .con .text1{font-size: 15px;color: #333;line-height: 1.5rem;height: 1.3rem;display:block;/* overflow:hidden; *//* width: 3.75rem; *//* background-color: #f5f5f5; *//* border-radius: 0.2rem; *//* background-color: red; */overflow: hidden;}
.cat_option .con .text2{font-size: 13px;color: #666;width: 5rem;}
.result_filter_box_select  .cat_option .con ul li{text-align: center;width: 5rem;margin-right: 22px;margin-bottom: 0.5rem;}
.result_filter_box_select .cat_option .con ul li:nth-of-type(3n) {margin-right: 0;}
/*筛选展开*/
.result_filter_box_select   .tit{font-weight: bold;font-size: 15px;margin-right: 1.2rem;}
.result_filter_box_select  .cat_price .name{width: 3.75rem;line-height: 1.75rem;;display: block;float: left}
.result_filter_box_select  .cat_price  input{width: 3.75rem;line-height: 1.3rem; font-size: 15px;/*font-size: 0.65rem;*/font-family: "microsoft yahei";color: #999;text-align: center;background-color: #f5f5f5;margin-top: 0.15rem;}
.result_filter_box_select  .cat_price  .submit{color:#d00000;border-radius:1px;display: block;float: right;width: 2.775rem;height: 30px;line-height: 26px;border: 1px solid #d00000;border-radius: 0.2rem;text-align: center;margin-top: 0.1rem;}
.result_filter_box_select  .cat_price .con{color: #999;font-size: 15px;}
.result_filter_box_select  .cat_price .min_price{margin-left: 0.5rem;margin-right: 0.2rem;}
.result_filter_box_select  .cat_price .max_price{margin-left: 0.2rem}
.cat_change_box_select{line-height:2rem;padding: 0 0.75rem;color: #333;font-size: 15px;border-top: 1px solid #eee;}
.cat_change_box_select .flex_box_item{line-height:normal;margin-bottom:0.5rem;}
.cat_change_box_select .selected{color: #d00000;border: 1px solid #d00000;border-radius:0.1rem;line-height: 1.375rem;padding: 0 0.2rem 0 0.2rem;display:inline-block;margin-top:0.5rem;margin-right: 0.36rem;}
.cat_change_box_select .selected .s_icon_close{width: 0.7rem;height:0.5rem;display:inline-block;background-position: -6.4rem -3.25rem;}
.result_filter_box_area .cat_option .con ul li.now{background: #d00000;color: #fff;border-radius: 0.1rem;}
.result_filter_box_area .cat_option .con ul li.now .text1{color: #fff;}
.result_filter_box_area .cat_option .con ul li{height: 1.5rem;line-height: 1.5rem; margin-bottom: 0.75rem;margin-right: 0.75rem;}

/*排序展开*/
.result_filter_box_order{color:#333;font-size: 15px;}
.result_filter_box_order ul li{height: 2.5rem;line-height: 2.5rem;padding: 0 0.75rem;border-bottom: 1px solid #eee;position:relative;/*border-top: 1px solid #eee;*/}
.result_filter_box_order ul li a{display:block;line-height: 2.5rem;height: 2.5rem;width:100%}
.result_filter_box_order ul li.now a{color: #d00000;}
.result_filter_box_order ul li.now .icon_shop{background-position: -5.175rem -2.7rem;width: 1rem;height: 1.5rem;/* float: right; */position: absolute;right: 15px;top: 0.5rem;}

/*商品列表*/
.product_list{background:#fff; border-top:1px solid #eee;}
.product_list .line_gray_btm{background:#f8f8f8;height:8px;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.product_list.has_img .line_gray_btm{display:none;}
.book_item{}
.book_item .flex_box{}
.book_item .book_item_img{width:100px;height: 100px;line-height:100px;display:block;margin:15px 0 15px 15px; text-align:center;}
.book_item .book_item_img img{max-width:100%;max-height:100%;vertical-align:middle;}
.book_item .book-box-con{font-size:15px;border-bottom:1px solid #eee;padding:15px 15px 15px 0px;margin-left:15px;}
.book_item .book-box-con .price_red{color: #d00000;font-size: 17px;width: 14px;margin-top:2px;}
.book_item .book-box-con .m_t16{margin-top:8px;}
.book_item .book-box-con .m_t20{margin-top:10px;}
.has_img .book_item .book-box-con .book-box-con-name{color: #333;min-height: 20px;line-height: 20px;max-height: 40px;overflow: hidden;font-weight: normal;font-size: 15px;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;word-break: break-all;display: -webkit-box;}
.no_img .book_item .book-box-con .book-box-con-name{color: #333;min-height: 20px;line-height: 20px;overflow: hidden;font-weight: normal;font-size: 15px;}
.book_item .book-box-con .book-box-con-name b{color: #d00000}
.book_item .book-box-con .book-box-con-grey{color:#999999;width:40%;height:20px;line-height:20px;overflow:hidden;float:left;font-size: 14px;text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;word-break: break-all;display: block;}
.book_item .book-box-con .book-box-con-grey.right{text-align:right; width: 60%;}
.book_item .book-box-con .book-box-con-red{width: 32%;color:#d00000;font-size: 19px;height:20px;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;word-break: break-all;}
.book_item .book-box-con .book-box-con-red em{font-size: 17px;}
.book_item:last-child .flex_box{border-bottom:none}
.book_item .book-box-con .book-box-con-grey em{display: inline-block}
.book_item .book-box-con .book-box-con-grey .shop_name{width: 60%;text-overflow: ellipsis;overflow: hidden;vertical-align: baseline;word-wrap: break-word;word-break: break-all;}
.book_item .book-box-con .book-box-con-grey .levelbox{width: 40%;max-width: 35px;overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;word-break: break-all;}
.book_item .book-box-con .book-box-con-grey .levelbox.long{max-width: 60px;}
.book_item .book-box-con .book-box-con-grey .levelbox .level{color: #333333}
.has_img .book_item .book-box-con .book-box-con-name {height: 40px;}
.has_img .book_item .book-box-con .book-box-con-grey.quality{width:50px!important;}
.has_img .book_item .book-box-con .book-box-con-grey.shopname{float:right!important;width:70%!important;}
.has_img .book_item .book-box-con .book-box-con-red.price{min-width:90px!important;width:45%!important;}
.has_img .book_item .book-box-con .book-box-con-grey.date{float:right!important;width:72px!important;}
.no_img .book_item .book-box-con{border-bottom:none;}
.no_img .book_item .book-box-con .book-box-con-grey.quality{width:30%!important;}
.no_img .book_item .book-box-con .book-box-con-grey.shopname{float:right!important;width:70%!important;}
.no_img .book_item .book-box-con .book-box-con-red.price{min-width:120px!important;width:45%!important;}
.no_img .book_item .book-box-con .book-box-con-grey.date{float:right!important;width:120px!important;}
.book_item .book-box-con.last{ border:none;}
.no_img .book_item .book_item_img{display:none;}

/*搜索为空*/
.result_search_null .search_null{margin-top:3rem;text-align:center}
.result_search_null .s_icon_searchNull{width:2.4rem;height:2.4rem;display:inline-block;background-position:-3.7rem -1.4rem;margin-bottom:0.6rem;}
.result_search_null .search_null_tip1{font-size:14px;color:#333;line-height:1.5rem;padding:0 15px;word-wrap: break-word;}
.result_search_null .search_null_tip2{font-size:11px;color:#6b6b6b;line-height:1rem;}


/**/
.fix_02{position: fixed;top:2rem;}

.fix_bar{position: fixed;background: #fff;width: 100%;top: 0;z-index: 999999}

.overflowHidden{overflow: hidden}

.height_8{ height:8px;}
.height_8_gray{ height:8px;background:#f8f8f8;}
.line_gray_btm{ background:#f8f8f8; height:8px; border-bottom:1px solid #eee;}

.no_border_top {border-top: none}

.click_now{color:#d00000;}
.click_now .s_icon_up{border-top:4px solid #d00000}
.footer_list .gray_jg{color:#eeeeee;}

/*320以下单独处理*/
@media screen and (max-width:320px) {
    .book_item .book-box-con .price_red{width:13px;}
    .book_item .has_img .book-box-con .book-box-con-grey .shop_name{width:50%;}
    .book_item .has_img .book-box-con .book-box-con-grey .levelbox{width:50%;}
    .result_filter_box_select  .cat_option .con ul li{text-align: center;width: 4.89rem;margin-right: 22px;margin-bottom: 0.5rem;}
    .cat_option .con ul li{text-align:center;width: 3.65rem;float:left;height: 2.5rem;background-color: #f5f5f5;}
    .result_filter_bar .flex_box .flex_box_item:first-child {width: 7rem;}
}
