/***toolbar***/
#toolbar{ height:36px; border-bottom:1px solid #ddd;}
.toolbar_left{}
.toolbar_left li{ float:left; margin:0 20px 0 0;}
.toolbar_left li a{ font:14px/36px "Microsoft YaHei"; display:block; height:34px;}
.toolbar_left li.current a{ border-bottom:2px solid #9C3;}
.toolbar_right{}

.toolbar_right li{ float:left; height:16px; padding:0 13px; margin:10px 0 0; border-left:1px solid #999;position:relative; z-index:10; font:14px/14px "Microsoft YaHei";}
.toolbar_right li a{ cursor:pointer;}
.toolbar_right li em{ float:left; width:20px; height:16px; padding-right:7px; background:url("../images/e4e10-1050.png") no-repeat;}
.toolbar_right li em.weibo{ background-position:0 0;}
.toolbar_right li em.weixin{ background-position:-34px 0;}
.toolbar_right li em.tel{ background-position:-71px 0; width:10px;}
.toolbar_right li.left_n{ border:none;}

.toolbar_right li.toolbar_weixin{ border-left:1px solid #999; border-right:1px solid #999;z-index:11;width:58px;}
.toolbar_right li.toolbar_weixin.current{ height:26px; padding:9px 13px 0; margin:0; margin-left:-1px; border:1px solid #ddd; border-bottom:1px solid #fff;width:58px;padding-left:14px;}
.toolbar_right li.toolbar_weixin .wx_select{position:absolute;top:36px;right:-1px;background:#FFF;padding:10px;border:1px solid #ddd;border-top:none;}
.toolbar_right li.toolbar_weixin .wx_select img{width:100px;display:block;}

.toolbar_right li.toolbar_wb{ border-left:1px solid #999;z-index:12;width:58px;}
.toolbar_right li.toolbar_wb.current{ height:26px; padding:9px 13px 0; margin:0; border:1px solid #ddd; border-bottom:1px solid #fff;margin-right:-1px;width:58px;}
.toolbar_right li.toolbar_wb .wx_select{position:absolute;top:36px;right:-1px;background:#FFF;padding:10px;border:1px solid #ddd;border-top:none;}
.toolbar_right li.toolbar_wb .wx_select img{width:100px;display:block;}

.toolbar_right li.last{ border:none;z-index:13;width:63px;}
.toolbar_right li.last.current{ height:26px; padding:9px 13px 0; margin:0; border:1px solid #ddd; border-bottom:1px solid #fff;margin-left:-1px;width:62px;}
.toolbar_right li.last dl{position:absolute;top:36px;right:-1px;background:#FFF;padding:10px;border:1px solid #ddd;border-top:none;overflow:hidden;width:230px;}
.toolbar_right li.last dl dt{width:100px;margin-right:10px;float:left;}
.toolbar_right li.last dl dd{color:#f65; font:14px/16px "Microsoft YaHei";padding-bottom:3px;overflow:hidden;}
.toolbar_right li.last dl dd.name{color:#666;}

.wx_s_line{ background:#FFF; height:1px;overflow:hidden;width:85px;margin-top:-6px;margin-right:-5px;float:right;}
/*登录后*/
.toolbar_right li.user{ color:#7b0; text-align:center;margin-top:7px;*margin-top:5px; border:1px solid #fff;padding:0 10px;width:98px;}
.toolbar_right li.user.current{border:1px solid #ddd;border-bottom:none;margin:0;height:28px;*height:30px;padding-top:7px;*padding-top:5px;}
.toolbar_right li .user_body{ overflow:hidden;display:inline-block;*display:inline;zoom:1;}
.toolbar_right li .user_body span{ line-height:19px;float:left;max-width:84px;height:20px;overflow:hidden;}
.toolbar_right li .user_body i{float:left;width:9px;height:5px; background:url("../images/e4e10-1050.png") no-repeat -19px -27px;margin:8px 0 0 5px;}
.toolbar_right li .user_body i.down{ background-position:-40px -27px;}
.user_select{ width:118px;border:1px solid #ddd;border-top:none;position:absolute;right:-1px;top:35px;z-index:10;}
.user_select a{ display:block; height:30px;line-height:30px;text-align:center; background:#fff;}
.user_select a:hover{ text-decoration:none; background:#efefef;}
.toolbar_right li.toolbar_message{border:none;position:relative;}
.toolbar_right li.toolbar_message .message_body{cursor:pointer;}
.toolbar_right li.toolbar_message .message_body span{ color:red;}

.mess_cont{ float:left; line-height:30px; border:1px solid #D2D7D7; padding:0 0 0 15px; background:#FFF; color:#333; position:absolute; top:26px; left:2px; z-index:99;width:190px;}
.mess_cont .notice_list{ float:left; width:160px;}
.mess_cont a{ color:#1481BD;}
.mess_cont a:hover{ color:#1481BD;}
.mess_cont p{ background:url("../images/e4e10-1050.png") no-repeat 0 -27px; width:6px; height:6px; cursor:pointer; margin:10px 10px 0; float:right; overflow:hidden;}