@charset "utf-8";

/* reset */
body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }

/* common */
body{font:12px/1.5 "Microsoft Yahei",Arial,"宋体",Verdana; color:#333;}
a{color:#333;text-decoration:none;outline: none; blr:expression(this.onFocus=this.blur());-webkit-transition: all 0.25s;-moz-transition: all 0.25s;-ms-transition: all 0.25s;-o-transition: all 0.25s;transition: all 0.25s;}
a:hover{color:#d9333f;text-decoration:none;}
ul li{list-style:none;}
.clear{clear:both;*display:inline;overflow:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
img,input,select,button{vertical-align: middle;border:none;}
input,textarea{outline:none;border: 0;background:none;font-family:"Microsoft YaHei";-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);} 
input[type="submit"]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fl{float:left;}
.fr{float:right;}
.pos-r{position:relative;}
.pos-a{position:absolute;} 
.wrap{width:1120px;margin:0 auto;}

.top_box{margin:auto;width:1120px;height:80px;overflow:hidden}
.top_box .logo{float:left;width:198px;height:48px;margin:16px 0;background:url(/img/logo_pc.png) no-repeat 12px}
.top_box .logo a{display:inline-block;width:198px;height:48px;line-height:140px;overflow:hidden}
.top_box .user_box{float:left;width:672px;height:80px;padding-right:10px;text-align:right;font-size:12px}
.user_box a{display:inline-block;margin-top:32px;margin-right:16px;padding-left:14px;color:#808080}
.user_box a:hover{color:#f33}.user_box a.t_mobile{background:url(/img/bg.png) no-repeat -100px 1px}
.user_box a.t_fav{padding-left:18px;background:url(/img/bg.png) no-repeat -200px 1px}
.user_box a.t_map{padding-left:20px;background:url(/img/bg.png) no-repeat 0 -49px}
.top_box .search_box{float:left;width:240px;height:80px;margin:auto}
.search_box form{display:block;margin-top:24px;height:32px}
.search_box input{float:left;width:167px;height:30px;line-height:30px;border:1px solid #d9d9d9;border-right:0;padding-left:10px;padding-right:10px;font-size:14px;color:#808080;border-radius:6px;border-top-right-radius:0;border-bottom-right-radius:0}
.search_box input:focus{color:#333}
.search_box button{float:left;width:52px;height:32px;border:0;color:#fff;font-size:14px;border:1px solid #8b888f;border-left:none;border-top-right-radius:6px;border-bottom-right-radius:6px;background:#8b888f url(/img/bg.png) no-repeat -82px -41px}

.nav_wrap{width:100%;height:52px;background:#4e3064}
.nav_box{width:1120px;height:52px;margin:auto;background:#4e3064}
.nav_box h5{float:left;display:inline-block;width:112px;height:52px;font-weight:normal}
.nav_box h5.cur{background-color:#792faa}
.nav_box h5 a{display:inline-block;width:100%;height:52px;line-height:52px;font-size:20px;text-align:center;color:#f4f2f5;font-weight:normal}
.nav_box h5 a:hover{background-color:#7a4b9c}
.nav_box .last{width:84px;position:relative}
.nav_box h5.last:hover{background:#7a4b9c}
.nav_box .last span{display:inline-block;width:100%;height:52px;line-height:52px;font-size:20px;text-align:center;color:#f4f2f5;font-weight:normal;cursor:pointer}
.nav_box .last span i{display:inline-block;width:7px;height:4px;position:relative;top:-4px;left:3px;background:url(/img/bg.png) no-repeat -245px -432px;-webkit-transition:-webkit-transform .3s;-ms-transition:-ms-transform .3s;-o-transition:-o-transform .3s;transition:transform .3s}
.nav_box .last:hover span i{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.nav_box .last div{display:none;width:210px;padding:12px;position:absolute;z-index:30;right:0;background:#7a4b9c}
.nav_box .last:hover div{display:block}
.nav_box .last div a{display:inline-block;float:left;width:88px;height:36px;line-height:36px;font-size:18px;text-align:left;padding-left:17px;color:#f4f2f5;font-weight:normal}
.nav_box .last div a.cur{background-color:#792faa}
.nav_box .last div a:hover{background:#4e3064}
.nav_box h5 a.hotico{background:url(/img/hot.png) 94px 5px no-repeat;}

.in_module{clear:both; margin:35px auto 0;}
.in_hotstar{clear:both; width:100%; margin:2px 0 30px 0;}
.cwdaquan{}
.in_hotstar a:nth-child(7) li,.in_hotstar a:nth-child(14) li,.in_hotstar a:nth-child(21) li,.in_hotstar a:nth-child(28) li,.in_hotstar a:nth-child(35) li,.in_hotstar a:nth-child(42) li,.in_hotstar a:nth-child(49) li,.in_hotstar a:nth-child(56) li,.in_hotstar a:nth-child(63) li,.in_hotstar a:nth-child(70) li,.in_hotstar a:nth-child(77) li,.in_hotstar a:nth-child(84) li,.in_hotstar a:nth-child(91) li,.in_hotstar a:nth-child(98) li,.in_hotstar a:nth-child(105) li{margin:15px 0 0 0;}
.in_hotstar li{width:142px; height:142px; position:relative; overflow:hidden; float:left;margin:15px 21px 20px 0;-webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; border-radius:100%;}
.in_hotstar li.last{margin:28px 0 0 0;}
.in_hotstar li span.ct{display:block; width:100%; height:100%; overflow:hidden;-webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; border-radius:100%;}
.in_hotstar li span.ct h3{width:90px; height:26px; line-height:26px; border:1px solid rgba(255,255,255,0.5); text-align:center; font-size:15px; color:#fff; bottom:21px; left:50%; margin:0 0 0 -46px; position:absolute; z-index:2;}
.in_hotstar li span.ct img{width: 100%;}
.in_hotstar li span.detial{opacity:0; width:100%; height:100%; overflow:hidden; background-color:rgb(78, 48, 100); position:absolute; top:0; left:0; z-index:3;-webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; border-radius:100%;}
.in_hotstar li span.detial h3{width:110px; font-size:16px; color:#fff; text-align:center; height:36px; line-height:36px; margin:10px auto 0 auto; overflow:hidden;}
.in_hotstar li span.detial p{width:110px; font-size:14px; color:#fff; text-align:center; height:44px; line-height:22px; margin:0 auto; overflow:hidden;}
.in_hotstar li span.detial .moree{width:60px; height:20px; line-height:20px; display:block; border:1px solid rgba(255,255,255,0.5); color:#fff; font-size:12px; text-align:center; font-family:arial; margin:10px auto 0 auto;}
.in_hotstar li span.detial .moree:hover{border:1px solid #fff;}
.in_hotstar li:hover{cursor:pointer;}
.in_hotstar li:hover span.ct h3{display:none;}
.in_hotstar li:hover span.detial{opacity:1;animation:myfirst .4s;-moz-animation:myfirst .4s;-webkit-animation:myfirst .4s;-o-animation:myfirst .4s}

.t_01{clear:both; width:100%; border-bottom:1px solid #e9e9e9; height:44px;}
.t_01 h3{font-size:21px; color:#333; line-height:30px; float:left;font-weight: normal;}
.t_01 h3 i{height:30px; display:block; float:left; margin:0 12px 0 0;}
.t_01 ul.menu{float:left; height:24px; margin:3px 0 0 38px;}
.t_01 ul.menu li{float:left; font-size:15px; color:#333;}
.t_01 ul.menu li a{color:#333; display:block; height:24px; line-height:24px; padding:0 11px; float:left;-webkit-border-radius:24px; -moz-border-radius:24px; -ms-border-radius:24px; -o-border-radius:24px; border-radius:24px;}
.t_01 ul.menu li a.on{background-color:#e30002; color:#fff;}
.t_01 ul.menu li a:hover{background-color:#e30002; color:#fff;}
.t_01 ul.menu li i{width:1px; height:15px; float:left; background-color:#aaa; margin:4.5px 7px 0 7px;}
.t_01 a.more{float:right; font-size:14px; color:#999; line-height:24px; background:url(/img/more_01.png) no-repeat right center; padding:0 13px 0 0; margin:3px 0 0 0;}
.t_01 a.more:hover{color:#e30002; background:url(/img/more_02.png) no-repeat right center;}

.t_02{clear:both; width:100%;}
.t_02 h3{font-size:18px; color:#333; font-weight:bold; float:left; line-height:18px; border-left:3px solid #e30002; padding:0 0 0 12px;}
.t_02 i{width:1px; height:14px; display:block; background-color:#e9e9e9; float:left; margin:2px 20px;}
.t_02 a.more{float:left; font-size:14px; color:#999;}
.t_02 a.more font{font-family:"SimSun";}
.t_02 a.more:hover{color:#e30002;}

.t_04{clear:both; width:100%; height:48px; border-bottom:1px solid #e9e9e9; overflow:hidden;}
.t_04 h3{font-size:18px; font-weight:bold; color:#333; line-height:18px; height:18px; border-left:3px solid #e30002; padding:0 0 0 14px; margin:15px 0; float:left;}
.t_04 a.more{color:#999; font-size:14px; line-height:48px; background:url(/img/more_01.png) no-repeat right center; float:right; margin:0 15px 0 0; padding:0 13px 0 0;}
.t_04 a.more:hover{color:#e30002; background:url(/img/more_02.png) no-repeat right center;}


.start-section {width: 1120px;height:480px; margin:0px auto; overflow: hidden;}
.is-aside{width:350px;float:left;overflow: hidden;}
.is-main {width: 750px;float:right;overflow: hidden;}
.news-list-tag li {position:relative;height: 32px;line-height: 32px;padding-left: 12px;overflow: hidden;}
.news-list-tag li  a{font-size:14px;}
.news-list-tag li:before{width:4px;height:4px;left:0;top:50%;margin-top:-2px;background:#ddd;content:'\200B';position:absolute}
.news-list-tag .important{height:50px;line-height:50px;font-weight:700;font-size:20px;overflow:hidden}
.news-list-tag .important i{left:0;top:50%;width:38px;height:19px;line-height:19px;margin-top:-9px;color:#fff;text-align:center;font-size:14px;font-style:normal;position:absolute}
.news-list-tag .important a{font-size:20px;font-weight:700;padding-left: 30px;}
.news-list-tag .red {background: #d03258}
.news-list-tag .blue {background: #3b8bec}
.news-list-tag .pink {background: #fc79a4}
.news-list-tag .green {background: #71b365}
.news-list-tag .orange {background: #fb8b48}
.ss-news h2{height:44px;line-height:44px;white-space:nowrap}
.ss-news h2 i{background:#d50000;height:30px;line-height:30px;margin-top:9px;margin-right:8px;padding:0 7px;border-radius:2px;color:#fff;vertical-align:top;font-size:18px;display:inline-block;overflow:hidden;font-style:normal}
.ss-news h2 a{font-size:28px}
.ss-news p{height:68px;line-height:30px;overflow:hidden;font-size:14px}
.ss-banner,.ss-banner img{width:750px;height:360px;overflow:hidden;object-fit:cover;}

.pk-item{width:248px;height:301px;margin-left:42px;float:left}
.pk-title{height:44px;line-height:44px}
.pk-title h3{color:#fb8b48;font-size:18px;float:left}
.pk-image,.pk-image img{width:248px;height:165px;object-fit:cover;}
.pk-image{position:relative;display:block}
.pk-image i{line-height:24px;padding:0 8px;background:rgba(0,0,0,.75);color:#fff;position:absolute;font-style:normal}
.first{margin-left:0;}
.pk-title .more{float: right;font-size:14px;position: relative;color: #777;padding-left: 11px;}
.pk-title .more:hover{color:#d9333f;}
.pk-title .more:before{left:0;top:50%;background-image:url(/img/icon.png);background-position:-286px -122px;width:4px;height:6px;width:4px;height:6px;margin-top:-3px;content:'\200B';position:absolute}
.pk-image i{line-height:24px;padding:0 8px;background:rgba(0,0,0,.75)}
.pk-image h4{left:0;right:0;bottom:0;background:rgba(0,0,0,.65);height:32px;line-height:32px;color:#fff;text-align:center;font-weight:400;position:absolute;overflow:hidden}
.pet-knowledge{height:600px;margin-top: 30px;overflow: hidden;}
.pk-list li{height:26px;line-height:26px;padding-left:12px;overflow:hidden;font-size:14px;position:relative}
.pk-list li:before{width:3px;height:3px;background:#ccc;left:0;top:50%;margin-top:-1px;position:absolute;content:'\200B'}

.in_starnews{clear:both; width:100%;}
.starnews_ct{width:535px;height: 510px;overflow: hidden;}
.starnews_ct ul.list{clear:both; width:100%; margin:6px 0 0 0; float:left;}
.starnews_ct ul.list li{clear:both; width:100%; height:129px; border-bottom:1px dotted #ddd; margin:19px 0 0 0; float:left;}
.starnews_ct ul.list li span.fl{width:150px; height:110px; display:block; overflow:hidden;}
.starnews_ct ul.list li span.fl img{width:100%; display:block;height: 105px;object-fit:cover;}
.starnews_ct ul.list li span.fr{width:370px; display:block;}
.starnews_ct ul.list li span.fr h3{font-size:18px; color:#333; line-height:26px; height:26px; overflow:hidden;}
.starnews_ct ul.list li span.fr a:hover h3{color:#e30002;}
.starnews_ct ul.list li span.fr p{font-size:14px; color:#666; line-height:22px; height:44px; overflow:hidden; margin:8px 0 0 0;}
.starnews_ct ul.list li span.fr i{display:block; float:left; font-style:normal; font-size:12px; color:#999; line-height:20px; margin:10px 0 0 0;}
.starnews_ct ul.list li span.fr i.time{background:url(/img/time_01.png) no-repeat left center; padding:0 0 0 19px; margin-right:20px;}
.starnews_ct ul.list li span.fr i.browse{background:url(/img/browse_01.png) no-repeat left center; padding:0 0 0 20px;}
.blank30 {width: 100%;height: 30px;clear: both;}
.index_12{height:520px;border-top:1px dotted #ddd;overflow: hidden;}

.in_starphoto{clear:both; width:100%; margin:20px 0 0 0;}
.in_starphoto li{float:left; width:190px; height:250px; position:relative; overflow:hidden; margin:10px 0 0 10px;}
.in_starphoto li:nth-child(1){width:320px; height:510px; overflow:hidden; margin:10px 0 0 0;}
.in_starphoto li:nth-child(1) a img{width:320px; height:510px; overflow:hidden;object-fit:cover;}
.in_starphoto li:nth-child(4){width:390px; height:250px; overflow:hidden;}
.in_starphoto li:nth-child(4) a img{width:390px; height:250px; overflow:hidden;object-fit:cover;}
.in_starphoto li:nth-child(5){width:390px; height:250px; overflow:hidden;}
.in_starphoto li:nth-child(5) a img{width:390px; height:250px; overflow:hidden;object-fit:cover;}
.in_starphoto li a img{width:190px; height:250px; overflow:hidden;object-fit:cover;}
.in_starphoto li.w1{width:320px; height:510px; overflow:hidden; margin:10px 0 0 0;}
.in_starphoto li.w1 a img{width:320px; height:510px; overflow:hidden;object-fit:cover;}
.in_starphoto li.w2{width:390px; height:250px; overflow:hidden;}
.in_starphoto li.w2 a img{width:390px; height:250px; overflow:hidden;object-fit:cover;}
.in_starphoto li h3{height:44px; line-height:44px;font-weight: normal;position:absolute; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.6); padding:0 22px; font-size:17px; color:#fff; text-align:center;}
.in_starphoto li a:hover h3{color:#e30002;}
.index_13{height: 590px;overflow: hidden;}

.hot_search{clear:both; width:100%;margin-top: 30px;background-color:#f9f9f9; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; padding-bottom: 28px;}
.hot_search ul.hot_searchct{clear:both;width:1120px;margin:28px auto;}
.hot_searchct li{width:80px; height:28px; line-height:28px; overflow:hidden; float:left; margin:15px 10.5px 0 0; text-align:center; border:1px solid #ccc;-webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; border-radius:3px;}
.hot_searchct li.last{margin:15px 0 0 0;}
.hot_searchct li a{width:100%; height:100%; display:block; color:#333;font-size: 14px;}
.hot_searchct li:hover{border:1px solid #e30002; background-color:#e30002;}
.hot_searchct li:hover a{color:#fff;}

.in_link{clear:both; width:100%;}
.in_linkct{clear:both;width: 1120px;margin: 30px auto;height:102px;overflow: hidden;}
.in_linkct b{ width:110px; font-size:16px; display:block; color:#333; font-weight:bold; line-height:34px; height:34px; float:left; margin:0 15px 0 0;}
.in_linkct b i{width:3px; height:16px; display:block; background-color:#e30002; margin:9px 11px 0 0; float:left;}
.in_linkct b font{font-family:simsun; font-size:14px; font-weight:normal; margin:0 0 0 10px;}
.in_linkct p{float:left; line-height:34px; font-size:14px; color:#333;}
.in_linkct p a{color:#333; margin:0 24px 0 0; display:inline-block; float:left;}
.in_linkct p a:hover{color:#e30002;}

.footer{clear:both; width:100%; height:258px; border-top:2px solid #e30002; background-color:#2c2c2c;}
.footer .f_ct{width:1120px; clear:both; height:104px; margin:38px auto;}
.footer .f_ul{float:left;}
.footer .ul_r{margin-right:33px;}
.footer .last{margin-right:0;}
.footer .f_ul h3{font-size:16px; color:#fff; font-weight:bold; line-height:44px;}
.footer .f_ul ul.ul_w1{width:176px;}
.footer .f_ul ul.ul_w2{width:440px;}
.footer .f_ul ul.ul_w3{width:88px;}
.footer .f_ul ul li{font-size:14px; color:#aaa; line-height:30px; float:left; width:80px; margin:0 8px 0 0;}
.footer .f_ul ul li a{color:#aaa;}
.footer .f_ul ul li a:hover{color:#e30002;}
.footer p{clear:both; width:100%; height:66px; line-height:66px; color:#999; font-size:14px; border-top:1px solid #393939; text-align:center;}
.footer p a{color:#666;}

.chongwu_list{margin:20px auto;}
.crumbs-bar{padding-left: 27px; height: 26px; line-height: 26px; font-size: 0;position: relative;margin-bottom:13px;}
.crumbs-bar.large{width: 1213px; padding-top: 12px; padding-bottom: 12px}
.crumbs-bar a{padding-left: 16px;font-size: 14px;position: relative;display: inline-block;vertical-align: top;}
.crumbs-bar a:before{width: 7px; height: 8px; left: 5px; top: 50%; margin-top: -4px; background-image: url(/img/icon.png); background-position: -279px -122px; width: 7px; height: 8px;content: '\200B';position: absolute;}
.crumbs-bar a:first-child{padding-left: 0;}
.crumbs-bar a:first-child:before{background-image:none;}
.crumbs-bar:before{width: 18px; height: 21px; left: 0; top: 50%; margin-top: -11px; background-image: url(/img/icon.png); background-position: -278px -38px; width: 18px; height: 21px;content: '\200B';position: absolute;}
.crumbs-bar a{color: #666;}

.list_left{float: left;width: 760px;}
.list_left_right{float:right;width: 760px;}
.page_right{float: right;width: 300px;}
.page_right_left{float: left;width: 300px;}
.list_item{clear: both;text-align: justify; max-height: 160px; margin-bottom:20px; overflow: hidden;padding-bottom: 20px; border-bottom: 1px solid #ecebeb;}
.list_item .list_img{float: left;display: inline-block;width: 264px;height: 160px; margin-right: 20px; overflow: hidden; position: relative;}
.list_item .list_img img{width: 264px;height: 160px; transform: translate(0,0); transition: all .4s;object-fit:cover;}
.list_item .list_img:hover img{transform: scale(1.06, 1.06); transition: all .4s;}
.list_item .list_img em{display: inline-block;width: 42px;height: 25px;line-height: 25px;color: #fff;font-style: normal;padding-left: 8px;position: absolute;z-index: 10;top: 12px;left: 0px;overflow: hidden; background-image: url(/img/bg.png); background-repeat: no-repeat;}
.list_item .cw_shipin em{display: inline-block;width: 264px;height: 160px;line-height: 160px;font-size: 16px;text-align: center;font-weight: bold;color: #000000;font-style: normal;position: absolute;z-index: 10;padding: 0px;top:0;overflow: hidden;background: url(/img/cwlsbg.png) no-repeat;}
.list_item .cw_shipin em img{width:65px;height:65px;}
.list_item .list_img em.dig{background-position: -0px -150px;}
.list_item .list_img em.hot{background-position: -180px -150px;}
.list_item .list_img em.up{background-position: -60px -150px;}
.list_item .list_img em.orig{background-position: -120px -150px;}
.list_item .list_img em.select{background-position: -240px -150px;}
.list_item div{max-height: 126px; overflow: hidden;}
.list_item h3,.list_item h4{font-size: 20px;font-weight: bold; line-height: 30px; margin-bottom: 16px; text-align: left;}
.list_item h3 a,.list_item h4 a{color: #444;}
.list_item h3 a:hover,.list_item h4 a:hover{color: #FF3333;}
.list_item p.cnt{color: #999;font-size: 14px;line-height: 26px;max-height: 78px;overflow: hidden; word-wrap:break-word;}
.list_item p.view{color: #999; height: 22px; line-height: 22px;margin-top: 12px;}
.list_item p.view span{font-size: 12px; line-height: 30px;float: right;}
.list_item p.view em{padding-left: 25px; color: #e1a763; font-style: normal; background: url(img/bg.png) no-repeat -200px -100px;}
.list_item p.view a{display: inline-block; float: left; font-size: 12px; height: 20px; line-height: 20px; padding: 0 8px; text-align: center; color: #999; border: 1px solid #ccc; border-radius: 4px; font-family: "Simsun";}
.list_item p.view a:hover{color: #FF3333; border: 1px solid #FF3333;}

.root-list-pagination{margin: 23px -5px}
.root-list-pagination li{height: 32px; line-height: 32px; padding: 0 10px; border: solid 1px #ccc; margin: 0 5px;color: #666;vertical-align: top;font-size: 14px;display: inline-block;overflow: hidden;}
.root-list-pagination li.thisclass{background: #e30002;color: #fff;}


.page_rct{width:100%; border:1px solid #e9e9e9;}
.page_rnews{clear:both; width:250px; margin:5px auto 3px auto;}
.page_rnews li{clear:both; width:100%; clear:both; height:45px; border-bottom:1px dotted #ddd;}
.page_rnews li:last-child{border-bottom:none;}
.page_rnews li i{width:18px; height:18px; line-height:18px; margin:13px 10px 0 0; text-align:center; display:block; background-color:#c2c2c2; color:#fff; font-style:normal; float:left; font-family:arial;}
.page_rnews li i.up{background-color:#e30002;}
.page_rnews li:first-child i{background-color: #e30002;}
.page_rnews li:nth-child(2) i{background-color: #e30002;}
.page_rnews li:nth-child(3) i{background-color: #e30002;}
.page_rnews li p{font-size:15px; color:#333; line-height:45px; height:45px; overflow:hidden;}
.page_rnews li.last{border-bottom:0;}

.chongwuad{width:302px;height:220px;overflow:hidden;margin: 10px 0px;}
.chongwuad a img{width:302px;height:220px;}

.show_title{margin: auto;}
.show_title h1{height: auto;line-height: 50px;font-size: 32px;text-align: center; font-weight: bold;padding-top: 30px; padding-bottom: 18px;}
.show_title h2{height: auto;line-height: 30px;font-size: 22px;text-align: center; font-weight: bold; padding-bottom: 18px;}
.show_title span{display: block; font-size: 14px; line-height: 20px; color: #999999; text-align: center;}
.show_title span i{display: inline-block; height: 20px; line-height: 18px; font-style: normal; border: 1px solid #a0a0a0; padding: 0px 6px; border-radius: 4px; color: #808080; box-sizing: border-box;}
.show_title span a{color: #999999;}
.show_title span a:hover{color: #FF3333;}

.show_cnt{color: #333333; font-size: 18px; line-height: 2em; text-align: justify;margin: 30px auto;word-wrap:break-word;}
.show_cnt p,.show_cnt div,.show_cnt blockquote{color: #333333; font-size: 18px; line-height: 2em; text-align: justify; margin-bottom: 18px; word-wrap:break-word; /*text-indent: 2em;*/}
.show_cnt p{text-indent: 2em;}
.show_cnt h2{font-weight:bold;color: #333333;background: #f6f6f6; border-left: 5px solid #9852CC;font-size: 18px; line-height: 2em; text-align: justify; padding:5px 10px; margin-bottom: 18px; word-wrap:break-word;}
.show_cnt p:last-child,.show_cnt div:last-child,.show_cnt blockquote:last-child{margin-bottom: 0;}
.show_cnt a{color: #942cdc;}
.show_cnt a:hover{color: #FF3333;text-decoration: underline;}
.show_cnt img{max-width: 100%;margin-left: auto;margin-right: auto;display: block;}
.show_cnt .ARTICLE_INDEX a{display: block; float: left; width: 48%; height: 36px; line-height: 36px; white-space: nowrap; overflow: hidden; text-align: right; padding-right: 2%; box-sizing: border-box; text-overflow: ellipsis;}
.show_cnt .ARTICLE_INDEX a:nth-child(2n){text-align: left; padding-left: 2%; padding-right: 0;}
.show_cnt .ARTICLE_INDEX:after{clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.show_cnt .orgin{text-indent: 0em; color: #ee6666; font-size: 18px; text-align: center;}
.show_cnt:after{clear: both; content: "."; display: block; height: 0; visibility: hidden;}

.show_left{float: left;width: 700px; padding: 0px 44px; border: 1px solid #eaeaea;}

.hotpic_box{width:790px;overflow: hidden;padding: 30px 0;}
.hotpic_box span.tit{display:block;width:100px; height:20px; font-size:16px; color:#6C3E86; background: url(/img/bg.png) no-repeat -130px -43px; font-weight: bold;}
.hotpic_box ul{width:790px;}
.hotpic_box ul:after{clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.hotpic_box ul li{float: left; width: 188px; height: 125px; margin-top: 12px; margin-right: 12px; text-align: center; position: relative;}
.hotpic_box ul li:nth-child(4){margin-right: 0px;}
.hotpic_box ul li:nth-child(8){margin-right: 0px;}
.hotpic_box ul li.last{margin-right:0px;}
.hotpic_box ul li img{width: 188px; height:125px;object-fit:cover;}
.hotpic_box ul li span{display: inline-block;width:188px; height:auto;line-height:1.4em;text-align:left;font-size: 14px;color: #fff; padding: 4px 6px; box-sizing: border-box; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: absolute; bottom: 0px; left: 0px; background-color: rgba(0,0,0,0.6); background-color: #000\9; filter: alpha(Opacity=75)\9; -moz-opacity: 0.75\9; opacity: 0.75\9;}
.hotpic_box ul li:hover span{white-space: normal;}
.hotpic_box ul li:hover span{white-space: normal;}

.cwxunlian{width:760px;margin: 20px auto;overflow:hidden;}
.question-v3{padding: 20px 0;background-color: #fff;border-bottom: 1px dotted #ddd;}
.question-v3 .question-title h2{font-size: 20px; line-height: 28px; margin: 0;}
.question-v3 .question-title h2 a{cursor: pointer; color: #333; font-weight: 700;}
.question-v3 .question-info{margin-top: 8px; font-size: 12px; color: #999;}
.question-v3 .question-answers{padding: 16px 0 0;}
.question-v3:after{content: "."; visibility: hidden; width: 100%; display: block; height: 1px; overflow: hidden;}
.answer-item-v3 .answer-info .answer-info-user-avatar img{width: 20px; height: 20px; border-radius: 10px;}
.answer-item-v3 .answer-item-pic{float: right; font-size: 0; width:220px;height:126px;overflow: hidden; margin-left: 20px;}
.answer-item-v3 .answer-item-pic a{}
.answer-item-v3 .answer-item-pic img{width:220px;height:126px;}
.answer-item-v3.has-pic .answer-info, .answer-item-v3.has-pic .answer-item-content{padding-right: 240px;margin-top: 8px;}
.answer-item-v3 .answer-info{line-height: 20px; color: #333; font-size: 0;}
.answer-item-v3 .answer-info .answer-info-user-title{vertical-align: middle;font-size: 12px;display: inline-block; height: 10px; border-left: 1px solid #333; line-height: 10px; margin-left: 6px; padding-left: 6px;}
.answer-item-v3 .answer-item-content p{font-size: 14px; line-height: 22px; color: #333;}
.answer-item-v3 .answer-item-content p a:visited{color: #333;}
.answer-item-v3 .answer-oper{height: 20px; margin-top: 12px; font-size: 0;}
.answer-item-v3 .answer-info .answer-info-user-name{margin-left: 6px; font-size: 12px; font-weight: 700;}
.answer-item-v3 .answer-info .answer-info-user *{font-size: 12px; vertical-align: middle;}
.answer-item-v3 .answer-info .answer-info-user-avatar{position: relative; font-size: 0; display: inline-block;}
.answer-item-v3 .answer-oper a{height: 20px; line-height: 20px; margin-right: 36px; color: gray;}
.answer-item-v3 .answer-oper a i.iconfont, .answer-item-v3 .answer-oper-my a i.iconfont{color: #cacaca;}
.answer-item-v3 .answer-oper a span, .answer-item-v3 .answer-oper-my a span{font-size: 14px;}
.w-like .like-num{position: relative;}
.w-like i{font-size:20px; margin-right: 6px;}
.answer-item-v3 .answer-item-content .answer-item-whole{color: #4173af;}

.arccontent{border: 1px solid #e6e6e6; padding: 10px 10px; position: relative;line-height: 28px; margin: 16px 0 10px; font-size: 16px; font-family: Microsoft Yahei; text-indent: 2em;}
.score{width: 47%; display: inline-block;}
.score small{font-size: 12px;}
.arccontent .layui-inline{display: inline !important;text-indent: 0 !important;position: relative;}
.arccontent .layui-rate, .arccontent .layui-inline{display: inline !important;padding: 10px 5px 10px 0; font-size: 0;text-indent: 0 !important;}
.layui-rate li i.layui-icon{font-size: 20px; color: #FFB800;}
.arccontent .layui-rate li i.layui-icon{margin-right: 0 !important;}
.arccontent span.layui-inline{font-size:12px;}
.layui-icon{font-family: layui-icon!important;}
.layui-btn-sm{height: 30px; line-height: 30px; padding: 0 10px; font-size: 12px;}
.layui-btn-danger{background-color: #FF5722;}
.layui-btn{display: inline-block;color: #fff; white-space: nowrap; text-align: center;border: none; border-radius: 2px; cursor: pointer;}
.arccontent i.arc1{border-top: 2px solid #ff5555; border-left: 2px solid #ff5555; position: absolute; left: -2px; top: -2px; width: 30px; height: 28px;}
.arccontent i.arc2{border-top: 2px solid #ff5555; border-right:2px solid #ff5555; position: absolute; top: -2px; right: -2px; width: 30px; height: 28px;}
.arccontent i.arc3{border-left: 2px solid #ff5555; border-bottom: 2px solid #ff5555; position: absolute; left: -2px; bottom: -2px; width: 30px; height: 28px;}
.arccontent i.arc4{border-bottom: 2px solid #ff5555; border-right: 2px solid #ff5555; position: absolute; right: -2px; bottom: -2px; width: 30px; height: 28px;}
.layui-inline code,.layui-inline code i{background: url(/img/star1.png) no-repeat;}
.layui-inline code{display: inline-block; margin-top:5px; width: 200px; height: 18px; position: absolute;}
.layui-inline code i{background-position:0 -18px;position:absolute;left:0;top:0;height:18px;}
.layui-inline .star1 i{width:20px}
.layui-inline .star2 i{width:40px}
.layui-inline .star3 i{width:60px;}
.layui-inline .star4 i{width:80px}
.layui-inline .star5 i{width:100px}
.layui-inline .star6 i{width:120px}
.layui-inline .star7 i{width:140px}
.layui-inline .star8 i{width:160px}
.layui-inline .star9 i{width:180px}
.layui-inline .star10 i{width:200px}

.cwmain{width:100%;}
.cwmain h1{width:100%;height:50px;line-height:35px;font-size:35px;}
.cwmain h1 i{margin-left:20px;height:50px;line-height:35px;font-size:22px;color:#ef8a3a;font-weight:bold;font-style:normal;}
.cwmain p{display:block;line-height:2em;font-size:16px;text-indent:2em;}

.cwintro{width:100%;height:245px;}
.cwintro ul.cwintro_left{float:left;width:48%;margin:10px 1%;}
.cwintro ul.cwintro_left li{width:95%;height:30px;line-height: 30px;margin: 10px;border-radius:5px;border:1px solid #d3d3dc;}
.cwintro ul.cwintro_left li span{width:40%;background:#d3d3dc;color:#000;font-size:14px;display: block; float: left;text-align: center;border-radius: 5px 0 0 5px;}
.cwintro ul.cwintro_left li i{width:60%;display: block; float:right;font-style:normal;text-align: center;}
.cwintro ul.cwintro_right{float:right;width:48%;margin:10px 1%;}
.cwintro ul.cwintro_right li{width:95%;height:30px;line-height: 30px;margin: 10px;border-radius:5px;border:1px solid #d3d3dc;}
.cwintro ul.cwintro_right li span{width:40%;background:#d3d3dc;color:#000;font-size:14px;display: block; float: left;text-align: center;border-radius: 5px 0 0 5px;}
.cwintro ul.cwintro_right li i{width:60%;display: block; float:right;font-style:normal;text-align: center;}

.page_chongwu_left{float:left;width:300px;height:360px;margin-bottom:10px;border:1px solid #e9e9e9;}
.page_chongwu_left span{padding:10px;display: block;}
.page_chongwu_left span img{width:280px;height:340px;}

.xunlian_way{width:100%;height:40px;margin: 20px auto;border-bottom:1px solid #e9e9e9}
.xunlian_way span{display:block;font-size:20px;font-weight:bold;float:left;padding-bottom:9px;border-bottom:2px solid #ff0000;}
.xunlian_way  a{display:block;font-size:14px;float:right;line-height: 40px;}