/*/public/css/maigoo/v2019/color.css*/
/*公共颜色*/
.fff{ color:#fff;}
a.fff:hover,a.fff.active{ color:#fe741c;}
.c000{ color:#000;}/*主要文字*/
a.c000:hover,a.c000.active{ color:#fe741c;}
.c333{ color:#333;}/*主要文字*/
a.c333:hover,a.c333.active{ color:#fe741c;}
.c666{ color:#666;}/*次要文字*/
a.c666:hover,a.c666.active{ color:#fe741c;}
.c888{ color:#888;}/*次要文字*/
a.c888:hover,a.c888.active{ color:#fe741c;}
.c999{ color:#999;}/*次要文字*/
a.c999:hover,a.c999.active{ color:#fe741c;}
.ccc{ color:#ccc;}/*辅助文字*/
a.ccc:hover,a.ccc.active{ color:#fe741c;}
.eee{ color:#eee;}/*边框*/
a.eee:hover,a.eee.active{ color:#fe741c;}

.bgccc{ background:#ccc}
.bgeee{ background:#eee}
.bgfff{ background:#fff}
.bgorange{background:#fe741c;}

.red{ color:#CA0606}
.orange{ color:#fe741c}
.cfe741c{ color:#fe741c;}/*序号1*/
a.cfe741c:hover,a.cfe741c.active{ color:#f60;}
.cfdb80c{ color:#fdb80c;}/*序号2*/
a.cfdb80c:hover,a.cfdb80c.active{ color:#fe741c;}
.cffdc00{ color:#ffdc00;}/*序号3*/
a.cffdc00:hover,a.cffdc00.active{ color:#fe741c;}
.cf12828{ color:#f12828;}/*强调*/
a.cf12828:hover,a.cf12828.active{ color:#fe741c;}
.c0a0139{ color:#0a0139;}
a.c0a0139:hover,a.c0a0139.active{ color:#fe741c;}

.cffff00,.cffff00 a{ color:#ffff00;}/*头部导航*/
a.cffff00:hover,a.cffff00.active,.cffff00 a:hover{ color:#fe741c;}

/*皮肤颜色1*/
.color1,.color1 a{ color:#555ba6}/*主色*/
.color1 a:hover,a.color1:hover,a.color1.active{ color:#fe741c;}
.color2,.color2 a{ color:#44476c}/*文章标题*/
.color2 a:hover,a.color2:hover,a.color2.active{ color:#fe741c;}
.color3,.color3 a{ color:#28166f}/*标题辅色*/
.color3 a:hover,a.color3:hover,a.color3.active{ color:#fe741c;}
.color4,.color4 a{ color:#8d99b8}/*文字辅色*/
.color4 a:hover,a.color4:hover,a.color4.active{ color:#fe741c;}
.color5,.color5 a{ color:#8d99b8; border-color:rgba(141, 153, 184, 0.3);}/*文章模版标签颜色*/
.color5 a:hover,a.color5:hover,a.color5.active{ color:#fe741c;}
.bg1{ background:#555ba6}/*主色背景*/
.bg2{ background:#e6e7f2}/*辅色背景*/
.bg3{ background:#28166f}/*辅色背景－深色*/
.bg4{ background:#f9f9f9}/*辅色背景－浅色*/
.bd1{ border-color:#555ba6}/*主色边框*/
.bd2{ border-color:#e6e7f2}/*辅色边框*/

.li_1.num1{background:rgba(85,91,166,0.2);}
.li_1.num2{background:rgba(85,91,166,0.15);}
.li_1.num3{background:rgba(85,91,166,0.1);}
.li_1.num1 i { background:#555ba6;}
.li_1.num2 i { background:rgba(85,91,166,0.7);}
.li_1.num3 i { background:rgba(85,91,166,0.4);}

/*皮肤颜色2*/
.blockstyle2 .color1,.blockstyle2 .color1 a{ color:#be0f1b}/*主色*/
.blockstyle2 .color1 a:hover,.blockstyle2 a.color1:hover,.blockstyle2 a.color1.active{ color:#fe741c;}
.blockstyle2 .color2,.blockstyle2 .color2 a{ color:#333333}/*文章标题*/
.blockstyle2 .color2 a:hover,.blockstyle2 a.color2:hover,.blockstyle2 a.color2.active{ color:#fe741c;}
.blockstyle2 .color3,.blockstyle2 .color3 a{ color:#a91324}/*标题辅色*/
.blockstyle2 .color3 a:hover,.blockstyle2 a.color3:hover,.blockstyle2 a.color3.active{ color:#fe741c;}
.blockstyle2 .color4,.blockstyle2 .color4 a{ color:#de878d}/*文字辅色*/
.blockstyle2 .color4 a:hover,.blockstyle2 a.color4:hover,.blockstyle2 a.color4.active{ color:#fe741c;}
.blockstyle2 .color5,.blockstyle2 .color5 a{ color:#de878d; border-color:rgba(222, 135, 141, 0.3);}/*文章模版标签颜色*/
.blockstyle2 .color5 a:hover,.blockstyle2 a.color5:hover,.blockstyle2 a.color5.active{ color:#fe741c;}
.blockstyle2 .bg1{ background:#be0f1b}/*主色背景*/
.blockstyle2 .bg2{ background:#f8e7e8}/*辅色背景*/
.blockstyle2 .bg3{ background:#a91324}/*辅色背景－深色*/
.blockstyle2 .bg4{ background:#F6F1DC}/*辅色背景－浅色*/
.blockstyle2 .bd1{ border-color:#be0f1b}/*主色边框*/
.blockstyle2 .bd2{ border-color:#eed5ca}/*辅色边框*/
.tab.style1.blockstyle2>.tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#be0f1b;}
.blockstyle2 .tab > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .li_1.num1{background:rgba(190,15,27,0.2);}
.blockstyle2 .li_1.num2{background:rgba(190,15,27,0.15);}
.blockstyle2 .li_1.num3{background:rgba(190,15,27,0.1);}
.blockstyle2 .li_1.num1 i { background:#be0f1b;}
.blockstyle2 .li_1.num2 i { background:rgba(190,15,27,0.7);}
.blockstyle2 .li_1.num3 i { background:rgba(190,15,27,0.4);}
/*皮肤颜色3*/
.blockstyle3 .color1,.blockstyle3 .color1 a{ color:#87a5b5}/*主色*/
.blockstyle3 .color1 a:hover,.blockstyle3 a.color1:hover,.blockstyle3 a.color1.active{ color:#fe741c;}
.blockstyle3 .color2,.blockstyle3 .color2 a{ color:#44476c}/*文章标题*/
.blockstyle3 .color2 a:hover,.blockstyle3 a.color2:hover,.blockstyle3 a.color2.active{ color:#fe741c;}
.blockstyle3 .color3,.blockstyle3 .color3 a{ color:#b7c9d3}/*标题辅色*/
.blockstyle3 .color3 a:hover,.blockstyle3 a.color3:hover,.blockstyle3 a.color3.active{ color:#fe741c;}
.blockstyle3 .color4,.blockstyle3 .color4 a{ color:#abc0cb}/*文字辅色*/
.blockstyle3 .color4 a:hover,.blockstyle3 a.color4:hover,.blockstyle3 a.color4.active{ color:#fe741c;}
.blockstyle3 .color5,.blockstyle3 .color5 a{ color:#97b5c5; border-color:rgba(151, 181, 197, 0.3);}/*文章模版标签颜色*/
.blockstyle3 .color5 a:hover,.blockstyle3 a.color5:hover,.blockstyle3 a.color5.active{ color:#fe741c;}
.blockstyle3 .bg1{ background:#87a5b5}/*主色背景*/
.blockstyle3 .bg2{ background:#edf2f4}/*辅色背景*/
.blockstyle3 .bg3{ background:#b7c9d3}/*辅色背景－深色*/
.blockstyle3 .bg4{ background:#f9f9f9}/*辅色背景－浅色*/
.blockstyle3 .bd1{ border-color:#87a5b5}/*主色背景*/
.blockstyle3 .bd2{ border-color:#edf2f4}/*辅色背景*/
.tab.style1.blockstyle3>.tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#87a5b5;}
.blockstyle3 .tab > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .li_1.num1{background:rgba(135,165,181,0.2);}
.blockstyle3 .li_1.num2{background:rgba(135,165,181,0.15);}
.blockstyle3 .li_1.num3{background:rgba(135,165,181,0.1);}
.blockstyle3 .li_1.num1 i { background:#87a5b5;}
.blockstyle3 .li_1.num2 i { background:rgba(135,165,181,0.7);}
.blockstyle3 .li_1.num3 i { background:rgba(135,165,181,0.4);}


/*/public/css/maigoo/v2019/weui.min.css*/
.weui_dialog{position:fixed;z-index:2147483647;width: 400px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fafafc;text-align:center;border-radius: 11px;overflow:hidden;}.weui_dialog_confirm .weui_dialog .weui_dialog_hd{padding:1em 40px}.weui_dialog_confirm .weui_dialog .weui_dialog_bd{text-align:left;}.weui_dialog_hd{padding: 0.6em 0;}.weui_dialog_title{font-weight:400;font-size: 24px;}.weui_dialog_bd{padding: 0 30px 10px 30px;color:#666;line-height:1.8em;text-align:left;}.weui_dialog_ft{position:relative;line-height: 60px;font-size: 24px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.weui_dialog_ft a{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.weui_dialog_ft a:active{background-color:#eee}.weui_dialog_ft:after{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_dialog_confirm .weui_dialog_ft a{position:relative}.weui_dialog_confirm .weui_dialog_ft a:after{content:" ";position:absolute;left:0;top:0;width:1px;height:100%;border-left:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(.5);transform:scaleX(.5)}.weui_dialog_confirm .weui_dialog_ft a:first-child:after{display:none}.weui_btn_dialog.default{color:#353535}.weui_btn_dialog.primary{color:#383f90}@media screen and (min-width:1024px){.weui_dialog{width: 400px;}}.weui_toast{position:fixed;z-index:2147483647;width:8.6em;min-height:7.6em;top:180px;left:50%;margin-left:-3.8em;background:rgba(40,40,40,.75);text-align:center;border-radius:5px;color:#fff}.weui_icon_toast{margin:10px 0 0;display:block;font-size:30px}.weui_toast_content{margin:0 0 15px}.weui_loading_toast .weui_toast_content{margin-top:64%;font-size:14px}.weui_loading{position:absolute;width:0;z-index:2147483647;left:50%;top:38%}.weui_loading_leaf{position:absolute;top:-1px;opacity:.25}.weui_loading_leaf:before{content:" ";position:absolute;width:16.28px;height:6.16px;background:#d1d1d5;box-shadow:rgba(0,0,0,.0980392) 0 0 1px;border-radius:1px;-webkit-transform-origin:left 50% 0;transform-origin:left 50% 0}.weui_loading_leaf_0{-webkit-animation:a 1.25s linear infinite;animation:a 1.25s linear infinite}.weui_loading_leaf_0:before{-webkit-transform:rotate(0deg) translate(15.84px);transform:rotate(0deg) translate(15.84px)}.weui_loading_leaf_1{-webkit-animation:b 1.25s linear infinite;animation:b 1.25s linear infinite}.weui_loading_leaf_1:before{-webkit-transform:rotate(30deg) translate(15.84px);transform:rotate(30deg) translate(15.84px)}.weui_loading_leaf_2{-webkit-animation:c 1.25s linear infinite;animation:c 1.25s linear infinite}.weui_loading_leaf_2:before{-webkit-transform:rotate(60deg) translate(15.84px);transform:rotate(60deg) translate(15.84px)}.weui_loading_leaf_3{-webkit-animation:d 1.25s linear infinite;animation:d 1.25s linear infinite}.weui_loading_leaf_3:before{-webkit-transform:rotate(90deg) translate(15.84px);transform:rotate(90deg) translate(15.84px)}.weui_loading_leaf_4{-webkit-animation:e 1.25s linear infinite;animation:e 1.25s linear infinite}.weui_loading_leaf_4:before{-webkit-transform:rotate(120deg) translate(15.84px);transform:rotate(120deg) translate(15.84px)}.weui_loading_leaf_5{-webkit-animation:f 1.25s linear infinite;animation:f 1.25s linear infinite}.weui_loading_leaf_5:before{-webkit-transform:rotate(150deg) translate(15.84px);transform:rotate(150deg) translate(15.84px)}.weui_loading_leaf_6{-webkit-animation:g 1.25s linear infinite;animation:g 1.25s linear infinite}.weui_loading_leaf_6:before{-webkit-transform:rotate(180deg) translate(15.84px);transform:rotate(180deg) translate(15.84px)}.weui_loading_leaf_7{-webkit-animation:h 1.25s linear infinite;animation:h 1.25s linear infinite}.weui_loading_leaf_7:before{-webkit-transform:rotate(210deg) translate(15.84px);transform:rotate(210deg) translate(15.84px)}.weui_loading_leaf_8{-webkit-animation:i 1.25s linear infinite;animation:i 1.25s linear infinite}.weui_loading_leaf_8:before{-webkit-transform:rotate(240deg) translate(15.84px);transform:rotate(240deg) translate(15.84px)}.weui_loading_leaf_9{-webkit-animation:j 1.25s linear infinite;animation:j 1.25s linear infinite}.weui_loading_leaf_9:before{-webkit-transform:rotate(270deg) translate(15.84px);transform:rotate(270deg) translate(15.84px)}.weui_loading_leaf_10{-webkit-animation:k 1.25s linear infinite;animation:k 1.25s linear infinite}.weui_loading_leaf_10:before{-webkit-transform:rotate(300deg) translate(15.84px);transform:rotate(300deg) translate(15.84px)}.weui_loading_leaf_11{-webkit-animation:l 1.25s linear infinite;animation:l 1.25s linear infinite}.weui_loading_leaf_11:before{-webkit-transform:rotate(330deg) translate(15.84px);transform:rotate(330deg) translate(15.84px)}
@-webkit-keyframes a{0%,0.01%{opacity:.25}0.02%{opacity:1}60.01%,to{opacity:.25}}@-webkit-keyframes b{0%,8.34333%{opacity:.25}8.35333%{opacity:1}68.3433%,to{opacity:.25}}@-webkit-keyframes c{0%,16.6767%{opacity:.25}16.6867%{opacity:1}76.6767%,to{opacity:.25}}@-webkit-keyframes d{0%,25.01%{opacity:.25}25.02%{opacity:1}85.01%,to{opacity:.25}}@-webkit-keyframes e{0%,33.3433%{opacity:.25}33.3533%{opacity:1}93.3433%,to{opacity:.25}}@-webkit-keyframes f{0%{opacity:.270958333333333}41.6767%{opacity:.25}41.6867%{opacity:1}1.67667%{opacity:.25}to{opacity:.270958333333333}}@-webkit-keyframes g{0%{opacity:.375125}50.01%{opacity:.25}50.02%{opacity:1}10.01%{opacity:.25}to{opacity:.375125}}@-webkit-keyframes h{0%{opacity:.479291666666667}58.3433%{opacity:.25}58.3533%{opacity:1}18.3433%{opacity:.25}to{opacity:.479291666666667}}@-webkit-keyframes i{0%{opacity:.583458333333333}66.6767%{opacity:.25}66.6867%{opacity:1}26.6767%{opacity:.25}to{opacity:.583458333333333}}@-webkit-keyframes j{0%{opacity:.687625}75.01%{opacity:.25}75.02%{opacity:1}35.01%{opacity:.25}to{opacity:.687625}}@-webkit-keyframes k{0%{opacity:.791791666666667}83.3433%{opacity:.25}83.3533%{opacity:1}43.3433%{opacity:.25}to{opacity:.791791666666667}}@-webkit-keyframes l{0%{opacity:.895958333333333}91.6767%{opacity:.25}91.6867%{opacity:1}51.6767%{opacity:.25}to{opacity:.895958333333333}}.weui_mask{background:rgba(0,0,0,.3)}.weui_mask,.weui_mask_transition,.weui_mask_transparent{position:fixed;z-index:2147483647;width:100%;height:100%;top:0;left:0}.weui_mask_transition{display:none;background:transparent;-webkit-transition:background .3s;transition:background .3s}.weui_fade_toggle{background:rgba(0,0,0,.6)}.weui_actionsheet{position:fixed;left:0;bottom:0;z-index:2147483647;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;width:100%;background-color:#efeff4;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s;opacity:0}.weui_actionsheet_menu{background-color:#fff}.weui_actionsheet_action{margin-top:12px;background-color:#fff}.weui_actionsheet_cell{position:relative;padding:20px 0;text-align:center;font-size:18px}.weui_actionsheet_cell:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d9d9d9;color:#d9d9d9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_actionsheet_cell:active{background-color:#ececec}.weui_actionsheet_cell:first-child:before{display:none}.weui_actionsheet_toggle{-webkit-transform:translate(0);transform:translate(0);opacity:1}.textToast{min-width:200px; max-width:90%; padding:0.5em;max-height:4.6em; font-size:18px;line-height:1.8em;text-align:center;color:#fff!important;border-radius:10px;background-color:rgba(80,80,80,0.8);position:fixed;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:none; z-index:2147483647}.textToastShow{display:block;-webkit-animation:textToastShow 3s .2s ease-in-out;animation:textToastShow 3s .2s ease-in-out}@-webkit-keyframes textToastShow{1%{ top:100%;}10%{opacity:1; top:80%;}80%{opacity:1; top:80%;}100%{opacity:0; top:80%;}}@keyframes textToastShow{0%{ top:100%;}10%{opacity:1; top:80%;}80%{opacity:1; top:80%;}100%{opacity:0; top:80%;}}

/*/public/css/maigoo/v2019/block/publicblock/adslist.css*/
.adslist{ padding:20px 0;}
.adslist .slice{ display:block;overflow: hidden; }
.adslist .slice img{ display:block; border-radius:20px; width:100%;}
.adslist .slice .title{ text-align:center; position: absolute; bottom:0; left: 0; width: 100%;height: 45px;  z-index: 2; background: rgba(0,0,0,.3); line-height: 45px; border-radius:0 0 20px 20px;}
.adslist.noradio .slice img{ border-radius:0;} 

/*/public/css/maigoo/v2019/block/company/topinfo.css*/
.companytopinfo{ padding:0; }
.companytopinfo .img{ float:left; margin-right:20px;}
.companytopinfo ul{line-height:1.8em;}
.companytopinfo ul li{ border-bottom:solid 1px #eee; padding:0.52em 0;}
.companytopinfo ul li.warning{ color:red}
.companytopinfo ul li:last-child{ border-bottom:none;}
.companytopinfo ul.nomore li:nth-child(n+7){ display:none;}
.companytopinfo li.title img{ max-height:1.2em; vertical-align:middle; display:inline-block;}


/*/public/css/maigoo/v2019/block/brand/col1.css*/

.brandcol1 .blocktitle{ margin-bottom:-20px;}
.brandcol1 li{padding: 10px 0;}
.brandcol1 li .img {display: table-cell;vertical-align: middle;}
.brandcol1 li .img a{ display:block;border: solid 1px #CCC;position:relative;}
.brandcol1 li .img .imgbox {overflow: hidden;line-height: 0px;width:207px;height:90px; position:relative; z-index:2; padding: 3px;background: #fff; }
.brandcol1 li .img a:after {content: ""; width:213px; height: 96px; background: rgba(0,0,0,0.1);
 transform: rotate(-3deg); position: absolute; left: 0px; top: 0;z-index: 1;}
.brandcol1 li .img .imgbox img {width: 100%;display: block;}
.brandcol1 li .img em {width: 207px;display: block;line-height: 1.8em;background-color: #eee;text-align: center;padding: 0px 10px;box-sizing: border-box;}
.brandcol1 li .info {display: table-cell;vertical-align: middle; line-height: 1.8em;padding: 0 0 0 20px;}
.brandcol1 li .info .h3em {max-height: 5.4em;overflow: hidden;}


/*/public/css/maigoo/v2019/block/publicblock/articlelist.css*/

.articlelist .blocktitle{ margin-bottom:-20px;}
.articlelist.nomtop .itembox{ margin-top:0px;}
.articlelist>ul>.item{ padding:15px 0; border-bottom:1px solid #eee; position:relative;}
.blockstyle2 .articlelist>ul>.item{border-bottom-color:#eae5cb;}
.articlelist .img{display: table-cell;padding-left: 15px; position:relative;}
.articlelist .img a{ display:block; width:220px; height:137px;overflow:hidden;}
.articlelist .img img{ width:100%; display:block;transition: all ease-in-out 300ms;}
.articlelist .img a:hover img {transform: scale(1.1);}
.articlelist .tablecell{display: table-cell;width: 90%;vertical-align: middle;text-align: left;}
.articlelist .contbox{ width:600px;}
.searchselect .articlelist .contbox{ width:560px;}
.articlelist .contbox .title{ line-height:1.8em; max-height:1.8em; padding-bottom:4px;}
.articlelist .contbox .description{ max-height:3.6em; overflow:hidden;}
.articlelist>ul>.item.nopic .contbox .title{ height:auto;}
.articlelist>ul>.item .biaoshibox{display: inline-block; position: absolute; left: 7px; top: 0; line-height:2em; z-index: 1;padding:0px 6px 0px 10px;}
.articlelist>ul>.item .biaoshibox .name{ color: #fff; }
.articlelist>ul>.item .biaoshibox:before{ contboxent:""; display:inline-block; border-top:16px solid; border-right:10px solid transparent; position: absolute; right: -10px; top:0px;}
.articlelist>ul>.item .biaoshibox:after{ contboxent:""; display:inline-block; border-bottom:16px solid; border-right:10px solid transparent; position: absolute; right: -10px; bottom:0px;}
.articlelist>ul>.item .biaoshibox .sjx{ display:inline-block; border-top:8px solid; border-left:8px solid transparent; position: absolute; left: 0px; bottom:-8px; }
.articlelist .contbox .piclist { margin-top:10px; position:relative;}
.articlelist>ul>.item .piclist .biaoshibox { top:10px;}
.articlelist .contbox .piclist .picimg{ width:260px; height:170px; float:left; margin-left:30px; background-position:center center; background-size: cover;}
.articlelist.tukupiclist .contbox .piclist .picimg{ height:260px;}
.articlelist .contbox .piclist .picimg.first{ margin-left:0px;}
.articlelist .contbox .piclist .picimg img{ display:block; margin:0px auto; max-width:100%;}
.articlelist .contbox .other{ padding-top:5px; position:relative; overflow:hidden; padding-right:100px;}
.articlelist .contbox .other .isyuan{display:inline-block;padding:1px 8px; line-height:1.8em; border-radius:1px;margin-right:3px;}
.articlelist .contbox .other a.biaoqian{ display:inline-block; border-width:1px; border-style:solid;padding:0 5px; line-height:1.8em;margin-right:3px;}
.articlelist .contbox .other a.biaoqian:hover{ color:#f60}
.articlelist .contbox .other a.zoneinfo{display:inline-block;line-height:1.5em; height:2em;}
.articlelist .contbox .other a.zoneinfo img{width: 1.4em;height: 1.4em;border-radius: 50%;vertical-align: middle;margin-right: 10px;}
.articlelist .contbox .other .attention{ position:absolute; right:0; bottom:0; min-width:100px; color:#ccc; line-height:2em; text-align:right;}

.articlelist>ul>.item.nopic .tablecell{ display:block; width:100%;}
.articlelist>ul>.item.nopic .contbox{ width:auto;}

.articlelist.zhaoshang .contbox .title{ color:#333;}

.articlelist ul{ counter-reset:li;}

.articlelist>ul>.item .productbox{ display:none;}
.articlelist>ul>.item .probtn{border-top: solid 1px #EEE;margin-top: 15px;padding-top: 15px; color:#fc8142}
.articlelist>ul>.item .probtn:after{ content:"热销产品∨";}
.articlelist>ul>.item.active .productbox{ display:block;}
.articlelist>ul>.item.active .probtn:after{ content:"收起产品∧";}
.articlelist>ul>.item.active .productbox:after{ content:""; clear:both; display:block;}

.articlelist>ul>.item .productbox .productcol{padding: 10px 0 0 0;}

.articlelist>ul>.item.hasbg:hover{background-color: #f7f7f7;margin: 0 -12px;border: solid 2px #fc8142;padding: 13px 10px 14px 10px;}
.articlelist .item .brandlist{ display:inline-block; margin-left:10px;}
.articlelist .item .zsbrandlist{ display:flex;align-items: center;}
.articlelist .item .zsbrandlist .icon-gonggao { margin-left:5px;}
.articlelist .item .zsbrandlist .zslist{height: 2em; overflow: hidden;}
.articlelist .item .zsbrandlist .zslist a{ display:inline-block; margin:0px 5px;vertical-align:middle;}
.articlelist .item .zsbrandlist img { max-height: 1.5em;  display: inline-block; vertical-align:middle; }

.articlelist .item .alevel{ height: 25px; line-height: 22px;display: inline-block;vertical-align: middle;}

.articlelist .itemscroll{ overflow:hidden;}


.articlelist.col2 .itembox{margin-top: 15px;}
.articlelist.col2 .item{ width:49.4%; float:left;padding: 10px;box-sizing: border-box; background-color:#FFF;}
.articlelist.col2 .item:nth-child(2n){ float: right}
.articlelist.col2 .contbox{ width:400px;}
.articlelist.col2 .contbox .title{ font-size:16px; padding-bottom:0;}
.articlelist.col2 .other .bq:nth-child(3){ display:none;}
.articlelist.col2 .img{ vertical-align:middle;padding-left: 10px;}
.articlelist.col2 .img a{ width:150px; height:93px;}
.articlelist.col2 .img img{ width:150px;}
.articlelist.col2 ul:after{ content:""; clear:both; display:block;}

/*/public/css/maigoo/v2019/block/company/scrollbox.css*/
.companypiclist{margin: 0;overflow: hidden;position: relative;}
.companypiclist .scrollbox{overflow-y: hidden; overflow-x:scroll;white-space: nowrap;}
.companypiclist .scrollbox::-webkit-scrollbar { width:0; height:0;}
.companypiclist .scrollbox ul{display: table-cell;}
.companypiclist .scrollbox ul li{display: table-cell;padding:5px 10px 8px 0;}
.companypiclist .scrollbox ul li .desc{height:2em;width:100%;}
.companypiclist .scrollbox ul li.clickimg .img{ width:250px; height:160px;}
.companypiclist .scrollbox ul li.clickimg.gao .img{ width:102px; height:160px;}

/*/public/css/maigoo/v2019/block/publicblock/articlepraise.css*/
.articlepraise{margin-top: 30px;}

.articlepraise .dianzhan{ margin-right:20px; background-color:#FFDC00;}
.articlepraise .xiajiang{ background-color:#EEEEEE; color:#999999}
.articlepraise .dianzhan,.articlepraise .xiajiang{padding:0px 10px; display:inline-block; border:1px solid #eee; margin-bottom:10px; text-align:center; line-height:2.8em;min-width: 150px;border-radius: 1.5em;}
.articlepraise .dianzhan a{ display:block;}
.articlepraise .xiajiang a{color:#999999; display:block;}
.articlepraise .tubiao{ text-align:center; margin-bottom:15px;}
.articlepraise .tubiao .hui{ color:#999;}
.articlepraise .tubiao .icon-dianzan-xiangxia {color:#999;}
.articlepraise .addnum.c999{ text-align:left;}
.articlepraise i.iconfont{display: inline-block;border-radius: 50%;background: #FFF;padding: 4px;  box-sizing:content-box;margin-right: 10px;}

/*/public/css/maigoo/v2019/block/publicblock/articlecomment.css*/
.articlecomment{margin-top:30px;position: relative; max-width:1120px; margin:0 auto;}


.articlecomment .commentinputbox{ border: 1px solid #eee; background:#fff;}
.articlecomment .left{float:left;}
.articlecomment .right{float:right;}
.articlecomment .commentinputbox .commentinput{min-height:150px;padding:10px;}
.articlecomment .commentinputbox .commentinput img{width:22px;height:22px;margin:0 1px;}
.articlecomment .commentinputbox .beforeinput{color:#9f9f9f;position:absolute;margin:-214px 0 0 0; padding:20px;max-width: 93%;line-height: 1.5em;min-height:150px;}
.articlecomment .commentinputbox .forinput{margin:0;display: none;}
.articlecomment .commentinputbox .commenttools{height:40px;background:#eee;}
.articlecomment .commentinputbox .biaoqingbox{margin:0 10px;width:22px;height: 40px;position: relative;}
.articlecomment .commentinputbox .biaoqing{height:40px;width:22px; display: table-cell; vertical-align: middle; text-align: center;margin:0 10px;}
.articlecomment .commentinputbox .biaoqing img{ vertical-align:middle;cursor:pointer}
.articlecomment .commentinputbox .submith{ line-height:46px; background-color:#F6F6F6;}
.articlecomment .commentinputbox .submitcomment{padding:0 30px;cursor:pointer;}
.articlecomment .commentinputbox .submitcomment:hover{ background:#f60; color:#fff;}
.articlecomment .commentinputbox .hudong{  float:left; padding:0 20px;}
.articlecomment .commentinputbox .submitcomment .submit{color:#fff;}




/*/public/css/maigoo/v2019/block/comment/commentlist.css*/
.commentlist{ padding: 30px 30px 0;}
.commentlist #wangyoucontent{}
.commentlist .lttl{border-left:solid 5px #FE741C; height:1.2em; line-height:1.2em;margin-left: -30px;padding-left: 25px;}

.commentlist .usersay{border-bottom: 1px solid #eee;margin: 20px 0;padding-bottom:20px; position:relative;}
.commentlist .picbox{width:70px; position:absolute; left:0; top:0;}
.commentlist .commentbox{word-wrap:break-word; padding-left:70px;}
.commentlist .commentbox .commenttxt{word-wrap: break-word; padding: 0 0 5px 0;}
.commentlist .commentbox .commenttxt img{ max-width:100px;}
.commentlist .commenttime{line-height: 2em;}
.commentlist .commenttime .link{cursor:pointer;}
.commentlist .commenttime .link:hover{color:#9a9ed3;}
.commentlist .commenttime .right{float: right;}
.commentlist .userpic img{width:54px;height:54px;border-radius: 50%; border:1px solid #eee;}
.commentlist .replylist{ margin:5px 10px 0 100px;background: #f9f9f9;}
.commentlist .replylist .commenttxt{word-wrap: break-word; padding: 0 0 10px 0;}
.commentlist .replylist dl{ padding:0 10px; }
.commentlist .replylist dd{padding:10px 5px;border-bottom: 1px solid #eee; line-height: 1.5em;}
.commentlist .replylist dd:last-child{ border:0;}

/*评论回复样式*/
.mobilereplybox{position: relative;z-index: 0;opacity: 0;visibility: hidden;-webkit-transition: opacity 0.4s, z-index 0.4s;transition: opacity 0.4s, z-index 0.4s;}
.mobilereplybox_show{opacity:1;z-index:10000;visibility: visible;}	
.mobilereplybox .grayLayer{position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: #eee;background: rgba(0, 0, 0, 0.7);z-index: 888;display: block;}
.mobilereplybox_show .content{bottom:0;}
.mobilereplybox .content{width: 100%;display: block;position: fixed;z-index: 889;color: black;-webkit-transition: all 0.4s;transition: all 0.4s;left: 0;background: white;}
.mobilereplybox .content .btnBar{border-bottom: 1px solid #DCDCDC;position: relative;text-align: center; height:2.8em; line-height:2.8em;}
.mobilereplybox .content .fixWidth{width: 90%;margin: 0 auto;position: relative;}
.mobilereplybox .content .btnBar .cancel{left:0;color:#666;height: 45px;cursor: pointer;position: absolute;top: 0;}
.mobilereplybox .content .btnBar .title{padding: 0 15%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}	
.mobilereplybox .content .btnBar .replybtn{height: 45px;cursor: pointer;position: absolute;top: 0;right: 0;color: #1e83d3;}	
.mobilereplybox .content .btnBar .replybtn:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.mobilereplybox .content .replaybox {width: 90%;margin: 0 auto;position: relative;min-height:350px;}
.mobilereplybox .content .replaybox .original{color:#808080;margin-top: 5px;padding:5px;background:#efefef;line-height:1.8em;max-height:110px;word-wrap:break-word; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.mobilereplybox .content .replaybox .original .name{color:#0000FF;}
.mobilereplybox .content .replaybox .textarea{width: 100%;margin: 10px 0 0 0;max-width: none;padding: 5px;height: 180px;border: 1px solid #969696;}


/*/public/css/maigoo/v2019/block/publicblock/mzsm.css*/
#mzsmcontent{display:block; margin:40px auto 20px; background-color:#FFF; position:relative;border:1px solid #eee;}
.mzsm{padding:20px;position: relative; height:4em; overflow:hidden; margin-bottom:0.5em;}
#mzsmcontent .mzsm_title{position: absolute;line-height: 40px; width:230px; background-color: #FFF;left: 50%;top: -25px;margin-left: -115px; border-radius: 10px 10px 0 0; z-index: 1; padding: 0px 10px;border:1px solid #eee; border-bottom:0;}
#mzsmcontent .mzsm_title::before{content:""; position:absolute; top:25px; left:-1px; height:20px; width:1px; background:#fff;}
.mzsm .mzsm_box{ margin-bottom:20px;}
#mzsmcontent .mzsm_title::after{content:""; position:absolute; top:25px; right:-1px; height:20px; width:1px; background:#fff;}
.mzsm .mzsm_box{ margin-bottom:20px;}
.mzsm .mzsm_box:last-child{ margin-bottom:0px;}
#mzsmcontent .moremzsm{ text-align:center; height:0;}
#mzsmcontent .moremzsm img{ width:30px; height:30px; top:-15px; position:relative; z-index:1;}
.mzsm .mzsm_box a{ margin-right:10px;}

.blockstyle2 #mzsmcontent,.blockstyle2 #mzsmcontent .mzsm_title{background-color:#faf7e7;}
.blockstyle2 #mzsmcontent .mzsm_title::before{background-color:#faf7e7;}
.blockstyle2 #mzsmcontent .mzsm_title::after{background-color:#faf7e7;}