.md_4004{ padding:10px 0px;}
.md_4004 .mod_cont{ margin:0px 50px;}
.md_4004 ul{counter-reset: li;}
.md_4004 li{ width:47%;}
.md_4004 li:nth-child(2n+1){ float:left;}
.md_4004 li:nth-child(2n){ float:right;}
.md_4004 li .bgcolor{ height:1.6em; width:1.6em; position:absolute; left:0px; top:10px; z-index:2;-webkit-box-shadow: 3px 3px 2px #333;-moz-box-shadow: 3px 3px 2px #333;-o-box-shadow: 3px 3px 2px #333;box-shadow: 3px 3px 2px #333;}
.md_4004 li .bgcolor::before{content: counter(li);counter-increment: li; z-index:3; color:#FFF; position:absolute;line-height: 1.6em;text-align: center;width: 1.6em; }
.md_4004 li .md_title{margin-left:35px;line-height:1.6em; border-bottom-style:solid; border-bottom-width:1px;}
.md_4004 li .md_desc{height:7.2em; overflow:hidden;}


