.md_4013{ padding:10px 50px;}
.md_4013 .cols4{ padding-bottom:25px;}
.md_4013 ul{counter-reset: li;}

.md_4013 ul li{margin-bottom:-20px; width:430px; }
.md_4013 ul li .md_item{ width:420px;}
.md_4013 ul li .md_item .md_title{}
.md_4013 ul li .md_item .md_cont{ padding-top:20px;background:url(../images/a9ee5-4890.png) no-repeat; background-position:right top; }
.md_4013 ul li .md_item .md_cont .md_desc{ height:5.4em; overflow:hidden;}
.md_4013 ul li .md_arrow{ height:110%; width:4px; margin-top:30px; top:-18px; z-index:3;}
.md_4013 ul li .md_arrow .md_num{ width:30px; height:30px;position: absolute;top: -30px;left: -16px;}

.md_4013 ul li:nth-child(2n+1),.md_4013 ul li:nth-child(2n+1) .md_item{ float:left; }
.md_4013 ul li:nth-child(2n),.md_4013 ul li:nth-child(2n) .md_item{ float:right;}

.md_4013 ul li:nth-child(2n+1) .md_item .md_cont .md_desc{ padding-right:70px;}
.md_4013 ul li:nth-child(2n) .md_item .md_cont{ background-position:left -115px;}
.md_4013 ul li:nth-child(2n) .md_item .md_cont .md_desc{ padding-left:70px;}

.md_4013 ul li:nth-child(2n+1) .md_item .md_title{ text-align:right; margin-right:90px;}
.md_4013 ul li:nth-child(2n) .md_item .md_title{ margin-left:90px;}

.md_4013 ul li:nth-child(2n+1) .md_arrow{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); right:0;}
.md_4013 ul li:nth-child(2n) .md_arrow{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg); left:0;margin-right: 7px;}

.md_4013 ul li .md_item::after{content:counter(li);counter-increment: li;position: absolute;top: 5px;z-index: 5;font-style:italic; font-weight:bold; color:#FFF; font-size:24px; width:25px; line-height:30px;}
.md_4013 ul li:nth-child(2n+1) .md_item::after{right:50px; top:9px;}
.md_4013 ul li:nth-child(2n) .md_item::after{left:50px;}