.md_4016{ width:100%; padding:10px 0;}
.md_4016 .mod_cont{ margin:0 50px; padding:10px 0; position:relative;}
.md_4016 .mod_cont{ border-width:1px; border-style:solid; padding:13px; position:relative;}
.md_4016 .mod_cont i{ position:absolute; left:0; top:0; border-width:2em;}
.md_4016 .mod_cont a{font-weight:bold}
