@charset "UTF-8";

.pet_conditions .pet_conditions_lists,
.pets_lists {
  *zoom: 1;
}

.pet_conditions .pet_conditions_lists:before,
.pets_lists:before,
.pet_conditions .pet_conditions_lists:after,
.pets_lists:after {
  content: '';
  display: table;
}

.pet_conditions .pet_conditions_lists:after,
.pets_lists:after {
  clear: both;
}

/***垂直居中提示层**/
/**mixin**/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  line-height: 1.5;
  /* 0 */
  color: #333;
  /* 0 */
  background-color: #fff;
  /* 0 */
}

* {
  box-sizing: border-box;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  /* 3 */
  *zoom: 1;
  /* 3 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  text-decoration: none;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */
  width: 100%;
  /* height: 100%; */
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */
}

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  _font-family: 'courier new', monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

html,
button,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
ol {
  list-style: none outside none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 24;
}

h2 {
  font-size: 20.8;
}

h3 {
  font-size: 18.72;
}

h4 {
  font-size: 16;
}

h5,
h6 {
  font-size: 13.6;
  text-transform: uppercase;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

i {
  font-style: normal;
}

html {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

/**头部**/
header {
  position: relative;
  background: #fff;
  text-align: center;
  padding: 0.9375rem 0;
  border-bottom: 1px solid #d2d2d2;
}

header .header-left {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  margin-top: -0.75rem;
}

.header-center {
  color: #383838;
  font-size: 1.875rem;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  background: #fff;
  padding: 5px 0;
  padding-top: 30px;
}

header .header-right {
  position: absolute;
  top: 0.9375rem;
  right: 1.5rem;
}

/**icon图标**/
.icons {
  display: inline-block;
}

.icon-goback {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #989898;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap>div {
  float: left;
  width: 100%;
  position: relative;
}

.wrapper_container {
  position: relative;
}

.swipe-num {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.swipe-num li {
  width: 0.7142857143rem;
  height: 0.7142857143rem;
  border-radius: 50%;
  background: #cacac7;
  display: inline-block;
  margin-right: 10px;
}

.swipe-num li.active {
  background: #fc4a00;
}

#wrapper {
  position: absolute;
  z-index: 1;
  top: 200px;
  bottom: 48px;
  left: 0;
  width: 100%;
  background: #ccc;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

#scroller li {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  background-color: #fafafa;
  font-size: 14px;
}

.mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mask {
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.mask.active {
  z-index: 100;
  opacity: 1;
}

.mask .ok_con {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transform: scale(0.8);
  transition: transform 0.3s linear;
}

.mask .ok_con.active {
  transform: scale(1);
}

@-webkit-keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.refresh_rotate {
  -webkit-animation: myrotate 0.8s both ease-in;
  -ms-animation: myrotate 0.8s both ease-in;
  animation: myrotate 0.8s both ease-in;
}

.loading-tip {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #989898;
  margin-top: 20px;
}

.loading-tip span {
  padding-left: 20px;
  background: url(../Images/loading-s.gif) no-repeat left center;
}

.none {
  display: none;
}

.no-data-container {
  display: none;
  padding-top: 60px;
  padding-bottom: 100px;
}

.no_search {
  text-align: center;
  color: #575757;
}

.no_search_pet {
  display: inline-block;
  background: url(http://s.boqii.com/static/images/pet.png) no-repeat 0 0;
  background-size: 4.107em;
  width: 4.107em;
  height: 5.964em;
  margin: 1em;
}

.mt50 {
  margin-top: 50px;
}

.mt30 {
  margin-top: 30px;
}

.mt15 {
  margin-top: 15px;
}

.mr5 {
  margin-right: 0.3125rem;
}

.pd20 {
  padding: 0 1.25rem;
}

.container {
  background-color: #f0efed;
  height: 100%;
}

.container a {
  color: #333;
  /* display: block; */
  width: 100%;
}

.container .i_header {
  background-color: #fff;
  text-align: center;
  padding: 0.625rem 0;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0 #666;
  -ms-box-shadow: 0 0 5px 0 #666;
  box-shadow: 0 0 5px 0 #666;
}

.container .i_header img {
  width: 30%;
  margin: 0.85rem 0px;
}

.container .wrapper {
  background-color: #fff;
  /* margin-bottom: 0.75rem; */
  padding-bottom: 0.9375rem;
}

.container .wrapper .title {
  padding: 1.125rem;
  color: #343434;
  border: 1px solid #e4e4e4;
  font-size: 1.625rem;
  font-weight: 400;
}

.container .wrapper .title .animate_doc_t {
  border-left: 0.25rem solid #ffa500;
  padding-left: 0.25rem;
}

.container .wrapper .title .animate_all_t {
  border-left: 0.25rem solid #069fe8;
  padding-left: 0.25rem;
}

.container .wrapper .article_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.container .wrapper .article_class li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  text-align: center;
  padding-top: 0.9375rem;
}

.container .wrapper .article_class li img {
  width: 55%;
}

.container .wrapper .article_class li a {
  font-size: 0.75rem;
  color: #a6a6a6;
}

.container .wrapper .article_class li p {
  margin-top: 0.3125rem;
  font-size: 1.35rem;
}

.container .wrapper .animate-col2,
.container .wrapper .animate-li-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.container .wrapper .animate-col2 li,
.container .wrapper .animate-li-row2 li {
  -webkit-box-flex: 0.99;
  -ms-flex: 0.99;
  -webkit-flex: 0.99;
  -moz-flex: 0.99;
  flex: 0.99;
}

.container .wrapper .animate-col2 li.animate-col2-f2,
.container .wrapper .animate-li-row2 li.animate-col2-f2 {
  -webkit-box-flex: 2.02;
  -ms-flex: 2.02;
  -webkit-flex: 2.02;
  -moz-flex: 2.02;
  flex: 2.02;
  background: url(../Images/animate_cat1.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 424px) {

  .container .wrapper .animate-col2 li.animate-col2-f2,
  .container .wrapper .animate-li-row2 li.animate-col2-f2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    flex: 2;
  }
}

.container .wrapper .animate-col2 {
  margin-bottom: 0.3125rem;
}

.container .wrapper .animate-li-row2 {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}

.container .wrapper .animate-li-row2 .animate-col2-sub {
  margin-bottom: 0.3125rem;
}

.container .wrapper .animate-li-row2 .animate-col2-sub:last-child {
  margin-bottom: 0;
}

.container .wrapper .tguess {
  border: none;
}

.container .wrapper .tguess .animate_guess_t {
  border-left: 0.25rem solid #8fc31f;
  padding-left: 0.25rem;
}

.container .wrapper .tguess .grefresh {
  float: right;
  color: #bababa;
  line-height: 1.875rem;
  height: 1.875rem;
  position: relative;
}

.container .wrapper .tguess .grefresh .i_refresh {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  background: url(../Images/refresh.png) no-repeat;
  background-size: cover;
  position: absolute;
  left: -2.1875rem;
  top: 50%;
  margin-top: -0.935rem;
}

.container .wrapper .guess_like {
  padding: 0 1.125rem;
}

.container .wrapper .guess_like ul {
  border-top: 1px solid #ededed;
}

.container .wrapper .guess_like ul li {
  font-size: 1.35rem;
  padding: 1.875rem 0 0 0;
}

.container .wrapper .guess_like ul li a {
  color: #575757;
}

.container .wrapper .guess_like ul li .i_doc {
  display: inline-block;
  width: 1.5625rem;
  height: 1.4375rem;
  background: url(../Images/doc.png) no-repeat;
  background-size: contain;
  margin-right: 0.625rem;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  top: 0;
}

header .shaixuan {
  color: #8fc31f;
  font-size: 1.75rem;
}

header .shaixuan .icon-top-arrow {
  -webkit-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  width: 1rem;
  height: 1rem;
  border: 2px solid #8fc31f;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

header .shaixuan .icon-top-arrow.active {
  width: 1rem;
  height: 1rem;
  border: 2px solid #8fc31f;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
}

header .shaixuan i {
  position: relative;
  top: -2px;
  left: 5px;
}

/**筛选条件**/
.pet_conditions_wrap {
  position: relative;
}

.pet_conditions {
  position: absolute;
  z-index: 2;
  width: 100%;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  transition: transform 0.4s linear;
  padding: 0.75rem;
  background: #fff;
}

.pet_conditions.active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pet_conditions label {
  color: #000;
  font-size: 1.75rem;
  display: block;
  text-align: left;
  padding-bottom: 0.625rem;
}

.pet_conditions .pet_conditions_lists li {
  float: left;
  width: 25%;
  margin-bottom: 0.625rem;
}

.pet_conditions .pet_conditions_lists li a {
  padding: 0.75rem 0;
  font-size: 1.5rem;
  display: block;
  width: 85%;
  background: #ccc;
  color: #132634;
  border-radius: 0.3125rem;
  text-align: center;
}

.pet_conditions .pet_conditions_lists li a.active {
  color: #fff;
  background: #8fc31f;
}

.pets_lists {
  padding: 0.75rem 0;
  background: #f0efed;
}

.pets_lists li {
  width: 33.33%;
  float: left;
  padding: 0.75rem;
  text-align: center;
  padding-bottom: 0.375rem;
}

.pets_lists li a {
  position: relative;
  display: block;
}

.pets_lists li p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.3125rem 0;
}

.pets_lists li p span {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.page {
  padding: 0 0.75rem;
}

.page a {
  display: inline-block;
  width: 45%;
  background: #e5e5e5;
  color: #575757;
  font-size: 1.625rem;
  text-align: center;
  padding: 0.625rem 0;
  border-radius: 0.375rem;
}

.page a.next_page {
  float: right;
}

.page a.active {
  background: #ccc;
}

.mask {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  opacity: 0;
  -webkit-transition: all 0.2s liear 0.3s;
  -ms-transition: all 0.2s liear 0.3s;
  transition: all 0.2s liear 0.3s;
}

.mask.active {
  z-index: 1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}

.mr5 {
  margin-right: 0.3125rem;
}

.pd20 {
  padding: 0 1.25rem;
}

.container {
  background-color: #f0efed;
}

.container.c_artDetail {
  padding-top: 0.15rem;
}

.container .wrapper.w_artDetail {
  border-top: 1px solid #d8d8d8;
  padding: 0 1.5625rem;
  padding-bottom: 5px;
}

.container .wrapper.w_artDetail .art_d_outline {
  padding: 1.25rem 0;
  color: #717171;
  font-size: 1.625rem;
}

.container .wrapper.w_artDetail .art_d_outline .art_d_time {
  color: #6d6d6d;
  margin-right: 2.1875rem;
}

.container .wrapper.w_artDetail .art_d_pic {
  margin-bottom: 1.25rem;
  text-align: center;
}

.container .wrapper.w_artDetail .art_d_desc {
  color: #a0a0a0;
  line-height: 1.4375rem;
}

.container .wrapper.w_artDetail .art_d_desc img {
  width: 100% !important;
  height: auto !important;
}

.container .wrapper.w_artDetail .art_d_desc p {
  margin-bottom: 2.5rem;
  color: #717171;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.container .wrapper.w_artDetail .art_d_desc p:last-child {
  margin-bottom: 0;
}

.container .wrapper.w_artDetail .art_d_tag {
  margin: 1.5625rem 0;
  color: #a0a0a0;
  font-size: 1.3rem;
}

.container .wrapper.w_artDetail .art_d_tag .art_d_tag_title {
  display: block;
  float: left;
  width: 3.125rem;
}

.container .wrapper.w_artDetail .art_d_tag .art_d_tag_c {
  padding-left: 4.375rem;
}

.container .wrapper.w_artDetail .art_d_tag .art_d_tag_l {
  padding: 0.3125rem 0.5rem;
  background-color: #bcdb79;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 0.3125rem;
}

.container .wrapper.w_artDetail .art_d_tag .art_d_tag_title,
.container .wrapper.w_artDetail .art_d_tag .art_d_tag_l {
  margin-right: 1.25rem;
}

.container .wrapper.w_artDetail .art_d_record {
  color: #a0a0a0;
  font-size: 1.3rem;
}

.container .wrapper.w_artDetail .art_d_record .i_read {
  display: inline-block;
  width: 1.5625rem;
  height: 1.875rem;
  background: url(../Images/scan_icon.png);
  background-size: cover;
  -webkit-transform: translateY(5.5px);
  -ms-transform: translateY(5.5px);
  transform: translateY(5.5px);
}

.bM_header .icon-down-arrow {
  width: 1.125rem;
  height: 1.125rem;
  border: 2px solid #9cca38;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: relative;
  top: -3px;
}

.bM_header a {
  color: #343434;
  position: relative;
}

.bM_header .hidden {
  display: none;
}

.bM_header .bM_MenuList {
  position: absolute;
  z-index: 100;
  margin-top: 4px;
  background-color: #484a52;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.875rem;
  border-radius: 5px;
  opacity: 0.9;
  -webkit-transition: all 2s linear;
  -ms-transition: all 2s linear;
  transition: all 2s linear;
}

.bM_header .bM_MenuList a {
  color: #fff;
  display: block;
  padding: 0.8125rem 3.625rem;
}

.bM_header .bM_MenuList a:active,
.bM_header .bM_MenuList a.cur {
  background-color: #34363f;
  border-radius: 5px;
}

.bM_header .bM_MenuList:before {
  content: ' ';
  margin: -6px auto;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #484a52;
  border: 1px solid #484a52;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bM_header .bM_MenuList ul {
  padding: 1.875rem 0.75rem;
}

.bM_header .bM_MenuList ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.4375rem;
}

.bM_header .bM_MenuList ul li :last-child {
  margin-bottom: 0;
}

.bM_MenuListM.mask {
  position: relative !important;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  opacity: 0;
  -webkit-transition: all 0.2s liear 0.3s;
  -ms-transition: all 0.2s liear 0.3s;
  transition: all 0.2s liear 0.3s;
}

.bM_MenuListM.mask.active {
  position: fixed !important;
  z-index: 1;
}

.medical {
  width: 100%;
  overflow: hidden;
  background-color: #efefef;
}

.medical .title {
  height: 4.625rem;
  line-height: 4.625rem;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  white-space: nowrap;
  margin-bottom: 1.5rem;
  background-color: #fff;
}

.medical .title span {
  padding: 0 1.5rem;
  border-right: 1px solid #d8d8d8;
}

.medical .title span a {
  color: #757575;
}

.medical .title span:last-child {
  border-right: none;
}

.medical .title .active a {
  color: #8fc31f;
}

.list {
  padding: 0 1.5rem;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fff;
}

.list li {
  padding: 1rem 0;
  height: 9.125rem;
  border-bottom: 1px solid #e4e4e4;
}

.list li :last-child {
  border-bottom: none;
}

.list li a {
  color: inherit;
}

.list li img {
  width: 8.75rem;
  height: 7.125rem;
  float: left;
}

.list li .info {
  width: 100%;
  margin-left: 9.375rem;
  height: 6.625rem;
}

.list li .info span.Ititle {
  width: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.75rem;
  padding-bottom: 0.4rem;
  display: inline-block;
}

.list li .info span.Ititle a {
  color: #343434;
}

.list li .info p,
.list li .info .time {
  color: #989898;
  font-size: 1.375rem;
  padding-bottom: 0.3rem;
}

.pages {
  padding: 2.375rem 1.5rem;
  font-size: 0;
  background-color: #fff;
}

.pages a {
  display: inline-block;
  width: 45%;
  background: #e5e5e5;
  color: #575757;
  font-size: 1.625rem;
  text-align: center;
  padding: 0.625rem 0;
  border-radius: 0.375rem;
}

.pages a.next_page {
  float: right;
}

.searchList {
  padding: 0 1.4375rem;
  background-color: #efefef;
}

.searchList a {
  color: #333;
  text-decoration: none;
  outline: none;
  display: block;
  width: 100%;
  overflow: hidden;
}

.searchList li {
  height: 5.75rem;
  line-height: 5.75rem;
  font-size: 1.625rem;
  border-bottom: 1px dashed #d8d8d8;
}

.searchList li .l {
  float: left;
  width: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 2.875rem;
  background: url(../Images/listBg.png) no-repeat;
  background-size: 2rem;
  background-position: left center;
}

.searchList li .r {
  float: right;
}

.animalsPhoto {
  height: 18.25rem;
  background: url(../Images/animalsPhotoBg.png) no-repeat;
  background-size: cover;
  padding-top: 1.5rem;
}

.animalsPhoto img {
  display: block;
  width: 15.25rem;
  height: 15.25rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #fff;
}

.introduce {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 0.75rem;
}

.introduce ul {
  padding: 1rem 1.5rem;
  background: #fff;
}

.introduce ul li {
  line-height: 3rem;
}

.introduce ul li .l {
  color: #383838;
  font-size: 1.625rem;
}

.introduce ul li .r {
  color: #717171;
  font-size: 1.5rem;
}

.center {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 0.75rem;
}

.center h2 {
  height: 5.75rem;
  line-height: 5.75rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 0.626rem solid #8fc31f;
  padding-left: 1.5rem;
}

.center img {
  width: 100% !important;
  height: auto !important;
}

.center p {
  padding: 0.75rem 1.5rem;
  color: #717171;
  font-size: 1.5rem;
  line-height: 2.625rem;
}

.center ul {
  font-size: 0;
  padding-bottom: 0.75rem;
}

.center ul li {
  width: 28.333%;
  display: inline-block;
  margin: 2.5% 2.5% 0;
  text-align: center;
}

.bottom {
  height: 5.25rem;
  line-height: 5.25rem;
  font-size: 1.5rem;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
  padding-left: 1.5rem;
}

.bottom a {
  color: #8fc31f;
}

.link {
  position: relative;
}

.uplink,
.downlink {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 50%;
}

.downlink {
  bottom: 0;
}

/*浮层下载和首页大图下载CSS*/
.indexbig {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  background: url(../Images/baike/b-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3%;
}

.index-ad {
  display: block;
  width: 90.2%;
  margin: auto;
}

.index-btn {
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 62.5%;
  margin: auto;
}

.down-app {
  display: block;
  width: 100%;
}

.index1111big {
  position: relative;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.index-1111ad,
.index-1111btn {
  display: block;
  width: 100%;
  margin: auto;
}

.down-app {
  display: block;
  width: 100%;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.andriod_download_con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  display: none;
}

.andriod_download {
  padding: 0.6em 2.857em 0.6em 2.2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: relative;
}

.andriod_download .logo_con img {
  width: 4.286em;
  height: 4.286em;
  float: left;
  margin-right: 1rem;
}

.andriod_download .logo_con span {
  display: inline-block;
  font-size: 1.375rem;
}

.andriod_download .logo_con span strong {
  font-size: 1.75rem;
}

.andriod_download .download_con a {
  display: inline-block;
  width: 7.7em;
  height: 3.5em;
  line-height: 3.5em;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  margin-top: 0.4em;
  margin-right: 1rem;
  color: #333;
  font-size: 1.2rem;
}

.andriod_download .close_bar {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  left: auto;
  top: 0.625rem;
  right: 0.75rem;
  text-indent: -9999px;
  text-align: center;
  background: url(../Images/baike/close.png) no-repeat;
  z-index: 99999;
}

/*添加banner*/
.top_banner {
  width: 100%;
  height: auto;
  position: relative;
}

.top_banner .close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
}

.top_banner .close i {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5) url(../Images/baike/close.png) center no-repeat;
  background-size: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: block;
}

/*安卓下载*/

.andriod_download_tips {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.andriod_download_con {
  padding: 0.6rem 0.857rem 0.6rem 1.2rem;
  color: #fff;
  position: relative;
  display: none;
  background: url('') no-repeat right top rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-position-x: 76%;
}

.andriod_download_con .close_andriod {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background: url(../../../images/newindex/close.png) no-repeat;
  background-size: 1.3rem 1.3rem;
  position: absolute;
  left: 0;
  top: 0;
}

.andriod_download_con .left_side {
  float: left;
  width: 81%;
}

.andriod_download_con .left_side img {
  float: left;
  width: 4.28571rem;
  height: 4.28571rem;
  margin-right: 10px;
}

.andriod_download_con .left_side p {
  color: #fff;
  margin-top: 0.71429rem;
}

.andriod_download_con .left_side p .android_hint {
  font-size: 1.27em;
  font-weight: bold;
  color: #9cca38;
}

.andriod_download_con .right_side {
  float: right;
}

.andriod_download_con .right_side .down_rightnow {
  display: inline-block;
  width: 4.6rem;
  height: 2.3rem;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  margin-top: 0.71429rem;
  color: #333;
}

@media (max-width: 360px) {
  .andriod_download_con .left_side img {
    width: 3rem;
    height: 3rem;
  }

  .andriod_download_con .left_side p {
    margin-top: 0.3rem;
  }
}

.index_andriod_download {
  position: relative;
  background: #fea60f;
}

.android_download_div {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.andriod_download_btn {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.andriod_download_btn img {
  width: 85%;
}

.pupWindow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border: 0;
  z-index: 100;
}

.pupWindow img {
  width: 70%;
  position: absolute;
  right: 20px;
  top: 10px;
}

.tag_list {
  color: #666;
  overflow: hidden;
}

.tag_list h2 {
  height: 5.4rem;
  line-height: 5.4rem;
  font-size: 1.75rem;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
}

.tag_list .tag_item {
  overflow: hidden;
  margin: 2.4rem 3rem;
}

.tag_list .tag_item span {
  width: 40%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 1px solid #666;
  border-radius: 2rem;
  display: inline-block;
  margin-bottom: 2rem;
  float: left;
  margin-right: 19%;
}

.tag_list .tag_item span a {
  color: #666;
}

.tag_list .tag_item span:nth-of-type(even) {
  margin-right: 0;
}

.tag_detail {
  color: #666;
  overflow: hidden;
}

.tag_detail h2 {
  height: 5.4rem;
  line-height: 5.4rem;
  font-size: 1.75rem;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
}

.tag_detail_list {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2.5rem;
}

.tag_detail li {
  height: 10rem;
  margin-bottom: 2.5rem;
}

.tag_detail li a {
  color: inherit;
}

.tag_detail li .tag_detail_img {
  width: 10rem;
  height: 10rem;
  float: left;
  margin-right: 1rem;
  border-radius: 4px;
}

.tag_detail li .info {
  width: 100%;
  height: 10rem;
}

.tag_detail li .info span.Ititle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.75rem;
  display: block;
  color: #333;
  font-weight: 560;
}

.tag_detail li .info p.subtitle {
  height: 4rem;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 0.4rem;
  box-sizing: border-box;
}

.tag_detail li .info p.p-bottom {
  margin-top: 0.3rem;
}

.tag_detail li .info span.Ititle a {
  color: #343434;
}

.tag_detail li .info p,
.tag_detail li .info .time {
  color: #989898;
  font-size: 1.375rem;
}

.tag_detail .no-data {
  margin: 8rem auto;
  text-align: center;
  font-size: 1.5rem;
}

.tag_pages {
  padding: 2.375rem 2.5rem;
  padding-top: 0;
  font-size: 0;
  background-color: #fff;
}

.tag_pages a {
  display: inline-block;
  width: 45%;
  font-size: 1.625rem;
  text-align: center;
  padding: 0.8rem 0;
  border-radius: 0.375rem;
  background: #fff;
  color: #333;
  border: 1px solid #333;
}

.tag_pages a.next_page {
  float: right;
}

.tag_list .tag_item span a {
  color: #666;
}

@media screen and (max-width: 400px) {

  /*当屏幕尺寸小于320px时，应用下面的CSS样式*/
  .tag_detail li .tag_detail_img {
    width: 9rem;
    height: 9rem;
    margin-right: 0.5rem;
  }

  .tag_detail li .info span.Ititle {
    font-size: 1.6rem;
  }

  .tag_detail li .info p.subtitle {
    height: 3.4rem;
    padding-top: 0rem;
    font-size: 1.3rem;
  }
}

/**投稿*/
/* .tougao {
  text-align: center;
  color: #717171;
  font-size: 1.5rem;
}
.tougao a {
  font-size: 1.5rem;
  color: #566da4;
  display: inline !important;
} */
.draft {
  /* margin-top: 10px; */
}

.article-container {
  background: #fff;
  padding: 5px 13px;
}

.draft-inner {
  padding: 14px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: space-between;
}

.draft-inner-left {
  color: #666;
  font-size: 13px;
}

.draft-guide {
  font-size: 13px;
  color: #f55b50;
}

.right-arrow {
  width: 14px;
  height: 16px;
  position: relative;
  top: -1px;
}

.ulike-avatar-con {
  display: flex;
  justify-content: space-between;
}

.author-desc {
  display: flex;
  margin-right: 10px;
}

.article-title {
  font-size: 14px;
  color: #444;
  margin: 20px 0;
}

.avatar-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.avatar {
  position: relative;
  /* width: 100px; */
  margin-right: 10px;
}

.avatar-level {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.author-name {
  font-size: 15px;
  color: #444;
  width: 200px;
}

.author-position {
  font-size: 10px;
  color: #999;
}

.follow-btn {
  display: inline-block;
  width: 54px !important;
  height: 22px;
  text-align: center;
  line-height: 21px;
  border: 1px solid #f55b50;
  font-size: 14px;
  color: #f55b50 !important;
  border-radius: 14pt;
}

.article-block {
  padding: 15px 14px;
  border-bottom: 0.5px solid #dedede;
}

.article-block:last-child {
  border-bottom: 0px solid #dedede;
}

.article-view {
  font-size: 11px;
  color: #444;
  margin-top: 6px;
}

.openByApp-container {
  position: fixed;
  top: 85px;
  width: 100px;
  text-align: center;
}

.article-commenter {
  font-size: 12px;
  color: #444444;
}

.article-comment-con {
  font-size: 12px;
  color: #666;
}

.article-comment {
  margin-top: 4px;
}

.tag-comment-fav {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.comments {
  margin-right: 16px;
}

.comment-fav {
  display: flex;
  margin-right: 5px;
}

.comment-fav span {
  color: #666;
  font-size: 14px;
  padding-left: 6px;
}

.comment-fav p {
  text-align: center;
}

.article-tag {
  border-radius: 10px;
  background: #f6f6f6;
  padding: 2px 10px;
  font-size: 11px;
  color: #4a90e2;
  display: flex;
  align-items: center;
  height: 25px;
}

.article-tag a {
  color: #4a90e2;
}

.comment-icon,
.fav-icon {
  width: 22px;
  height: 22px;
  position: relative;
  top: -2px;
}

.article-list-item {
  display: flex;
  border-bottom: 0.5px solid #dedede;
  padding: 18px 14px;
}

.article-list-item>div:nth-child(1) {
  flex: 1;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-list-item:last-child {
  border-bottom: 0px solid #dedede;
}

.article-relative-title {
  font-size: 18px;
  color: #444;
  padding: 0 14px 0 0;
}

.article-relative-subtitle {
  font-size: 13px;
  color: #666;
  margin-top: 5px;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-relative-avatar-con {
  width: 113px;
  height: 75px;
  /* border: 1px solid #ccc; */
}

.article-recommend-item {
  width: 115px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  margin-bottom: 6px;
}

.hot-recommend-item {
  width: 88px;
  margin-right: 8px;
}

.hot-recommend-avatar {
  width: 88px;
  height: 88px;
}

.goods-name {
  padding: 8px 0;
  font-size: 13px;
  height: 48px;
  color: #444444;
  overflow: hidden;
  /** 隐藏超出的内容 **/
  word-break: break-all;
  text-overflow: ellipsis;
  /** 多行 **/
  display: -webkit-box;
  /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical;
  /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2;
}

.goods-price {
  color: #f55b50;
  font-size: 13px;
}

.goods-origin-price {
  color: #999999;
  font-size: 10px;
  text-decoration: line-through;
}

.article-recommend-avatar-con {
  width: 115px;
  height: 115px;
}

.article-recommend-name {
  padding: 8px 6px;
  font-size: 13px;
  color: #444;
}

.scroll-container {
  height: 100%;
  /* width: 700px; */
  /* position: absolute; */
}

.article-recommend-item {
  /* display: inline-block; */
  margin-right: 10px;
}

.article-recommend-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#recommed_wrap {
  position: relative;
  /* width: 400px; */
  overflow: scroll;
}

#recommed_wrap::-webkit-scrollbar {
  display: none;
}

.open-in-app {
  /* display: inline-block ; */
  width: 110px !important;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 14px;
  font-size: 14px;
  color: #fff !important;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, #ff9282, #ff4436);
}

.article-header {
  height: 40px;
}

.open-in-app.no-fixed {
  position: relative;
  bottom: 0;
  /* transform: translateX(0); */
  display: inline-block;
}

.ulike-title {
  font-size: 16px;
  color: #444;
  padding: 10px 0;
}

.two-album,
.three-album {
  display: flex;
  justify-content: space-between;
  height: 113px;
}

.more-tips {
  width: 30px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #000000;
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 6px;
}

.three-album li {
  width: 33%;
  height: 113px;
}

.one-album li,
.two-album li,
.three-album li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.two-album li:nth-child(1) {
  width: 66%;
  height: 113px;
  /* flex: 2.5 */
}

.two-album li:nth-child(2) {
  width: 32.4%;
  height: 113px;
  /* flex: 1 */
}

.one-album li {
  width: 100%;
  height: 175px;
}

.c_artDetail {
  background: #fff !important;
}

.at-icon {
  width: 13px;
  height: 11px;
  position: relative;
  top: -1px;
  margin-right: 3px;
}

.ulike-album {
  margin-bottom: 10px;
  position: relative;
}

.more-content {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #f55b50;
}

.more-content img {
  width: 10px;
}

.coperight {
  font-size: 10px;
  color: #999999;
  padding: 15px 0;
}

.coperight a {
  color: #999999;
}

.detail-full {
  display: none;
}

.article-title-column {
  padding: 0 14px;
}

.author-js {
  display: flex;
  align-items: center;
}

.openByApp-container .openByApp {
  display: inline-block;
  width: 87px;
  height: 25px;
  line-height: 25px;
  font-size: 10px;
  text-align: center;
  border-radius: 25px;
  background: #f55b50;
  color: #fff;
  /* padding: 0; */
}

.article-relative img,
.article-recommend img,
.article-recommend-item img {
  height: 100%;
}