.md_4013{ padding:20px 30px;}
.md_4013 ul{}

.md_4013 ul li{}
.md_4013 ul li .md_item{margin-left:1.2em;border-left-width:4px; border-left-style:solid; padding-left:1.8em;}
.md_4013 ul li .md_item .md_title{ border-bottom:dashed 2px #CCC;}

.md_4013 ul li .md_arrow{ left:0.2em; top:0.2em; text-align:center;}
.md_4013 ul li .md_arrow .md_num{ width:2em; height:2em; line-height:2em;}
.md_4013 ul li .md_arrow i{position:absolute; left:-0.15em; top:0px; font-style:italic;width: 100%;text-align: center;}
