.md_4016{ padding:20px 30px; margin-bottom:30px;}
.md_4016 .mod_cont{ border-width:2px; border-style:solid; padding:26px; position:relative;}
.md_4016 .mod_cont i{ position:absolute; left:0; top:0; border-width:2em;}
.md_4016 .mod_cont a{font-weight:bold}
.md_4016 .mod_cont img{ max-width:100%;}

