/* CSS Document */
.md_2055{ padding:39px 30px; background:url(/public/mod/img/2055/banner.jpg); background-size:100%; position:relative; background-repeat:no-repeat;}
.md_2055 .mod_body{ margin-top:100px;}
.md_2055 .mod_ttl{ font-size:46px; height:60px; line-height:60px;}
.md_2055 .mod_ttl .mod_cont,.md_2055 .mod_ttl .mod_cont span{ display: inline-block;
 overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis;font-size:40px; width:440px;  background-image: -webkit-linear-gradient(top, #fff 30%, #c9fff0); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.md_2055 .mod_tt2{ margin-top:-4px;}
.md_2055 .mod_tt2 .mod_cont{ background:#f37a5d; padding:0px 15px;position:relative; display:inline-block; vertical-align:middle; font-size:32px;line-height: 45px;height:45px;}
.md_2055 .mod_tt2 .mod_cont:before{ content:""; display:inline-block;width:6px; height:45px;background:#f37a5d; right:-10px; top:0px; position:absolute;}
.md_2055 .mod_tt2 .mod_cont:after{ content:""; display:inline-block;width:6px; height:45px;background:rgb(243, 122, 93,0.7); right:-20px; top:0px; position:absolute;}
.md_2055 .mod_tt2 .mod_cont .online{ position:absolute;width:6px; height:45px;background:#f37a5d; left:-10px; top:0px; }
.md_2055 .mod_tt2 .mod_cont .online:after{ content:""; display:inline-block;position:absolute;width:6px; height:45px;background:rgb(243, 122, 93,0.7); left:-10px; top:0px; }
.md_2055 .mod_tt2 .mod_cont .text{display: inline-block;text-shadow:2px 2px 5px #e65e4d;}

