.md_3026{ padding:20px 30px;}
.md_3026 .mod_list .mod_img{ text-align:center;}
.md_3026 .mod_list .mod_img img{ max-width:100%;}
.md_3026 .mod_list .mod_cont{ padding:20px;}
.md_3026.notitle .mod_cont .md_title{ display:none;}