/*/public/css/mobile/v2019/color.css*/
/*公共颜色*/
.fff{ color:#fff;}
a.fff:hover,a.fff.active{ color:#fe741c;}
.c000{ color:#000;}/*主要文字*/
a.c000:hover,a.c000.active{ color:#fe741c;}
.c333{ color:#333;}/*主要文字*/
a.c333:hover,a.c333.active{ color:#fe741c;}
.c666{ color:#666;}/*次要文字*/
a.c666:hover,a.c666.active{ color:#fe741c;}
.c999{ color:#999;}/*次要文字*/
a.c999:hover,a.c999.active{ color:#fe741c;}
.ccc{ color:#ccc;}/*辅助文字*/
a.ccc:hover,a.ccc.active{ color:#fe741c;}
.eee{ color:#eee;}/*边框*/
a.eee:hover,a.eee.active{ color:#fe741c;}

.bgccc{ background:#ccc}
.bgeee{ background:#eee}
.bgfff{ background:#fff}
.bgorange{background:#fe741c;}
.bgf5f5{ background:#f5f5f5;}

.red{ color:#CA0606}
.orange{ color:#fe741c}
.cfe741c{ color:#fe741c;}/*序号1*/
a.cfe741c:hover,a.cfe741c.active{ color:#f60;}
.cfdb80c{ color:#fdb80c;}/*序号2*/
a.cfdb80c:hover,a.cfdb80c.active{ color:#fe741c;}
.cffdc00{ color:#ffdc00;}/*序号3*/
a.cffdc00:hover,a.cffdc00.active{ color:#fe741c;}
.cf12828{ color:#f12828;}/*强调*/
a.cf12828:hover,a.cf12828.active{ color:#fe741c;}

.cffff00,.cffff00 a{ color:#ffff00;}/*头部导航*/
a.cffff00:hover,a.cffff00.active,.cffff00 a:hover{ color:#fe741c;}

/*皮肤颜色1*/
.color1,.color1 a{ color:#555ba6}/*主色*/
.color1 a:hover,a.color1:hover,a.color1.active{ color:#fe741c;}
.color2,.color2 a{ color:#44476c}/*文章标题*/
.color2 a:hover,a.color2:hover,a.color2.active{ color:#fe741c;}
.color3,.color3 a{ color:#28166f}/*标题辅色*/
.color3 a:hover,a.color3:hover,a.color3.active{ color:#fe741c;}
.color4,.color4 a{ color:#8d99b8}/*文字辅色*/
.color4 a:hover,a.color4:hover,a.color4.active{ color:#fe741c;}
.color5,.color5 a{ color:#8d99b8; border-color:rgba(141, 153, 184, 0.3);}/*文章模版标签颜色*/
.color5 a:hover,a.color5:hover,a.color5.active{ color:#fe741c;}
.bg1{ background:#555ba6}/*主色背景*/
.bg2{ background:#e6e7f2}/*辅色背景*/
.bg3{ background:#28166f}/*辅色背景－深色*/
.bd1{ border-color:#555ba6}/*主色边框*/
.bd2{ border-color:#e6e7f2}/*辅色边框*/

.li_1.num1{background:rgba(85,91,166,0.2);}
.li_1.num2{background:rgba(85,91,166,0.15);}
.li_1.num3{background:rgba(85,91,166,0.1);}
.li_1.num1 i { background:#555ba6;}
.li_1.num2 i { background:rgba(85,91,166,0.7);}
.li_1.num3 i { background:rgba(85,91,166,0.4);}

/*皮肤颜色2*/
.blockstyle2 .color1,.blockstyle2 .color1 a{ color:#be0f1b}/*主色*/
.blockstyle2 .color1 a:hover,.blockstyle2 a.color1:hover,.blockstyle2 a.color1.active{ color:#fe741c;}
.blockstyle2 .color2,.blockstyle2 .color2 a{ color:#333333}/*文章标题*/
.blockstyle2 .color2 a:hover,.blockstyle2 a.color2:hover,.blockstyle2 a.color2.active{ color:#fe741c;}
.blockstyle2 .color3,.blockstyle2 .color3 a{ color:#a91324}/*标题辅色*/
.blockstyle2 .color3 a:hover,.blockstyle2 a.color3:hover,.blockstyle2 a.color3.active{ color:#fe741c;}
.blockstyle2 .color4,.blockstyle2 .color4 a{ color:#de878d}/*文字辅色*/
.blockstyle2 .color4 a:hover,.blockstyle2 a.color4:hover,.blockstyle2 a.color4.active{ color:#fe741c;}
.blockstyle2 .color5,.blockstyle2 .color5 a{ color:#de878d; border-color:rgba(222, 135, 141, 0.3);}/*文章模版标签颜色*/
.blockstyle2 .color5 a:hover,.blockstyle2 a.color5:hover,.blockstyle2 a.color5.active{ color:#fe741c;}
.blockstyle2 .bg1{ background:#be0f1b}/*主色背景*/
.blockstyle2 .bg2{ background:#f8e7e8}/*辅色背景*/
.blockstyle2 .bg3{ background:#a91324}/*辅色背景－深色*/
.blockstyle2 .bd1{ border-color:#be0f1b}/*主色边框*/
.blockstyle2 .bd2{ border-color:#f8e7e8}/*辅色边框*/
.tab.style1.blockstyle2>.tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#be0f1b;}
.blockstyle2 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .li_1.num1{background:rgba(190,15,27,0.2);}
.blockstyle2 .li_1.num2{background:rgba(190,15,27,0.15);}
.blockstyle2 .li_1.num3{background:rgba(190,15,27,0.1);}
.blockstyle2 .li_1.num1 i { background:#be0f1b;}
.blockstyle2 .li_1.num2 i { background:rgba(190,15,27,0.7);}
.blockstyle2 .li_1.num3 i { background:rgba(190,15,27,0.4);}
/*皮肤颜色3*/
.blockstyle3 .color1,.blockstyle3 .color1 a{ color:#87a5b5}/*主色*/
.blockstyle3 .color1 a:hover,.blockstyle3 a.color1:hover,.blockstyle3 a.color1.active{ color:#fe741c;}
.blockstyle3 .color2,.blockstyle3 .color2 a{ color:#44476c}/*文章标题*/
.blockstyle3 .color2 a:hover,.blockstyle3 a.color2:hover,.blockstyle3 a.color2.active{ color:#fe741c;}
.blockstyle3 .color3,.blockstyle3 .color3 a{ color:#b7c9d3}/*标题辅色*/
.blockstyle3 .color3 a:hover,.blockstyle3 a.color3:hover,.blockstyle3 a.color3.active{ color:#fe741c;}
.blockstyle3 .color4,.blockstyle3 .color4 a{ color:#abc0cb}/*文字辅色*/
.blockstyle3 .color4 a:hover,.blockstyle3 a.color4:hover,.blockstyle3 a.color4.active{ color:#fe741c;}
.blockstyle3 .color5,.blockstyle3 .color5 a{ color:#97b5c5; border-color:rgba(151, 181, 197, 0.3);}/*文章模版标签颜色*/
.blockstyle3 .color5 a:hover,.blockstyle3 a.color5:hover,.blockstyle3 a.color5.active{ color:#fe741c;}
.blockstyle3 .bg1{ background:#87a5b5}/*主色背景*/
.blockstyle3 .bg2{ background:#edf2f4}/*辅色背景*/
.blockstyle3 .bg3{ background:#b7c9d3}/*辅色背景－深色*/
.blockstyle3 .bd1{ border-color:#87a5b5}/*主色背景*/
.blockstyle3 .bd2{ border-color:#edf2f4}/*辅色背景*/
.tab.style1.blockstyle3>.tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#87a5b5;}
.blockstyle3 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .li_1.num1{background:rgba(135,165,181,0.2);}
.blockstyle3 .li_1.num2{background:rgba(135,165,181,0.15);}
.blockstyle3 .li_1.num3{background:rgba(135,165,181,0.1);}
.blockstyle3 .li_1.num1 i { background:#87a5b5;}
.blockstyle3 .li_1.num2 i { background:rgba(135,165,181,0.7);}
.blockstyle3 .li_1.num3 i { background:rgba(135,165,181,0.4);}


/*/public/css/mobile/v2019/weui.min.css*/
.weui_dialog{position:fixed;z-index:2147483647;width:85%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fafafc;text-align:center;border-radius:30px; overflow:hidden;}.weui_dialog_confirm .weui_dialog .weui_dialog_hd{padding:1em 40px}.weui_dialog_confirm .weui_dialog .weui_dialog_bd{text-align:left;}.weui_dialog_hd{padding:1.2em 0 1em}.weui_dialog_title{font-weight:400;font-size:34px}.weui_dialog_bd{padding:0 30px;color:#666; line-height:1.8em; text-align:left;}.weui_dialog_ft{position:relative;line-height:84px;margin-top:40px;font-size:34px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.weui_dialog_ft a{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.weui_dialog_ft a:active{background-color:#eee}.weui_dialog_ft:after{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_dialog_confirm .weui_dialog_ft a{position:relative}.weui_dialog_confirm .weui_dialog_ft a:after{content:" ";position:absolute;left:0;top:0;width:1px;height:100%;border-left:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(.5);transform:scaleX(.5)}.weui_dialog_confirm .weui_dialog_ft a:first-child:after{display:none}.weui_btn_dialog.default{color:#353535}.weui_btn_dialog.primary{color:#383f90}@media screen and (min-width:1024px){.weui_dialog{width:35%}}.weui_toast{position:fixed;z-index:2147483647;width:7.6em;min-height:7.6em;top:180px;left:50%;margin-left:-3.8em;background:rgba(40,40,40,.75);text-align:center;border-radius:5px;color:#fff}.weui_icon_toast{margin:10px 0 0;display:block;font-size:55px}.weui_toast_content{margin:0 0 15px}.weui_loading_toast .weui_toast_content{margin-top:64%;font-size:28px}.weui_loading{position:absolute;width:0;z-index:2147483647;left:50%;top:38%}.weui_loading_leaf{position:absolute;top:-1px;opacity:.25}.weui_loading_leaf:before{content:" ";position:absolute;width:16.28px;height:6.16px;background:#d1d1d5;box-shadow:rgba(0,0,0,.0980392) 0 0 1px;border-radius:1px;-webkit-transform-origin:left 50% 0;transform-origin:left 50% 0}.weui_loading_leaf_0{-webkit-animation:a 1.25s linear infinite;animation:a 1.25s linear infinite}.weui_loading_leaf_0:before{-webkit-transform:rotate(0deg) translate(15.84px);transform:rotate(0deg) translate(15.84px)}.weui_loading_leaf_1{-webkit-animation:b 1.25s linear infinite;animation:b 1.25s linear infinite}.weui_loading_leaf_1:before{-webkit-transform:rotate(30deg) translate(15.84px);transform:rotate(30deg) translate(15.84px)}.weui_loading_leaf_2{-webkit-animation:c 1.25s linear infinite;animation:c 1.25s linear infinite}.weui_loading_leaf_2:before{-webkit-transform:rotate(60deg) translate(15.84px);transform:rotate(60deg) translate(15.84px)}.weui_loading_leaf_3{-webkit-animation:d 1.25s linear infinite;animation:d 1.25s linear infinite}.weui_loading_leaf_3:before{-webkit-transform:rotate(90deg) translate(15.84px);transform:rotate(90deg) translate(15.84px)}.weui_loading_leaf_4{-webkit-animation:e 1.25s linear infinite;animation:e 1.25s linear infinite}.weui_loading_leaf_4:before{-webkit-transform:rotate(120deg) translate(15.84px);transform:rotate(120deg) translate(15.84px)}.weui_loading_leaf_5{-webkit-animation:f 1.25s linear infinite;animation:f 1.25s linear infinite}.weui_loading_leaf_5:before{-webkit-transform:rotate(150deg) translate(15.84px);transform:rotate(150deg) translate(15.84px)}.weui_loading_leaf_6{-webkit-animation:g 1.25s linear infinite;animation:g 1.25s linear infinite}.weui_loading_leaf_6:before{-webkit-transform:rotate(180deg) translate(15.84px);transform:rotate(180deg) translate(15.84px)}.weui_loading_leaf_7{-webkit-animation:h 1.25s linear infinite;animation:h 1.25s linear infinite}.weui_loading_leaf_7:before{-webkit-transform:rotate(210deg) translate(15.84px);transform:rotate(210deg) translate(15.84px)}.weui_loading_leaf_8{-webkit-animation:i 1.25s linear infinite;animation:i 1.25s linear infinite}.weui_loading_leaf_8:before{-webkit-transform:rotate(240deg) translate(15.84px);transform:rotate(240deg) translate(15.84px)}.weui_loading_leaf_9{-webkit-animation:j 1.25s linear infinite;animation:j 1.25s linear infinite}.weui_loading_leaf_9:before{-webkit-transform:rotate(270deg) translate(15.84px);transform:rotate(270deg) translate(15.84px)}.weui_loading_leaf_10{-webkit-animation:k 1.25s linear infinite;animation:k 1.25s linear infinite}.weui_loading_leaf_10:before{-webkit-transform:rotate(300deg) translate(15.84px);transform:rotate(300deg) translate(15.84px)}.weui_loading_leaf_11{-webkit-animation:l 1.25s linear infinite;animation:l 1.25s linear infinite}.weui_loading_leaf_11:before{-webkit-transform:rotate(330deg) translate(15.84px);transform:rotate(330deg) translate(15.84px)}
@-webkit-keyframes a{0%,0.01%{opacity:.25}0.02%{opacity:1}60.01%,to{opacity:.25}}@-webkit-keyframes b{0%,8.34333%{opacity:.25}8.35333%{opacity:1}68.3433%,to{opacity:.25}}@-webkit-keyframes c{0%,16.6767%{opacity:.25}16.6867%{opacity:1}76.6767%,to{opacity:.25}}@-webkit-keyframes d{0%,25.01%{opacity:.25}25.02%{opacity:1}85.01%,to{opacity:.25}}@-webkit-keyframes e{0%,33.3433%{opacity:.25}33.3533%{opacity:1}93.3433%,to{opacity:.25}}@-webkit-keyframes f{0%{opacity:.270958333333333}41.6767%{opacity:.25}41.6867%{opacity:1}1.67667%{opacity:.25}to{opacity:.270958333333333}}@-webkit-keyframes g{0%{opacity:.375125}50.01%{opacity:.25}50.02%{opacity:1}10.01%{opacity:.25}to{opacity:.375125}}@-webkit-keyframes h{0%{opacity:.479291666666667}58.3433%{opacity:.25}58.3533%{opacity:1}18.3433%{opacity:.25}to{opacity:.479291666666667}}@-webkit-keyframes i{0%{opacity:.583458333333333}66.6767%{opacity:.25}66.6867%{opacity:1}26.6767%{opacity:.25}to{opacity:.583458333333333}}@-webkit-keyframes j{0%{opacity:.687625}75.01%{opacity:.25}75.02%{opacity:1}35.01%{opacity:.25}to{opacity:.687625}}@-webkit-keyframes k{0%{opacity:.791791666666667}83.3433%{opacity:.25}83.3533%{opacity:1}43.3433%{opacity:.25}to{opacity:.791791666666667}}@-webkit-keyframes l{0%{opacity:.895958333333333}91.6767%{opacity:.25}91.6867%{opacity:1}51.6767%{opacity:.25}to{opacity:.895958333333333}}.weui_mask{background:rgba(0,0,0,.3)}.weui_mask,.weui_mask_transition,.weui_mask_transparent{position:fixed;z-index:2147483647;width:100%;height:100%;top:0;left:0}.weui_mask_transition{display:none;background:transparent;-webkit-transition:background .3s;transition:background .3s}.weui_fade_toggle{background:rgba(0,0,0,.6)}.weui_actionsheet{position:fixed;left:0;bottom:0;z-index:2147483647;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;width:100%;background-color:#efeff4;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s;opacity:0}.weui_actionsheet_menu{background-color:#fff}.weui_actionsheet_action{margin-top:12px;background-color:#fff}.weui_actionsheet_cell{position:relative;padding:20px 0;text-align:center;font-size:36px}.weui_actionsheet_cell:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d9d9d9;color:#d9d9d9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_actionsheet_cell:active{background-color:#ececec}.weui_actionsheet_cell:first-child:before{display:none}.weui_actionsheet_toggle{-webkit-transform:translate(0);transform:translate(0);opacity:1}.textToast{width:90%; padding:0.5em;max-height:4.6em;line-height:1.8em;text-align:center;color:#fff!important;border-radius:10px;background-color:rgba(80,80,80,0.8);position:fixed;left:50%;top:80%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:none; z-index:2147483647}.textToastShow{display:block;-webkit-animation:textToastShow 1.5s .2s ease-in-out;animation:textToastShow 1.5s .2s ease-in-out}@-webkit-keyframes textToastShow{30%{opacity:1}100%{opacity:0}}@keyframes textToastShow{30%{opacity:1}100%{opacity:0}}

/*/public/css/mobile/v2019/block/shop/shopinfo.css*/
.shopinfo{ padding:20px 30px;}
.shopinfo .infobox .name{ padding:0 0 20px 0;}
.shopinfo .infobox .imgbox img{ margin-right:20px;}
.shopinfo .infobox .w50{ width:50%; float:left;}
.shopinfo .infobox .attention{ text-align:right;}
.shopinfo .infobox .desc  .box .dhidden{ width:430px;}
.shopinfo .infobox .describe{padding:20px;;margin-top:20px; border: solid 1px #ddd; border-radius:10px;}
.shopinfo .infobox .describe .txt{ max-height:7.2em; overflow:hidden;}
.shopinfo .infobox .describe .more{ text-align:center;}
.shopinfo .infobox .describe .more img{ max-height:2.8em;}

/*/public/css/mobile/v2019/block/publicblock/searchselect.css*/
.searchselect{}
.searchselect .selecthead{ border-top:solid 1px #ddd; border-bottom:solid 1px #ddd;}
.searchselect .selecthead:after{ content:""; display:block; height:0; clear:both;}
.searchselect .selecthead .li{ float:left; text-align:center; padding:0.8em 0; position:relative; height:1.2em;line-height: 1.2em; box-sizing:content-box;}
.searchselect .selecthead .li .iconfont{ font-size:0.8em;transition: all ease-in-out 300ms;display: inline-block;}
.searchselect .selecthead .li .tname{ position:relative;}
.searchselect .selecthead .li .tname i,.searchselect .selecthead .li .priceup i.iconup,.searchselect .selecthead .li .priceup i.icondown{position: absolute;right: -20px;  top: 50%;  margin-top: -5px; width: 0;  height: 0;  border-width: 10px 8px 0 8px; border-style: solid;  border-color: #555ba6 transparent transparent transparent; transition: all ease-in-out 300ms;}
.searchselect .selecthead .li .priceup i.iconup{ top:0px; margin-top:5px;transform: rotate(180deg);border-color: #ccc transparent transparent transparent;}
.searchselect .selecthead .li .priceup i.icondown{border-color: #666 transparent transparent transparent; top:78%;}
.searchselect .selecthead .li.up .priceup i.iconup{border-color: #666 transparent transparent transparent;}
.searchselect .selecthead .li.up .priceup i.icondown{border-color: #ccc transparent transparent transparent;}
.searchselect .selecthead .li.active{ color:#a91324}
.searchselect .selecthead .li.select .tname i{border-color: #fe741c transparent transparent transparent;transform: rotate(180deg);}
.blockstyle2 .searchselect .selecthead .li span.tname i{ border-color: #be0f1b transparent transparent transparent;}

.searchselect .selecthead .li.active span.tname i{ border-color: #fe741c transparent transparent transparent;}
.searchselect .selecthead .li.select .iconfont{transform: rotate(180deg);}
.searchselect .selecthead .li:after{ content:""; border-left:solid 1px #ddd; width:0; height:1em; position:absolute; right:0; top:50%; margin-top:-0.5em;}
.searchselect .selecthead .li:last-child:after{ border:none;}

.searchselect .selecthead .li .priceup{ position:relative; display:inline-block;}
.searchselect .selecthead .li .priceup .iconfont{ position:absolute; right: -1.3em; font-size:0.7em; color:#666;}
.searchselect .selecthead .li .priceup .icon-xiasanjiao-copy1{top:4px; color:#CCC;}
.searchselect .selecthead .li .priceup .icon-xiasanjiao-copy{bottom:0px; }
.searchselect .selecthead .li.up .priceup .icon-xiasanjiao-copy1{ color:#666;}
.searchselect .selecthead .li.up .priceup .icon-xiasanjiao-copy{ color:#CCC;}
.searchselect .selecthead .li.select .priceup .iconfont{transform: rotate(0deg);}
.searchselect .tabcont .licont {position:fixed;left:0;background:#fff;width:100%;height:100%;padding:100px 10px 10px 10px;z-index:9;box-sizing:border-box;display:none;overflow:auto;}
.searchselect .tabcont .licont.active{ display:block;}
.searchselect .tabcont .licont .licontlevel{max-height: 300px;overflow-x: hidden;}
.searchselect .tabcont .licont .licontlevel::-webkit-scrollbar { width:0; height:0;}
.searchselect .tabcont .licont .leval { border-bottom:solid 1px #ddd; line-height:2.2em; text-align:center; position:relative;}

.searchselect .tabcont .licont .leval.active{ color:#F60;}

.searchselect .tabcont .licont .leval.active:after{ content:""; width:12px; height:20px; border:solid 2px #F60; border-top:none;border-left:none;transform: rotate(45deg); display:inline-block;position: absolute;top: 50%;margin-top: -12px;margin-left: 10px;}
.searchselect .tabcont .licont.col3 .licontlevel{ width:33%; float:left; height:300px;}
.searchselect .tabcont .licont.col2 .licontlevel{ width:50%; float:left;}
.searchselect .tabcont .licont:after{ clear:both; display:block; height:0;}
.searchselect .tabcont .licont .licontlevel:nth-child(2){ background-color:#F6F6F6;}
.searchselect .tabcont .licont .licontlevel:nth-child(3){ background-color:#F0F0F0;}
.searchselect .nofix .tabcont{ position:relative; top:0px;}
.searchselect .nofix .tabcont .licont {position:relative;padding:10px; top:0px;}

.searchselect .col1 .selecthead .li{ width:100%;}
.searchselect .col2 .selecthead .li{ width:50%;}
.searchselect .col3 .selecthead .li{ width:33%;}
.searchselect .col4 .selecthead .li{ width:25%;}
.searchselect .col5 .selecthead .li{ width:20%;}

.searchselect .bgcol3 .selecthead .li.active{ color:#fe741c}
.searchselect .bgcol3 .tabcont .licont{ padding:20px;}
.searchselect .bgcol3 .tabcont .licont .licontlevel{ max-height:none;}
.searchselect .bgcol3 .selecthead .li.select{ color:#fe741c; background:#F0F0F0;}
.searchselect .bgcol3 .tabcont .licont .leval{ border:none; width:31.333%; float:left; margin-left:3%; background:#fff; margin-bottom:20px; padding:0px 5px;}
.searchselect .bgcol3 .tabcont .licont .leval:nth-child(3n+1){ margin-left:0px;}
.searchselect .bgcol3 .tabcont .licont.active .licontlevel{ background:#F0F0F0;    margin: -20px; padding: 20px;}
.searchselect .bgcol3 .tabcont .licont .leval.active{ color:#fff; background:#555ba6;}
.searchselect .bgcol3 .tabcont .licont .leval.active::after{ display:none;}
.searchselect .bgcol3 .tabcont .licont .reset{ line-height:3em; text-align:center; margin:20px 0;}


.blockstyle2 .searchselect .bgcol3 .tabcont .licont .leval.active{ background:#be0f1b;}
.blockstyle3 .searchselect .bgcol3 .tabcont .licont .leval.active{ background:#87a5b5;}

/*.searchselect #pos_searchlist{ height:80px;}*/
.searchselect #pos_searchlist.hastitle{ height:200px;}
.searchselect .flexbox.fixed{ width:750px; position:fixed; left:50%; margin-left:-375px; z-index:2; background:#fff;}
.searchselect .flexbox.fixed .blocktitle{ display:none;}

/*/public/css/mobile/v2019/block/product/col.css*/
.productcol{ padding:20px 30px;}
.tab .productcol{ padding:0px 30px 20px 30px;}
.productcol .blocktitle.style1{ margin-bottom:-10px;}
.productcol .blocktitle.style3{ margin-top:10px;}
.productcol .item{ width:332px; float:left; border:solid 1px #ddd; margin-top:10px; margin-bottom:10px; position:relative;}
.productcol .item:nth-child(2n){ float:right;}
.productcol .item .imgbox{ width:332px; height:332px; padding:20px; overflow:hidden;margin: 0px auto;}
.productcol .item .imgbox img{ width:292px; height:292px}
.productcol .item .cont{ padding:0 20px;}
.productcol .item .cont .title{ line-height:1.5em; height:3em;position: relative;margin-left: -30px;padding: 0px 0px 0px 45px;}
.productcol .item .cont .title img{ max-height:1.2em; display:inline-block; vertical-align:middle; margin-right:5px;}

.productcol .item .other{ height:2em; line-height:2em;}
.productcol .item .other .price {color: #f12828;font-weight: bold;display: inline-block;float:left;}
.productcol .item .other .salenum {float:right;display: inline-block;text-align: right;color: #999;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.productcol .item .other .preferential {float: right;display: inline-block;text-align: right;}
.productcol .item .other .preferential a{color: #fd2a32;display: inline-block;line-height: 1.5em;border: solid 1px #fd2a32;color: #fd2a32;padding-right: 3px;}
.productcol .item .other .preferential a::before {content: "券";background-color: #fd2a32;display: inline-block;height: 1.5em;color: #fff;padding: 0px 3px;margin-right: 3px;}

.productcol .item .shopurl{border-top: solid 1px #ddd;padding: 20px 0; margin:0 -10px 0 0;}
.productcol .item .shopurl em{ height:40px; width:40px; line-height:40px; border-radius:4px; color:#FFF;display: inline-block;text-align: center;margin-right: 10px;}
.productcol .item .shopurl .iconfont{ font-size:1em;}
.productcol .item .shopurl.hasbj .bnum{ display:inline-block;vertical-align: middle; line-height:40px; float:right;}
.productcol .item .shopurl.hasbj a{width: 238px;display: inline-block;float: left;}
.productcol .item .shopurl.hasbj:after{ content:""; clear:both; display:block; height:0;}
.productcol .item .baojialist{ display:none; background:#EEE;position:absolute;z-index:99; position:absolute; bottom:80px; background:rgba(0, 0, 0, 0.6); padding:10px 0; min-width:100%; max-width:160% line-height:1.8em;}
.productcol .item:nth-child(2n+1) .baojialist{left:0;} 
.productcol .item:nth-child(2n) .baojialist{right:0;} 
.productcol .item .baojialist .li{ padding: 5px 10px;}
.productcol .item .baojialist img{vertical-align:middle; margin-right:5px;}
.productcol .item .baojialist .mprice{color:#f60;}
.productcol .item .baojialist .preferential a{ font-size: 18px;color: #fff; background: #f72c2c; display: inline-block; padding: 3px; line-height: 1em; border: 1px solid red; vertical-align: text-bottom; border-radius: 2px;}
.productcol .item .baojialist .shopname{display: inline-block;vertical-align: top;max-width: 220px;}

.productcol .item em.num{ width:36px; height:32px; text-align:center; background-color:#d3bf99; color:#FFF; position:absolute;left: 0px;top: 5px;line-height: 32px;}
.productcol .item em.num:after{ content:"";display: block;position: absolute;top: 0px;left: 100%;border-width:16px 6px 16px 0px;border-style: solid; border-color:#d3bf99;border-right-color: transparent !important;width: 0px;height: 0px;}
.productcol .item em.num:before{ content:""; position:absolute; top:100%; left:0px; border-color:#a6936e;border-style: solid;border-right-color: transparent !important;border-left-color: transparent !important;border-bottom-color: transparent !important;border-width: 10px 0px 0px 10px;width: 0px;height: 0px;}
.productcol ul:first-child li:nth-child(1) em.num{ background-color:#de1e1e;}
.productcol ul:first-child li:nth-child(1) em.num:after{ border-color:#de1e1e;}
.productcol ul:first-child li:nth-child(1) em.num:before{ border-color:#ab0f0f;}
.productcol ul:first-child li:nth-child(2) em.num{ background-color:#fc8142;}
.productcol ul:first-child li:nth-child(2) em.num:after{ border-color:#fc8142;}
.productcol ul:first-child li:nth-child(2) em.num:before{ border-color:#de5d1b;}
.productcol ul:first-child li:nth-child(3) em.num{ background-color:#ffb535;}
.productcol ul:first-child li:nth-child(3) em.num:after{ border-color:#ffb535;}
.productcol ul:first-child li:nth-child(3) em.num:before{ border-color:#dd9b29;}




/*/public/css/mobile/v2019/block/brand/zhaoshang.css*/
/* CSS Document */
.brandzhaoshang{ padding:0 30px 30px 30px;}
.brandzhaoshang .jiamengbox{background: url(/public/images/mobile/v2019/jiameng/formbg.png) repeat; padding:20px; }
.brandzhaoshang .jiamengbox .title{ line-height:1.8em; margin-bottom:20px;}
.brandzhaoshang .jiamengbox .title a.more{ color:yellow; float:right;}
.brandzhaoshang .jiamengbox .bg{ background:#fff; padding:20px 30px;}
.brandzhaoshang .jiamengbox .ulbox{ margin-bottom:20px;}
.brandzhaoshang .jiamengbox .ulbox li.w50{ width:50%; float:left;}
.brandzhaoshang .jiamengbox .bg  #checkform li{ margin-top:20px;}
.brandzhaoshang .jiamengbox .bg li.area{margin-right: -20px;}
.brandzhaoshang .jiamengbox .bg li:after{ content:""; clear:both; height:0; display:block;}
.brandzhaoshang .jiamengbox input.jm,.brandzhaoshang .jiamengbox select{ height: 90px;line-height: 90px;border: 1px solid #EEE;padding: 0 5px;border-radius: 3px;width: 183px;float: left;box-sizing: border-box; margin-right:20px; background:none;}
.brandzhaoshang .jiamengbox input.phone{ width:387px; margin-right:0;}
.brandzhaoshang .jiamengbox input.jmbtn{width: 100%;color: #FFF;border: none;line-height: 2.4em;border-radius: 5px;background: #ff2369;background: -webkit-linear-gradient(left, #ff2369, #ff6a3f);background: -o-linear-gradient(left, #ff2369, #ff6a3f);background: -moz-linear-gradient(left, #ff2369, #ff6a3f);background: linear-gradient(left, #ff2369, #ff6a3f);}

.brandzhaoshang .jiamengbox .jiamengadd{ border:0;}
.brandzhaoshang .jiamengbox .jiamengadd form table{ border-right:0;}
.brandzhaoshang .jiamengbox .jiamengadd .form{ width:100%;}

.brandzhaoshang .jiamengbox .bg .xieyi{ text-align:left; margin-top:20px; display: flex; align-items: center;}
.brandzhaoshang .jiamengbox .bg .xieyi input{ width:30px; height:30px;}
.brandzhaoshang .jiamengbox select,.brandzhaoshang .jiamengbox #lianxiren,.brandzhaoshang .jiamengbox .phone{appearance:none; -moz-appearance:none;   -webkit-appearance:none; }
.brandzhaoshang .jiamengbox select{ background: url(/public/images/mcnpp/v2020/jiantou.png) 140px center no-repeat;}



/*/public/css/mobile/v2019/block/webshop/col.css*/
.webshopcol{padding: 0 30px;}
.webshopcol li.item{padding: 20px 0;border-bottom: solid 1px #ddd;}
.webshopcol .imgbox{display: table-cell;vertical-align: middle;}
.webshopcol .imgbox a{width: 290px;height: 186px;margin-right: 15px;overflow: hidden; display:block;}
.webshopcol .imgbox img{ width:100%; height:100%; object-fit:cover;}
.webshopcol .cont{display: table-cell;vertical-align: middle;}
.webshopcol .cont ul{width:385px;}
.webshopcol .cont .webtitle{margin-top: -10px;margin-bottom: 10px;}
.webshopcol .cont .webtitle img{ max-height:1em;display: inline-block;vertical-align: middle; margin-right:5px;}
.webshopcol .cont .title{font-weight: bold;}
.webshopcol .cont .typename{ color:#fbe01b; background-color:#363634; display:inline-block; vertical-align:middle; line-height:1.5em; padding:0 10px; border-radius:5px;margin-left: 20px;}
.webshopcol .cont .shoplevel img {vertical-align: middle;max-height: 1.2em; margin: 0px 8px;}
.webshopcol .cont .buybtn{ margin-top:5px;}
.webshopcol .cont .buybtn a{ color:#fe741c; border:solid 1px #fe741c; line-height:1.6em; border-radius:0.8em; padding:0px 20px;display: inline-block;}

.webshopcol.hasnum{counter-reset: li;}
.webshopcol.hasnum .cont .title:before{counter-increment: li;content: counter(li);display:inline-block;min-width:36px; height:36px;line-height:36px;border-radius:5px; background:#ccc;text-align:center; margin-right:10px; margin-top:-2px;color:#fff; vertical-align:middle;}
.webshopcol.hasnum ul .item:nth-child(1) .cont .title:before{background:#fe741c;}
.webshopcol.hasnum ul .item:nth-child(2) .cont .title:before{background:#FDB80C;}
.webshopcol.hasnum ul .item:nth-child(3) .cont .title:before{background:#ffdc00;}