.md_3024{ padding:20px 30px;}
.md_3024 h2{ padding-left:2em; font-weight:normal; margin-bottom:30px;}
.md_3024 h2 i.buy{ position:absolute; left:0; top:0.25em; display:inline-block; width:1.5em; height:1.5em; border-radius:1.5em;background-image:url(../images/ac7c2-3970.png); background-repeat:no-repeat; background-position:center center;}

.md_3024.notitle h2{ display:none;}