.md_4015{ padding:20px 30px;}
.md_4015 .mod_cont{ border-width:6px; border-style:solid; padding:12px;}
.md_4015 .mod_cont .mod_border{ border-width:2px; border-style:solid; padding:18px;}
.md_4015 .mod_cont p{ text-indent:0 !important;}
.md_4015 .mod_cont img{ max-width:100%;}
