.md_3032{ padding:20px 30px;}
.md_3032 .md_title{border-bottom-style:solid; border-bottom-width:2px; display:inline-block;}
.md_3032 .md_title .bgcolor{ width:2em; height:2em; float:left;}
.md_3032 .md_title .t{ line-height:2em; padding:0px 20px;float:left;}

.md_3032.notitle .md_title{ display:none;}
