@charset "utf-8";
/*鼠标事件*/ 
.model_data{ cursor:pointer; position:relative;}
.model_data.insingle{ z-index:99;}
.model_data::after{content:""; display:none; position:absolute; left:0; top:0; width:100%; height:100%; border:1px solid #f60;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;box-sizing: border-box;}
div.model_data:hover{ display: block;}
div.model_data:hover::after{ display:block;} 
span.model_data:hover{ display: block;}
span.model_data:hover::after{display:block;} 
.model_style{ cursor:pointer; position:relative;}
.model_style::after{content:"双击可修改此区域背景"; display:none; white-space:nowrap; position:absolute; right:0; bottom:-5px; background:#F63; padding:2px 5px; font-size:10px; color:#fff;}
.model_style:hover::after{ display:block;}
.model_url{ cursor:pointer; position:relative;}
.model_url::after{content:"双击修改链接"; display:none; position:absolute; left:0; top:100%; background:#F63; padding:2px 5px; font-size:10px; color:#fff;}
.model_url:hover::after{ display:block;}

/*全局定位*/
.absolute{ position:absolute;}
.relative{ position:relative;}
.tablecell{ display:table-cell; vertical-align:middle; text-align:center}
.midtranbg{background:rgba(233,233,233,0.5);}
/*解决table-cell兼容问题*/
.md_table{ display:table; *position:relative;}
.md_table .md_cell{ display:table-cell; width:100%; *position:absolute; *top:50%; *left:0; vertical-align:middle;}
.md_table .md_cell .md_mid{*position:relative; *top:-50%; *left:0;}

/*全局*/
.pc .md_9999.modelbox img{ max-width:100%;}
.mobile .md_9999.modelbox img{ vertical-align:middle; max-width:100%; height:auto;}/*不能直接去掉，否则就可能造成图片之间有空隙*/
.b{ font-weight:bold;}
.p{text-indent:2em;}
.tcenter{ text-align:center;}
.tleft{ text-align:left;}
.inb{width:100%; display:inline-block;}
.text-overflow,.oneline{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block;}

/*全局高度*/
.overhidden{ overflow:hidden;}
.height1em{height:1em;}
.height2em{height:2em;}
.height3em{height:3em;}
.height4em{height:4em;}
.height4halfem{height:4.5em;}
.height54em{height:5.4em;}
.height6em{height:6em;}
.height18{height:18px;}
.height24{height:24px;}
.height27{height:27px;}
.height36{height:36px;}
.height54{height:54px;}
.line1em{ line-height:1em;}
.line1halfem{ line-height:1.5em;}
.line18em{ line-height:1.8em;}
.line2em{ line-height:2em;}
.line18{ line-height:18px;}
.line24{line-height:24px;}
.line27{line-height:27px;}
.line36{line-height:36px;}
.line54{line-height:54px;}
.breakall{overflow: hidden;word-break: break-all;word-wrap: break-word;}

/*全局padding*/
.pd0{ padding:0;}
.pd10{ padding:10px;}
.pdt_5{ padding-top:5px;}
.pdb_5{ padding-bottom:5px;}
.pdt_10{ padding-top:10px;}
.pdb_10{ padding-bottom:10px;}
.pdl_10{ padding-left:10px;}
.pdr_10{ padding-right:10px;}
.pdl_20{ padding-left:20px;}
.pdr_20{ padding-right:20px;}
.pdl_50{ padding-left:50px;}
.pdr_50{ padding-right:50px;}

/*全局margin*/
.mg0{ margin:0;}
.mg10{ margin:10px;}
.mgt_10{ margin-top:10px;}
.mgb_5{ margin-bottom:5px;}
.mgb_3{ margin-bottom:3px;}
.mgb_2{ margin-bottom:2px;}
.mgb_10{ margin-bottom:10px;}
.mgl_20{ margin-left:20px;}
.mgr_5{ margin-right:5px;}
.mgl_10{ margin-left:10px;}
.mgr_10{ margin-right:10px;}

.mgt_20{ margin-top:20px;}

/*全局字体颜色*/
.fcolor1,.fcolor1 a,.pagecolor1 .fcolor,#t_container .tcolor1 .fcolor,.pagecolor1 .fcolor a,#t_container .tcolor1 .fcolor a{ color:#6b2e12;}
.fcolor2,.fcolor2 a,.pagecolor2 .fcolor,#t_container .tcolor2 .fcolor,.pagecolor2 .fcolor a,#t_container .tcolor2 .fcolor a{ color:#b81212;}
.fcolor3,.fcolor3 a,.pagecolor3 .fcolor,#t_container .tcolor3 .fcolor,.pagecolor3 .fcolor a,#t_container .tcolor3 .fcolor a{ color:#d92822;}
.fcolor4,.fcolor4 a,.pagecolor4 .fcolor,#t_container .tcolor4 .fcolor,.pagecolor4 .fcolor a,#t_container .tcolor4 .fcolor a{ color:#f74426;}
.fcolor5,.fcolor5 a,.pagecolor5 .fcolor,#t_container .tcolor5 .fcolor,.pagecolor5 .fcolor a,#t_container .tcolor5 .fcolor a{ color:#ef6f62;}
.fcolor6,.fcolor6 a,.pagecolor6 .fcolor,#t_container .tcolor6 .fcolor,.pagecolor6 .fcolor a,#t_container .tcolor6 .fcolor a{ color:#d32a63;}
.fcolor7,.fcolor7 a,.pagecolor7 .fcolor,#t_container .tcolor7 .fcolor,.pagecolor7 .fcolor a,#t_container .tcolor7 .fcolor a{ color:#eb6894;}
.fcolor8,.fcolor8 a,.pagecolor8 .fcolor,#t_container .tcolor8 .fcolor,.pagecolor8 .fcolor a,#t_container .tcolor8 .fcolor a{ color:#f4bdd2;}
.fcolor9,.fcolor9 a,.pagecolor9 .fcolor,#t_container .tcolor9 .fcolor,.pagecolor9 .fcolor a,#t_container .tcolor9 .fcolor a{ color:#a55bcc;}
.fcolor10,.fcolor10 a,.pagecolor10 .fcolor,#t_container .tcolor10 .fcolor,.pagecolor10 .fcolor a,#t_container .tcolor10 .fcolor a{ color:#ffebf0;}
.fcolor11,.fcolor11 a,.pagecolor11 .fcolor,#t_container .tcolor11 .fcolor,.pagecolor11 .fcolor a,#t_container .tcolor11 .fcolor a{ color:#e2561b;}
.fcolor12,.fcolor12 a,.pagecolor12 .fcolor,#t_container .tcolor12 .fcolor,.pagecolor12 .fcolor a,#t_container .tcolor12 .fcolor a{ color:#ff8025;}
.fcolor13,.fcolor13 a,.pagecolor13 .fcolor,#t_container .tcolor13 .fcolor,.pagecolor13 .fcolor a,#t_container .tcolor13 .fcolor a{ color:#fecb02;}
.fcolor14,.fcolor14 a,.pagecolor14 .fcolor,#t_container .tcolor14 .fcolor,.pagecolor14 .fcolor a,#t_container .tcolor14 .fcolor a{ color:#fdc101;}
.fcolor15,.fcolor15 a,.pagecolor15 .fcolor,#t_container .tcolor15 .fcolor,.pagecolor15 .fcolor a,#t_container .tcolor15 .fcolor a{ color:#eb6a0c;}
.fcolor16,.fcolor16 a,.pagecolor16 .fcolor,#t_container .tcolor16 .fcolor,.pagecolor16 .fcolor a,#t_container .tcolor16 .fcolor a{ color:#43a886;}
.fcolor17,.fcolor17 a,.pagecolor17 .fcolor,#t_container .tcolor17 .fcolor,.pagecolor17 .fcolor a,#t_container .tcolor17 .fcolor a{ color:#8fc965;}
.fcolor18,.fcolor18 a,.pagecolor18 .fcolor,#t_container .tcolor18 .fcolor,.pagecolor18 .fcolor a,#t_container .tcolor18 .fcolor a{ color:#009da2;}
.fcolor19,.fcolor19 a,.pagecolor19 .fcolor,#t_container .tcolor19 .fcolor,.pagecolor19 .fcolor a,#t_container .tcolor19 .fcolor a{ color:#9a9b24;}
.fcolor20,.fcolor20 a,.pagecolor20 .fcolor,#t_container .tcolor20 .fcolor,.pagecolor20 .fcolor a,#t_container .tcolor20 .fcolor a{ color:#a1802f;}
.fcolor21,.fcolor21 a,.pagecolor21 .fcolor,#t_container .tcolor21 .fcolor,.pagecolor21 .fcolor a,#t_container .tcolor21 .fcolor a{ color:#182164;}
.fcolor22,.fcolor22 a,.pagecolor22 .fcolor,#t_container .tcolor22 .fcolor,.pagecolor22 .fcolor a,#t_container .tcolor22 .fcolor a{ color:#209beb;}
.fcolor23,.fcolor23 a,.pagecolor23 .fcolor,#t_container .tcolor23 .fcolor,.pagecolor23 .fcolor a,#t_container .tcolor23 .fcolor a{ color:#59c3f3;}
.fcolor24,.fcolor24 a,.pagecolor24 .fcolor,#t_container .tcolor24 .fcolor,.pagecolor24 .fcolor a,#t_container .tcolor24 .fcolor a{ color:#b9e2ff;}
.fcolor25,.fcolor25 a,.pagecolor25 .fcolor,#t_container .tcolor25 .fcolor,.pagecolor25 .fcolor a,#t_container .tcolor25 .fcolor a{ color:#b6aed3;}
.fcolor26,.fcolor26 a,.pagecolor26 .fcolor,#t_container .tcolor26 .fcolor,.pagecolor26 .fcolor a,#t_container .tcolor26 .fcolor a{ color:#22211f;}
.fcolor27,.fcolor27 a,.pagecolor27 .fcolor,#t_container .tcolor27 .fcolor,.pagecolor27 .fcolor a,#t_container .tcolor27 .fcolor a{ color:#757575;}
.fcolor28,.fcolor28 a,.pagecolor28 .fcolor,#t_container .tcolor28 .fcolor,.pagecolor28 .fcolor a,#t_container .tcolor28 .fcolor a{ color:#c6c6c8;}
.fcolor29,.fcolor29 a,.pagecolor29 .fcolor,#t_container .tcolor29 .fcolor,.pagecolor29 .fcolor a,#t_container .tcolor29 .fcolor a{ color:#4f5263;}
.fcolor30,.fcolor30 a,.pagecolor30 .fcolor,#t_container .tcolor30 .fcolor,.pagecolor30 .fcolor a,#t_container .tcolor30 .fcolor a{ color:#ffffff;}
.fcolor31,.fcolor31 a,.pagecolor31 .fcolor,#t_container .tcolor31 .fcolor,.pagecolor31 .fcolor a,#t_container .tcolor31 .fcolor a{ color:#89463d;}
.fcolor32,.fcolor32 a,.pagecolor32 .fcolor,#t_container .tcolor32 .fcolor,.pagecolor32 .fcolor a,#t_container .tcolor32 .fcolor a{ color:#cc7a24;}
.fcolor33,.fcolor33 a,.pagecolor33 .fcolor,#t_container .tcolor33 .fcolor,.pagecolor33 .fcolor a,#t_container .tcolor33 .fcolor a{ color:#f8ce86;}
.fcolor34,.fcolor34 a,.pagecolor34 .fcolor,#t_container .tcolor34 .fcolor,.pagecolor34 .fcolor a,#t_container .tcolor34 .fcolor a{ color:#3b3632;}
.fcolor35,.fcolor35 a,.pagecolor35 .fcolor,#t_container .tcolor35 .fcolor,.pagecolor35 .fcolor a,#t_container .tcolor35 .fcolor a{ color:#b48b75;}
.fcolor36,.fcolor36 a,.pagecolor36 .fcolor,#t_container .tcolor36 .fcolor,.pagecolor36 .fcolor a,#t_container .tcolor36 .fcolor a{ color:#093564;}

.pagecolor666,.pagecolor666 a{color:#666;}
.pagecolor333,.pagecolor333 a{color:#333;}
.pagecolor2b,.pagecolor2b a{color:#2B2B2B;}
.fcolor a:hover,.fcolor1 a:hover,.fcolor2 a:hover,.fcolor3 a:hover,.fcolor4 a:hover,.fcolor5 a:hover,.fcolor6 a:hover,.fcolor7 a:hover,.fcolor8 a:hover,.fcolor9 a:hover,.fcolor10 a:hover,.fcolor11 a:hover,.fcolor12 a:hover,.fcolor13 a:hover,.fcolor14 a:hover,.fcolor15 a:hover,.fcolor16 a:hover,.fcolor17 a:hover,.fcolor18 a:hover,.fcolor19 a:hover,.fcolor20 a:hover,.fcolor21 a:hover,.fcolor22 a:hover,.fcolor23 a:hover,.fcolor24 a:hover,.fcolor25 a:hover,.fcolor26 a:hover,.fcolor27 a:hover,.fcolor28 a:hover,.fcolor29 a:hover,.fcolor30 a:hover,.fcolor31 a:hover,.fcolor32 a:hover,.fcolor33 a:hover,.fcolor34 a:hover,.fcolor35 a:hover,.fcolor36 a:hover,.pagecolor666 a:hover,.pagecolor333 a:hover,.pagecolor2b a:hover{ color:#f90 !important;}
.fcolor1 a:hover span,.fcolor2 a:hover span,.fcolor3 a:hover span,.fcolor4 a:hover span,.fcolor5 a:hover span,.fcolor6 a:hover span,.fcolor7 a:hover span,.fcolor8 a:hover span,.fcolor9 a:hover span,.fcolor10 a:hover span,.fcolor11 a:hover span,.fcolor12 a:hover span,.fcolor13 a:hover span,.fcolor14 a:hover span,.fcolor15 a:hover span,.fcolor16 a:hover span,.fcolor17 a:hover span,.fcolor18 a:hover span,.fcolor19 a:hover span,.fcolor20 a:hover span,.fcolor21 a:hover span,.fcolor22 a:hover span,.fcolor23 a:hover span,.fcolor24 a:hover span,.fcolor25 a:hover span,.fcolor26 a:hover span,.fcolor27 a:hover span,.fcolor28 a:hover span,.fcolor29 a:hover span,.fcolor30 a:hover span,.fcolor31 a:hover span,.fcolor32 a:hover span,.fcolor33 a:hover span,.fcolor34 a:hover span,.fcolor35 a:hover span,.fcolor36 a:hover span,.pagecolor666 a:hover span,.pagecolor333 a:hover span,.pagecolor2b a:hover span{ color:#f90 !important;}

/*全局背景颜色*/
.tranbg_hui{ background:rgba(0,0,0,0.5)}
.pagecolor1 .bgcolor,#t_container .tcolor1 .bgcolor,.pagecolor1 .hvbgcolor:hover .md_bg,#t_container .tcolor1 .hvbgcolor:hover .md_bg,.pagecolor1 .current .md_bg,#t_container .tcolor1 .current .md_bg{ background-color:#6b2e12;}
.pagecolor2 .bgcolor,#t_container .tcolor2 .bgcolor,.pagecolor2 .hvbgcolor:hover .md_bg,#t_container .tcolor2 .hvbgcolor:hover .md_bg,.pagecolor2 .current .md_bg,#t_container .tcolor2 .current .md_bg{ background-color:#b81212;}
.pagecolor3 .bgcolor,#t_container .tcolor3 .bgcolor,.pagecolor3 .hvbgcolor:hover .md_bg,#t_container .tcolor3 .hvbgcolor:hover .md_bg,.pagecolor3 .current .md_bg,#t_container .tcolor3 .current .md_bg{ background-color:#d92822;}
.pagecolor4 .bgcolor,#t_container .tcolor4 .bgcolor,.pagecolor4 .hvbgcolor:hover .md_bg,#t_container .tcolor4 .hvbgcolor:hover .md_bg,.pagecolor4 .current .md_bg,#t_container .tcolor4 .current .md_bg{ background-color:#f74426;}
.pagecolor5 .bgcolor,#t_container .tcolor5 .bgcolor,.pagecolor5 .hvbgcolor:hover .md_bg,#t_container .tcolor5 .hvbgcolor:hover .md_bg,.pagecolor5 .current .md_bg,#t_container .tcolor5 .current .md_bg{ background-color:#ef6f62;}
.pagecolor6 .bgcolor,#t_container .tcolor6 .bgcolor,.pagecolor6 .hvbgcolor:hover .md_bg,#t_container .tcolor6 .hvbgcolor:hover .md_bg,.pagecolor6 .current .md_bg,#t_container .tcolor6 .current .md_bg{ background-color:#d32a63;}
.pagecolor7 .bgcolor,#t_container .tcolor7 .bgcolor,.pagecolor7 .hvbgcolor:hover .md_bg,#t_container .tcolor7 .hvbgcolor:hover .md_bg,.pagecolor7 .current .md_bg,#t_container .tcolor7 .current .md_bg{ background-color:#eb6894;}
.pagecolor8 .bgcolor,#t_container .tcolor8 .bgcolor,.pagecolor8 .hvbgcolor:hover .md_bg,#t_container .tcolor8 .hvbgcolor:hover .md_bg,.pagecolor8 .current .md_bg,#t_container .tcolor8 .current .md_bg{ background-color:#f4bdd2;}
.pagecolor9 .bgcolor,#t_container .tcolor9 .bgcolor,.pagecolor9 .hvbgcolor:hover .md_bg,#t_container .tcolor9 .hvbgcolor:hover .md_bg,.pagecolor9 .current .md_bg,#t_container .tcolor9 .current .md_bg{ background-color:#a55bcc;}
.pagecolor10 .bgcolor,#t_container .tcolor10 .bgcolor,.pagecolor10 .hvbgcolor:hover .md_bg,#t_container .tcolor10 .hvbgcolor:hover .md_bg,.pagecolor10 .current .md_bg,#t_container .tcolor10 .current .md_bg{ background-color:#ffebf0;}
.pagecolor11 .bgcolor,#t_container .tcolor11 .bgcolor,.pagecolor11 .hvbgcolor:hover .md_bg,#t_container .tcolor11 .hvbgcolor:hover .md_bg,.pagecolor11 .current .md_bg,#t_container .tcolor11 .current .md_bg{ background-color:#e2561b;}
.pagecolor12 .bgcolor,#t_container .tcolor12 .bgcolor,.pagecolor12 .hvbgcolor:hover .md_bg,#t_container .tcolor12 .hvbgcolor:hover .md_bg,.pagecolor12 .current .md_bg,#t_container .tcolor12 .current .md_bg{ background-color:#ff8025;}
.pagecolor13 .bgcolor,#t_container .tcolor13 .bgcolor,.pagecolor13 .hvbgcolor:hover .md_bg,#t_container .tcolor13 .hvbgcolor:hover .md_bg,.pagecolor13 .current .md_bg,#t_container .tcolor13 .current .md_bg{ background-color:#fecb02;}
.pagecolor14 .bgcolor,#t_container .tcolor14 .bgcolor,.pagecolor14 .hvbgcolor:hover .md_bg,#t_container .tcolor14 .hvbgcolor:hover .md_bg,.pagecolor14 .current .md_bg,#t_container .tcolor14 .current .md_bg{ background-color:#fdc101;}
.pagecolor15 .bgcolor,#t_container .tcolor15 .bgcolor,.pagecolor15 .hvbgcolor:hover .md_bg,#t_container .tcolor15 .hvbgcolor:hover .md_bg,.pagecolor15 .current .md_bg,#t_container .tcolor15 .current .md_bg{ background-color:#eb6a0c;}
.pagecolor16 .bgcolor,#t_container .tcolor16 .bgcolor,.pagecolor16 .hvbgcolor:hover .md_bg,#t_container .tcolor16 .hvbgcolor:hover .md_bg,.pagecolor16 .current .md_bg,#t_container .tcolor16 .current .md_bg{ background-color:#43a886;}
.pagecolor17 .bgcolor,#t_container .tcolor17 .bgcolor,.pagecolor17 .hvbgcolor:hover .md_bg,#t_container .tcolor17 .hvbgcolor:hover .md_bg,.pagecolor17 .current .md_bg,#t_container .tcolor17 .current .md_bg{ background-color:#8fc965;}
.pagecolor18 .bgcolor,#t_container .tcolor18 .bgcolor,.pagecolor18 .hvbgcolor:hover .md_bg,#t_container .tcolor18 .hvbgcolor:hover .md_bg,.pagecolor18 .current .md_bg,#t_container .tcolor18 .current .md_bg{ background-color:#009da2;}
.pagecolor19 .bgcolor,#t_container .tcolor19 .bgcolor,.pagecolor19 .hvbgcolor:hover .md_bg,#t_container .tcolor19 .hvbgcolor:hover .md_bg,.pagecolor19 .current .md_bg,#t_container .tcolor19 .current .md_bg{ background-color:#9a9b24;}
.pagecolor20 .bgcolor,#t_container .tcolor20 .bgcolor,.pagecolor20 .hvbgcolor:hover .md_bg,#t_container .tcolor20 .hvbgcolor:hover .md_bg,.pagecolor20 .current .md_bg,#t_container .tcolor20 .current .md_bg{ background-color:#a1802f;}
.pagecolor21 .bgcolor,#t_container .tcolor21 .bgcolor,.pagecolor21 .hvbgcolor:hover .md_bg,#t_container .tcolor21 .hvbgcolor:hover .md_bg,.pagecolor21 .current .md_bg,#t_container .tcolor21 .current .md_bg{ background-color:#182164;}
.pagecolor22 .bgcolor,#t_container .tcolor22 .bgcolor,.pagecolor22 .hvbgcolor:hover .md_bg,#t_container .tcolor22 .hvbgcolor:hover .md_bg,.pagecolor22 .current .md_bg,#t_container .tcolor22 .current .md_bg{ background-color:#209beb;}
.pagecolor23 .bgcolor,#t_container .tcolor23 .bgcolor,.pagecolor23 .hvbgcolor:hover .md_bg,#t_container .tcolor23 .hvbgcolor:hover .md_bg,.pagecolor23 .current .md_bg,#t_container .tcolor23 .current .md_bg{ background-color:#59c3f3;}
.pagecolor24 .bgcolor,#t_container .tcolor24 .bgcolor,.pagecolor24 .hvbgcolor:hover .md_bg,#t_container .tcolor24 .hvbgcolor:hover .md_bg,.pagecolor24 .current .md_bg,#t_container .tcolor24 .current .md_bg{ background-color:#b9e2ff;}
.pagecolor25 .bgcolor,#t_container .tcolor25 .bgcolor,.pagecolor25 .hvbgcolor:hover .md_bg,#t_container .tcolor25 .hvbgcolor:hover .md_bg,.pagecolor25 .current .md_bg,#t_container .tcolor25 .current .md_bg{ background-color:#b6aed3;}
.pagecolor26 .bgcolor,#t_container .tcolor26 .bgcolor,.pagecolor26 .hvbgcolor:hover .md_bg,#t_container .tcolor26 .hvbgcolor:hover .md_bg,.pagecolor26 .current .md_bg,#t_container .tcolor26 .current .md_bg{ background-color:#22211f;}
.pagecolor27 .bgcolor,#t_container .tcolor27 .bgcolor,.pagecolor27 .hvbgcolor:hover .md_bg,#t_container .tcolor27 .hvbgcolor:hover .md_bg,.pagecolor27 .current .md_bg,#t_container .tcolor27 .current .md_bg{ background-color:#757575;}
.pagecolor28 .bgcolor,#t_container .tcolor28 .bgcolor,.pagecolor28 .hvbgcolor:hover .md_bg,#t_container .tcolor28 .hvbgcolor:hover .md_bg,.pagecolor28 .current .md_bg,#t_container .tcolor28 .current .md_bg{ background-color:#c6c6c8;}
.pagecolor29 .bgcolor,#t_container .tcolor29 .bgcolor,.pagecolor29 .hvbgcolor:hover .md_bg,#t_container .tcolor29 .hvbgcolor:hover .md_bg,.pagecolor29 .current .md_bg,#t_container .tcolor29 .current .md_bg{ background-color:#4f5263;}
.pagecolor30 .bgcolor,#t_container .tcolor30 .bgcolor,.pagecolor30 .hvbgcolor:hover .md_bg,#t_container .tcolor30 .hvbgcolor:hover .md_bg,.pagecolor30 .current .md_bg,#t_container .tcolor30 .current .md_bg{ background-color:#ffffff;}
.pagecolor31 .bgcolor,#t_container .tcolor31 .bgcolor,.pagecolor31 .hvbgcolor:hover .md_bg,#t_container .tcolor31 .hvbgcolor:hover .md_bg,.pagecolor31 .current .md_bg,#t_container .tcolor31 .current .md_bg{ background-color:#89463d;}
.pagecolor32 .bgcolor,#t_container .tcolor32 .bgcolor,.pagecolor32 .hvbgcolor:hover .md_bg,#t_container .tcolor32 .hvbgcolor:hover .md_bg,.pagecolor32 .current .md_bg,#t_container .tcolor32 .current .md_bg{ background-color:#cc7a24;}
.pagecolor33 .bgcolor,#t_container .tcolor33 .bgcolor,.pagecolor33 .hvbgcolor:hover .md_bg,#t_container .tcolor33 .hvbgcolor:hover .md_bg,.pagecolor33 .current .md_bg,#t_container .tcolor33 .current .md_bg{ background-color:#f8ce86;}
.pagecolor34 .bgcolor,#t_container .tcolor34 .bgcolor,.pagecolor34 .hvbgcolor:hover .md_bg,#t_container .tcolor34 .hvbgcolor:hover .md_bg,.pagecolor34 .current .md_bg,#t_container .tcolor34 .current .md_bg{ background-color:#3b3632;}
.pagecolor35 .bgcolor,#t_container .tcolor35 .bgcolor,.pagecolor35 .hvbgcolor:hover .md_bg,#t_container .tcolor35 .hvbgcolor:hover .md_bg,.pagecolor35 .current .md_bg,#t_container .tcolor35 .current .md_bg{ background-color:#b48b75;}
.pagecolor36 .bgcolor,#t_container .tcolor36 .bgcolor,.pagecolor36 .hvbgcolor:hover .md_bg,#t_container .tcolor36 .hvbgcolor:hover .md_bg,.pagecolor36 .current .md_bg,#t_container .tcolor36 .current .md_bg{ background-color:#093564;}

.pagecolor1 .bgcolor-s,#t_container .tcolor1 .bgcolor-s{background:#501900;}
.pagecolor2 .bgcolor-s,#t_container .tcolor2 .bgcolor-s{background:#980000;}
.pagecolor3 .bgcolor-s,#t_container .tcolor3 .bgcolor-s{background:#bd0600;}
.pagecolor4 .bgcolor-s,#t_container .tcolor4 .bgcolor-s{background:#dd2607;}
.pagecolor5 .bgcolor-s,#t_container .tcolor5 .bgcolor-s{background:#d24739;}
.pagecolor6 .bgcolor-s,#t_container .tcolor6 .bgcolor-s{background:#d24739;}
.pagecolor7 .bgcolor-s,#t_container .tcolor7 .bgcolor-s{background:#d34172;}
.pagecolor8 .bgcolor-s,#t_container .tcolor8 .bgcolor-s{background:#dc84a6;}
.pagecolor9 .bgcolor-s,#t_container .tcolor9 .bgcolor-s{background:#8235a8;}
.pagecolor10 .bgcolor-s,#t_container .tcolor10 .bgcolor-s{background:#d8acb7;}
.pagecolor11 .bgcolor-s,#t_container .tcolor11 .bgcolor-s{background:#c23a00;}
.pagecolor12 .bgcolor-s,#t_container .tcolor12 .bgcolor-s{background:#df650e;}
.pagecolor13 .bgcolor-s,#t_container .tcolor13 .bgcolor-s{background:#d6ab00;}
.pagecolor14 .bgcolor-s,#t_container .tcolor14 .bgcolor-s{background:#d5a200;}
.pagecolor15 .bgcolor-s,#t_container .tcolor15 .bgcolor-s{background:#b95004;}
.pagecolor16 .bgcolor-s,#t_container .tcolor16 .bgcolor-s{background:#258160;}
.pagecolor17 .bgcolor-s,#t_container .tcolor17 .bgcolor-s{background:#6ba441;}
.pagecolor18 .bgcolor-s,#t_container .tcolor18 .bgcolor-s{background:#027276;}
.pagecolor19 .bgcolor-s,#t_container .tcolor19 .bgcolor-s{background:#74750f;}
.pagecolor20 .bgcolor-s,#t_container .tcolor20 .bgcolor-s{background:#765b19;}
.pagecolor21 .bgcolor-s,#t_container .tcolor21 .bgcolor-s{background:#080f47;}
.pagecolor22 .bgcolor-s,#t_container .tcolor22 .bgcolor-s{background:#0b74b4;}
.pagecolor23 .bgcolor-s,#t_container .tcolor23 .bgcolor-s{background:#2d8fc5;}
.pagecolor24 .bgcolor-s,#t_container .tcolor24 .bgcolor-s{background:#65a1c0;}
.pagecolor25 .bgcolor-s,#t_container .tcolor25 .bgcolor-s{background:#7167a7;}
.pagecolor26 .bgcolor-s,#t_container .tcolor26 .bgcolor-s{background:#100d0d;}
.pagecolor27 .bgcolor-s,#t_container .tcolor27 .bgcolor-s{background:#404040;}
.pagecolor28 .bgcolor-s,#t_container .tcolor28 .bgcolor-s{background:#8484a2;}
.pagecolor29 .bgcolor-s,#t_container .tcolor29 .bgcolor-s{background:#26293e;}
.pagecolor30 .bgcolor-s,#t_container .tcolor30 .bgcolor-s{background:#bdb6b6;}
.pagecolor31 .bgcolor-s,#t_container .tcolor31 .bgcolor-s{background:#57251e;}
.pagecolor32 .bgcolor-s,#t_container .tcolor32 .bgcolor-s{background:#915113;}
.pagecolor33 .bgcolor-s,#t_container .tcolor33 .bgcolor-s{background:#da9230;}
.pagecolor34 .bgcolor-s,#t_container .tcolor34 .bgcolor-s{background:#251b13;}
.pagecolor35 .bgcolor-s,#t_container .tcolor35 .bgcolor-s{background:#b26339;}
.pagecolor36 .bgcolor-s,#t_container .tcolor36 .bgcolor-s{background:#00486A;}

.pagecolor1 .bgcolor-q,#t_container .tcolor1 .bgcolor-q{ background:#b56744;}
.pagecolor2 .bgcolor-q,#t_container .tcolor2 .bgcolor-q{ background:#dc4747;}
.pagecolor3 .bgcolor-q,#t_container .tcolor3 .bgcolor-q{ background:#ec5b57;}
.pagecolor4 .bgcolor-q,#t_container .tcolor4 .bgcolor-q{ background:#fb715c;}
.pagecolor5 .bgcolor-q,#t_container .tcolor5 .bgcolor-q{ background:#f79689;}
.pagecolor6 .bgcolor-q,#t_container .tcolor6 .bgcolor-q{ background:#e95e8a;}
.pagecolor7 .bgcolor-q,#t_container .tcolor7 .bgcolor-q{ background:#f58fb1;}
.pagecolor8 .bgcolor-q,#t_container .tcolor8 .bgcolor-q{ background:#facfde;}
.pagecolor9 .bgcolor-q,#t_container .tcolor9 .bgcolor-q{ background:#c785e6;}
.pagecolor10 .bgcolor-q,#t_container .tcolor10 .bgcolor-q{ background:#ffebf0;}
.pagecolor11 .bgcolor-q,#t_container .tcolor11 .bgcolor-q{ background:#f18152;}
.pagecolor12 .bgcolor-q,#t_container .tcolor12 .bgcolor-q{ background:#ffa05b;}
.pagecolor13 .bgcolor-q,#t_container .tcolor13 .bgcolor-q{ background:#ffe273;}
.pagecolor14 .bgcolor-q,#t_container .tcolor14 .bgcolor-q{ background:#fede72;}
.pagecolor15 .bgcolor-q,#t_container .tcolor15 .bgcolor-q{ background:#f49046;}
.pagecolor16 .bgcolor-q,#t_container .tcolor16 .bgcolor-q{ background:#74d3b4;}
.pagecolor17 .bgcolor-q,#t_container .tcolor17 .bgcolor-q{ background:#b2e48f;}
.pagecolor18 .bgcolor-q,#t_container .tcolor18 .bgcolor-q{ background:#34d0d0;}
.pagecolor19 .bgcolor-q,#t_container .tcolor19 .bgcolor-q{ background:#cccd59;}
.pagecolor20 .bgcolor-q,#t_container .tcolor20 .bgcolor-q{ background:#d0b063;}
.pagecolor21 .bgcolor-q,#t_container .tcolor21 .bgcolor-q{ background:#4e57b2;}
.pagecolor22 .bgcolor-q,#t_container .tcolor22 .bgcolor-q{ background:#55b9f4;}
.pagecolor23 .bgcolor-q,#t_container .tcolor23 .bgcolor-q{ background:#83d2fd;}
.pagecolor24 .bgcolor-q,#t_container .tcolor24 .bgcolor-q{ background:#c9ebfe;}
.pagecolor25 .bgcolor-q,#t_container .tcolor25 .bgcolor-q{ background:#d1cde8;}
.pagecolor26 .bgcolor-q,#t_container .tcolor26 .bgcolor-q{ background:#909090;}
.pagecolor27 .bgcolor-q,#t_container .tcolor27 .bgcolor-q{ background:#bababa;}
.pagecolor28 .bgcolor-q,#t_container .tcolor28 .bgcolor-q{ background:#e3e3e3;}
.pagecolor29 .bgcolor-q,#t_container .tcolor29 .bgcolor-q{ background:#989bb0;}
.pagecolor30 .bgcolor-q,#t_container .tcolor30 .bgcolor-q{ background:#a5a5a5;}
.pagecolor31 .bgcolor-q,#t_container .tcolor31 .bgcolor-q{ background:#c47d74;}
.pagecolor32 .bgcolor-q,#t_container .tcolor32 .bgcolor-q{ background:#e79e59;}
.pagecolor33 .bgcolor-q,#t_container .tcolor33 .bgcolor-q{ background:#fcdba5;}
.pagecolor34 .bgcolor-q,#t_container .tcolor34 .bgcolor-q{ background:#9d9387;}
.pagecolor35 .bgcolor-q,#t_container .tcolor35 .bgcolor-q{ background:#dab4a0;}
.pagecolor36 .bgcolor-q,#t_container .tcolor36 .bgcolor-q{ background:#006ebd;} 

.pagecolor1 .bgcolor03,#t_container .tcolor1 .bgcolor03{ background-color:rgba(107,46,18,0.3);}
.pagecolor2 .bgcolor03,#t_container .tcolor2 .bgcolor03{ background-color:rgba(183,18,22,0.3);}
.pagecolor3 .bgcolor03,#t_container .tcolor3 .bgcolor03{ background-color:rgba(217,40,34,0.3);}
.pagecolor4 .bgcolor03,#t_container .tcolor4 .bgcolor03{ background-color:rgba(247,68,38,0.3);}
.pagecolor5 .bgcolor03,#t_container .tcolor5 .bgcolor03{ background-color:rgba(239,111,98,0.3);}
.pagecolor6 .bgcolor03,#t_container .tcolor6 .bgcolor03{ background-color:rgba(211,42,99,0.3);}
.pagecolor7 .bgcolor03,#t_container .tcolor7 .bgcolor03{ background-color:rgba(234,104,150,0.3);}
.pagecolor8 .bgcolor03,#t_container .tcolor8 .bgcolor03{ background-color:rgba(248,186,209,0.3);}
.pagecolor9 .bgcolor03,#t_container .tcolor9 .bgcolor03{ background-color:rgba(165,91,204,0.3);}
.pagecolor10 .bgcolor03,#t_container .tcolor10 .bgcolor03{ background-color:rgba(255,235,240,0.3);}
.pagecolor11 .bgcolor03,#t_container .tcolor11 .bgcolor03{ background-color:rgba(226,86,27,0.3);}
.pagecolor12 .bgcolor03,#t_container .tcolor12 .bgcolor03{ background-color:rgba(255,128,37,0.3);}
.pagecolor13 .bgcolor03,#t_container .tcolor13 .bgcolor03{ background-color:rgba(254,203,2,0.3);}
.pagecolor14 .bgcolor03,#t_container .tcolor14 .bgcolor03{ background-color:rgba(251,193,5,0.3);}
.pagecolor15 .bgcolor03,#t_container .tcolor15 .bgcolor03{ background-color:rgba(235,106,12,0.3);}
.pagecolor16 .bgcolor03,#t_container .tcolor16 .bgcolor03{ background-color:rgba(67,168,134,0.3);}
.pagecolor17 .bgcolor03,#t_container .tcolor17 .bgcolor03{ background-color:rgba(143,201,101,0.3);}
.pagecolor18 .bgcolor03,#t_container .tcolor18 .bgcolor03{ background-color:rgba(0,157,162,0.3);}
.pagecolor19 .bgcolor03,#t_container .tcolor19 .bgcolor03{ background-color:rgba(154,155,36,0.3);}
.pagecolor20 .bgcolor03,#t_container .tcolor20 .bgcolor03{ background-color:rgba(161,128,47,0.3);}
.pagecolor21 .bgcolor03,#t_container .tcolor21 .bgcolor03{ background-color:rgba(27,32,96,0.3);}
.pagecolor22 .bgcolor03,#t_container .tcolor22 .bgcolor03{ background-color:rgba(29,156,233,0.3);}
.pagecolor23 .bgcolor03,#t_container .tcolor23 .bgcolor03{ background-color:rgba(88,194,246,0.3);}
.pagecolor24 .bgcolor03,#t_container .tcolor24 .bgcolor03{ background-color:rgba(181,229,251,0.3);}
.pagecolor25 .bgcolor03,#t_container .tcolor25 .bgcolor03{ background-color:rgba(181,175,209,0.3);}
.pagecolor26 .bgcolor03,#t_container .tcolor26 .bgcolor03{ background-color:rgba(33,33,33,0.3);}
.pagecolor27 .bgcolor03,#t_container .tcolor27 .bgcolor03{ background-color:rgba(117,117,117,0.3);}
.pagecolor28 .bgcolor03,#t_container .tcolor28 .bgcolor03{ background-color:rgba(198,198,200,0.3);}
.pagecolor29 .bgcolor03,#t_container .tcolor29 .bgcolor03{ background-color:rgba(79,82,99,0.3);}
.pagecolor30 .bgcolor03,#t_container .tcolor30 .bgcolor03{ background-color:rgba(255,255,255,0.3);}
.pagecolor31 .bgcolor03,#t_container .tcolor31 .bgcolor03{ background-color:rgba(137,70,61,0.3);}
.pagecolor32 .bgcolor03,#t_container .tcolor32 .bgcolor03{ background-color:rgba(206,121,38,0.3);}
.pagecolor33 .bgcolor03,#t_container .tcolor33 .bgcolor03{ background-color:rgba(253,204,137,0.3);}
.pagecolor34 .bgcolor03,#t_container .tcolor34 .bgcolor03{ background-color:rgba(59,54,50,0.3);}
.pagecolor35 .bgcolor03,#t_container .tcolor35 .bgcolor03{ background-color:rgba(180,139,117,0.3);}
.pagecolor36 .bgcolor03,#t_container .tcolor36 .bgcolor03{ background-color:rgba(0,102,153,0.3);}
/*较浅字颜色*/
.pagecolor1 .fcolor09,#t_container .tcolor1 .fcolor09{ color:rgba(107,46,18,0.9);}
.pagecolor2 .fcolor09,#t_container .tcolor2 .fcolor09{ color:rgba(183,18,22,0.9);}
.pagecolor3 .fcolor09,#t_container .tcolor3 .fcolor09{ color:rgba(217,40,34,0.9);}
.pagecolor4 .fcolor09,#t_container .tcolor4 .fcolor09{ color:rgba(247,68,38,0.9);}
.pagecolor5 .fcolor09,#t_container .tcolor5 .fcolor09{ color:rgba(239,111,98,0.9);}
.pagecolor6 .fcolor09,#t_container .tcolor6 .fcolor09{ color:rgba(211,42,99,0.9);}
.pagecolor7 .fcolor09,#t_container .tcolor7 .fcolor09{ color:rgba(234,104,150,0.9);}
.pagecolor8 .fcolor09,#t_container .tcolor8 .fcolor09{ color:rgba(248,186,209,0.9);}
.pagecolor9 .fcolor09,#t_container .tcolor9 .fcolor09{ color:rgba(165,91,204,0.9);}
.pagecolor10 .fcolor09,#t_container .tcolor10 .fcolor09{ color:rgba(255,235,240,0.9);}
.pagecolor11 .fcolor09,#t_container .tcolor11 .fcolor09{ color:rgba(226,86,27,0.9);}
.pagecolor12 .fcolor09,#t_container .tcolor12 .fcolor09{ color:rgba(255,128,37,0.9);}
.pagecolor13 .fcolor09,#t_container .tcolor13 .fcolor09{ color:rgba(254,203,2,0.9);}
.pagecolor14 .fcolor09,#t_container .tcolor14 .fcolor09{ color:rgba(251,193,5,0.9);}
.pagecolor15 .fcolor09,#t_container .tcolor15 .fcolor09{ color:rgba(235,106,12,0.9);}
.pagecolor16 .fcolor09,#t_container .tcolor16 .fcolor09{ color:rgba(67,168,134,0.9);}
.pagecolor17 .fcolor09,#t_container .tcolor17 .fcolor09{ color:rgba(143,201,101,0.9);}
.pagecolor18 .fcolor09,#t_container .tcolor18 .fcolor09{ color:rgba(0,157,162,0.9);}
.pagecolor19 .fcolor09,#t_container .tcolor19 .fcolor09{ color:rgba(154,155,36,0.9);}
.pagecolor20 .fcolor09,#t_container .tcolor20 .fcolor09{ color:rgba(161,128,47,0.9);}
.pagecolor21 .fcolor09,#t_container .tcolor21 .fcolor09{ color:rgba(27,32,96,0.9);}
.pagecolor22 .fcolor09,#t_container .tcolor22 .fcolor09{ color:rgba(29,156,233,0.9);}
.pagecolor23 .fcolor09,#t_container .tcolor23 .fcolor09{ color:rgba(88,194,246,0.9);}
.pagecolor24 .fcolor09,#t_container .tcolor24 .fcolor09{ color:rgba(181,229,251,0.9);}
.pagecolor25 .fcolor09,#t_container .tcolor25 .fcolor09{ color:rgba(181,175,209,0.9);}
.pagecolor26 .fcolor09,#t_container .tcolor26 .fcolor09{ color:rgba(33,33,33,0.9);}
.pagecolor27 .fcolor09,#t_container .tcolor27 .fcolor09{ color:rgba(117,117,117,0.9);}
.pagecolor28 .fcolor09,#t_container .tcolor28 .fcolor09{ color:rgba(198,198,200,0.9);}
.pagecolor29 .fcolor09,#t_container .tcolor29 .fcolor09{ color:rgba(79,82,99,0.9);}
.pagecolor30 .fcolor09,#t_container .tcolor30 .fcolor09{ color:rgba(255,255,255,0.9);}
.pagecolor31 .fcolor09,#t_container .tcolor31 .fcolor09{ color:rgba(137,70,61,0.9);}
.pagecolor32 .fcolor09,#t_container .tcolor32 .fcolor09{ color:rgba(206,121,38,0.9);}
.pagecolor33 .fcolor09,#t_container .tcolor33 .fcolor09{ color:rgba(253,204,137,0.9);}
.pagecolor34 .fcolor09,#t_container .tcolor34 .fcolor09{ color:rgba(59,54,50,0.9);}
.pagecolor35 .fcolor09,#t_container .tcolor35 .fcolor09{ color:rgba(180,139,117,0.9);}
.pagecolor36 .fcolor09,#t_container .tcolor36 .fcolor09{ color:rgba(0,102,153,0.9);}
/*全局边框颜色*/
.pagecolor1 .bdcolor,#t_container .tcolor1 .bdcolor,.pagecolor1 .hvbgcolor:hover .md_bd,#t_container .tcolor1 .hvbgcolor:hover .md_bd,.pagecolor1 .current .md_bd,#t_container .tcolor1 .current .md_bd{ border-color:#6b2e12;}
.pagecolor2 .bdcolor,#t_container .tcolor2 .bdcolor,.pagecolor2 .hvbgcolor:hover .md_bd,#t_container .tcolor2 .hvbgcolor:hover .md_bd,.pagecolor2 .current .md_bd,#t_container .tcolor2 .current .md_bd{ border-color:#b81212;}
.pagecolor3 .bdcolor,#t_container .tcolor3 .bdcolor,.pagecolor3 .hvbgcolor:hover .md_bd,#t_container .tcolor3 .hvbgcolor:hover .md_bd,.pagecolor3 .current .md_bd,#t_container .tcolor3 .current .md_bd{ border-color:#d92822;}
.pagecolor4 .bdcolor,#t_container .tcolor4 .bdcolor,.pagecolor4 .hvbgcolor:hover .md_bd,#t_container .tcolor4 .hvbgcolor:hover .md_bd,.pagecolor4 .current .md_bd,#t_container .tcolor4 .current .md_bd{ border-color:#f74426;}
.pagecolor5 .bdcolor,#t_container .tcolor5 .bdcolor,.pagecolor5 .hvbgcolor:hover .md_bd,#t_container .tcolor5 .hvbgcolor:hover .md_bd,.pagecolor5 .current .md_bd,#t_container .tcolor5 .current .md_bd{ border-color:#ef6f62;}
.pagecolor6 .bdcolor,#t_container .tcolor6 .bdcolor,.pagecolor6 .hvbgcolor:hover .md_bd,#t_container .tcolor6 .hvbgcolor:hover .md_bd,.pagecolor6 .current .md_bd,#t_container .tcolor6 .current .md_bd{ border-color:#d32a63;}
.pagecolor7 .bdcolor,#t_container .tcolor7 .bdcolor,.pagecolor7 .hvbgcolor:hover .md_bd,#t_container .tcolor7 .hvbgcolor:hover .md_bd,.pagecolor7 .current .md_bd,#t_container .tcolor7 .current .md_bd{ border-color:#eb6894;}
.pagecolor8 .bdcolor,#t_container .tcolor8 .bdcolor,.pagecolor8 .hvbgcolor:hover .md_bd,#t_container .tcolor8 .hvbgcolor:hover .md_bd,.pagecolor8 .current .md_bd,#t_container .tcolor8 .current .md_bd{ border-color:#f4bdd2;}
.pagecolor9 .bdcolor,#t_container .tcolor9 .bdcolor,.pagecolor9 .hvbgcolor:hover .md_bd,#t_container .tcolor9 .hvbgcolor:hover .md_bd,.pagecolor9 .current .md_bd,#t_container .tcolor9 .current .md_bd{ border-color:#a55bcc;}
.pagecolor10 .bdcolor,#t_container .tcolor10 .bdcolor,.pagecolor10 .hvbgcolor:hover .md_bd,#t_container .tcolor10 .hvbgcolor:hover .md_bd,.pagecolor10 .current .md_bd,#t_container .tcolor10 .current .md_bd{ border-color:#ffebf0;}
.pagecolor11 .bdcolor,#t_container .tcolor11 .bdcolor,.pagecolor11 .hvbgcolor:hover .md_bd,#t_container .tcolor11 .hvbgcolor:hover .md_bd,.pagecolor11 .current .md_bd,#t_container .tcolor11 .current .md_bd{ border-color:#e2561b;}
.pagecolor12 .bdcolor,#t_container .tcolor12 .bdcolor,.pagecolor12 .hvbgcolor:hover .md_bd,#t_container .tcolor12 .hvbgcolor:hover .md_bd,.pagecolor12 .current .md_bd,#t_container .tcolor12 .current .md_bd{ border-color:#ff8025;}
.pagecolor13 .bdcolor,#t_container .tcolor13 .bdcolor,.pagecolor13 .hvbgcolor:hover .md_bd,#t_container .tcolor13 .hvbgcolor:hover .md_bd,.pagecolor13 .current .md_bd,#t_container .tcolor13 .current .md_bd{ border-color:#fecb02;}
.pagecolor14 .bdcolor,#t_container .tcolor14 .bdcolor,.pagecolor14 .hvbgcolor:hover .md_bd,#t_container .tcolor14 .hvbgcolor:hover .md_bd,.pagecolor14 .current .md_bd,#t_container .tcolor14 .current .md_bd{ border-color:#fdc101;}
.pagecolor15 .bdcolor,#t_container .tcolor15 .bdcolor,.pagecolor15 .hvbgcolor:hover .md_bd,#t_container .tcolor15 .hvbgcolor:hover .md_bd,.pagecolor15 .current .md_bd,#t_container .tcolor15 .current .md_bd{ border-color:#eb6a0c;}
.pagecolor16 .bdcolor,#t_container .tcolor16 .bdcolor,.pagecolor16 .hvbgcolor:hover .md_bd,#t_container .tcolor16 .hvbgcolor:hover .md_bd,.pagecolor16 .current .md_bd,#t_container .tcolor16 .current .md_bd{ border-color:#43a886;}
.pagecolor17 .bdcolor,#t_container .tcolor17 .bdcolor,.pagecolor17 .hvbgcolor:hover .md_bd,#t_container .tcolor17 .hvbgcolor:hover .md_bd,.pagecolor17 .current .md_bd,#t_container .tcolor17 .current .md_bd{ border-color:#8fc965;}
.pagecolor18 .bdcolor,#t_container .tcolor18 .bdcolor,.pagecolor18 .hvbgcolor:hover .md_bd,#t_container .tcolor18 .hvbgcolor:hover .md_bd,.pagecolor18 .current .md_bd,#t_container .tcolor18 .current .md_bd{ border-color:#009da2;}
.pagecolor19 .bdcolor,#t_container .tcolor19 .bdcolor,.pagecolor19 .hvbgcolor:hover .md_bd,#t_container .tcolor19 .hvbgcolor:hover .md_bd,.pagecolor19 .current .md_bd,#t_container .tcolor19 .current .md_bd{ border-color:#9a9b24;}
.pagecolor20 .bdcolor,#t_container .tcolor20 .bdcolor,.pagecolor20 .hvbgcolor:hover .md_bd,#t_container .tcolor20 .hvbgcolor:hover .md_bd,.pagecolor20 .current .md_bd,#t_container .tcolor20 .current .md_bd{ border-color:#a1802f;}
.pagecolor21 .bdcolor,#t_container .tcolor21 .bdcolor,.pagecolor21 .hvbgcolor:hover .md_bd,#t_container .tcolor21 .hvbgcolor:hover .md_bd,.pagecolor21 .current .md_bd,#t_container .tcolor21 .current .md_bd{ border-color:#182164;}
.pagecolor22 .bdcolor,#t_container .tcolor22 .bdcolor,.pagecolor22 .hvbgcolor:hover .md_bd,#t_container .tcolor22 .hvbgcolor:hover .md_bd,.pagecolor22 .current .md_bd,#t_container .tcolor22 .current .md_bd{ border-color:#209beb;}
.pagecolor23 .bdcolor,#t_container .tcolor23 .bdcolor,.pagecolor23 .hvbgcolor:hover .md_bd,#t_container .tcolor23 .hvbgcolor:hover .md_bd,.pagecolor23 .current .md_bd,#t_container .tcolor23 .current .md_bd{ border-color:#59c3f3;}
.pagecolor24 .bdcolor,#t_container .tcolor24 .bdcolor,.pagecolor24 .hvbgcolor:hover .md_bd,#t_container .tcolor24 .hvbgcolor:hover .md_bd,.pagecolor24 .current .md_bd,#t_container .tcolor24 .current .md_bd{ border-color:#b9e2ff;}
.pagecolor25 .bdcolor,#t_container .tcolor25 .bdcolor,.pagecolor25 .hvbgcolor:hover .md_bd,#t_container .tcolor25 .hvbgcolor:hover .md_bd,.pagecolor25 .current .md_bd,#t_container .tcolor25 .current .md_bd{ border-color:#b6aed3;}
.pagecolor26 .bdcolor,#t_container .tcolor26 .bdcolor,.pagecolor26 .hvbgcolor:hover .md_bd,#t_container .tcolor26 .hvbgcolor:hover .md_bd,.pagecolor26 .current .md_bd,#t_container .tcolor26 .current .md_bd{ border-color:#22211f;}
.pagecolor27 .bdcolor,#t_container .tcolor27 .bdcolor,.pagecolor27 .hvbgcolor:hover .md_bd,#t_container .tcolor27 .hvbgcolor:hover .md_bd,.pagecolor27 .current .md_bd,#t_container .tcolor27 .current .md_bd{ border-color:#757575;}
.pagecolor28 .bdcolor,#t_container .tcolor28 .bdcolor,.pagecolor28 .hvbgcolor:hover .md_bd,#t_container .tcolor28 .hvbgcolor:hover .md_bd,.pagecolor28 .current .md_bd,#t_container .tcolor28 .current .md_bd{ border-color:#c6c6c8;}
.pagecolor29 .bdcolor,#t_container .tcolor29 .bdcolor,.pagecolor29 .hvbgcolor:hover .md_bd,#t_container .tcolor29 .hvbgcolor:hover .md_bd,.pagecolor29 .current .md_bd,#t_container .tcolor29 .current .md_bd{ border-color:#4f5263;}
.pagecolor30 .bdcolor,#t_container .tcolor30 .bdcolor,.pagecolor30 .hvbgcolor:hover .md_bd,#t_container .tcolor30 .hvbgcolor:hover .md_bd,.pagecolor30 .current .md_bd,#t_container .tcolor30 .current .md_bd{ border-color:#ffffff;}
.pagecolor31 .bdcolor,#t_container .tcolor31 .bdcolor,.pagecolor31 .hvbgcolor:hover .md_bd,#t_container .tcolor31 .hvbgcolor:hover .md_bd,.pagecolor31 .current .md_bd,#t_container .tcolor31 .current .md_bd{ border-color:#89463d;}
.pagecolor32 .bdcolor,#t_container .tcolor32 .bdcolor,.pagecolor32 .hvbgcolor:hover .md_bd,#t_container .tcolor32 .hvbgcolor:hover .md_bd,.pagecolor32 .current .md_bd,#t_container .tcolor32 .current .md_bd{ border-color:#cc7a24;}
.pagecolor33 .bdcolor,#t_container .tcolor33 .bdcolor,.pagecolor33 .hvbgcolor:hover .md_bd,#t_container .tcolor33 .hvbgcolor:hover .md_bd,.pagecolor33 .current .md_bd,#t_container .tcolor33 .current .md_bd{ border-color:#f8ce86;}
.pagecolor34 .bdcolor,#t_container .tcolor34 .bdcolor,.pagecolor34 .hvbgcolor:hover .md_bd,#t_container .tcolor34 .hvbgcolor:hover .md_bd,.pagecolor34 .current .md_bd,#t_container .tcolor34 .current .md_bd{ border-color:#3b3632;}
.pagecolor35 .bdcolor,#t_container .tcolor35 .bdcolor,.pagecolor35 .hvbgcolor:hover .md_bd,#t_container .tcolor35 .hvbgcolor:hover .md_bd,.pagecolor35 .current .md_bd,#t_container .tcolor35 .current .md_bd{ border-color:#b48b75;}
.pagecolor36 .bdcolor,#t_container .tcolor36 .bdcolor,.pagecolor36 .hvbgcolor:hover .md_bd,#t_container .tcolor36 .hvbgcolor:hover .md_bd,.pagecolor36 .current .md_bd,#t_container .tcolor36 .current .md_bd{ border-color:#093564;}

.pagecolor1 .bdcolor05,#t_container .tcolor1 .bdcolor05{ border-color:rgba(107,46,18,0.5);}
.pagecolor1 .bdcolor09,#t_container .tcolor1 .bdcolor09{ border-color:rgba(107,46,18,0.9);}

.pagecolor2 .bdcolor05,#t_container .tcolor2 .bdcolor05{ border-color:rgba(183,18,22,0.5);}
.pagecolor2 .bdcolor09,#t_container .tcolor2 .bdcolor09{ border-color:rgba(183,18,22,0.9);}

.pagecolor3 .bdcolor05,#t_container .tcolor3 .bdcolor05{ border-color:rgba(217,40,34,0.5);}
.pagecolor3 .bdcolor09,#t_container .tcolor3 .bdcolor09{ border-color:rgba(217,40,34,0.9);}

.pagecolor4 .bdcolor05,#t_container .tcolor4 .bdcolor05{ border-color:rgba(247,68,38,0.5);}
.pagecolor4 .bdcolor09,#t_container .tcolor4 .bdcolor09{ border-color:rgba(247,68,38,0.9);}

.pagecolor5 .bdcolor05,#t_container .tcolor5 .bdcolor05{ border-color:rgba(239,111,98,0.5);}
.pagecolor5 .bdcolor09,#t_container .tcolor5 .bdcolor09{ border-color:rgba(239,111,98,0.9);}

.pagecolor6 .bdcolor05,#t_container .tcolor6 .bdcolor05{ border-color:rgba(211,42,99,0.5);}
.pagecolor6 .bdcolor09,#t_container .tcolor6 .bdcolor09{ border-color:rgba(211,42,99,0.9);}

.pagecolor7 .bdcolor05,#t_container .tcolor7 .bdcolor05{ border-color:rgba(234,104,150,0.5);}
.pagecolor7 .bdcolor09,#t_container .tcolor7 .bdcolor09{ border-color:rgba(234,104,150,0.9);}

.pagecolor8 .bdcolor05,#t_container .tcolor8 .bdcolor05{ border-color:rgba(248,186,209,0.5);}
.pagecolor8 .bdcolor09,#t_container .tcolor8 .bdcolor09{ border-color:rgba(248,186,209,0.9);}

.pagecolor9 .bdcolor05,#t_container .tcolor9 .bdcolor05{ border-color:rgba(165,91,204,0.5);}
.pagecolor9 .bdcolor09,#t_container .tcolor9 .bdcolor09{ border-color:rgba(165,91,204,0.9);}

.pagecolor10 .bdcolor05,#t_container .tcolor10 .bdcolor05{ border-color:rgba(255,235,240,0.5);}
.pagecolor10 .bdcolor09,#t_container .tcolor10 .bdcolor09{ border-color:rgba(255,235,240,0.9);}

.pagecolor11 .bdcolor05,#t_container .tcolor11 .bdcolor05{ border-color:rgba(226,86,27,0.5);}
.pagecolor11 .bdcolor09,#t_container .tcolor11 .bdcolor09{ border-color:rgba(226,86,27,0.9);}

.pagecolor12 .bdcolor05,#t_container .tcolor12 .bdcolor05{ border-color:rgba(255,128,37,0.5);}
.pagecolor12 .bdcolor09,#t_container .tcolor12 .bdcolor09{ border-color:rgba(255,128,37,0.9);}

.pagecolor13 .bdcolor05,#t_container .tcolor13 .bdcolor05{ border-color:rgba(254,203,2,0.5);}
.pagecolor13 .bdcolor09,#t_container .tcolor13 .bdcolor09{ border-color:rgba(254,203,2,0.9);}

.pagecolor14 .bdcolor05,#t_container .tcolor14 .bdcolor05{ border-color:rgba(251,193,5,0.5);}
.pagecolor14 .bdcolor09,#t_container .tcolor14 .bdcolor09{ border-color:rgba(251,193,5,0.9);}

.pagecolor15 .bdcolor05,#t_container .tcolor15 .bdcolor05{ border-color:rgba(235,106,12,0.5);}
.pagecolor15 .bdcolor09,#t_container .tcolor15 .bdcolor09{ border-color:rgba(235,106,12,0.9);}

.pagecolor16 .bdcolor05,#t_container .tcolor16 .bdcolor05{ border-color:rgba(67,168,134,0.5);}
.pagecolor16 .bdcolor09,#t_container .tcolor16 .bdcolor09{ border-color:rgba(67,168,134,0.9);}

.pagecolor17 .bdcolor05,#t_container .tcolor17 .bdcolor05{ border-color:rgba(143,201,101,0.5);}
.pagecolor17 .bdcolor09,#t_container .tcolor17 .bdcolor09{ border-color:rgba(143,201,101,0.9);}

.pagecolor18 .bdcolor05,#t_container .tcolor18 .bdcolor05{ border-color:rgba(0,157,162,0.5);}
.pagecolor18 .bdcolor09,#t_container .tcolor18 .bdcolor09{ border-color:rgba(0,157,162,0.9);}

.pagecolor19 .bdcolor05,#t_container .tcolor19 .bdcolor05{ border-color:rgba(154,155,36,0.5);}
.pagecolor19 .bdcolor09,#t_container .tcolor19 .bdcolor09{ border-color:rgba(154,155,36,0.9);}

.pagecolor20 .bdcolor05,#t_container .tcolor20 .bdcolor05{ border-color:rgba(161,128,47,0.5);}
.pagecolor20 .bdcolor09,#t_container .tcolor20 .bdcolor09{ border-color:rgba(161,128,47,0.9);}

.pagecolor21 .bdcolor05,#t_container .tcolor21 .bdcolor05{ border-color:rgba(27,32,96,0.5);}
.pagecolor21 .bdcolor09,#t_container .tcolor21 .bdcolor09{ border-color:rgba(27,32,96,0.9);}

.pagecolor22 .bdcolor05,#t_container .tcolor22 .bdcolor05{ border-color:rgba(29,156,233,0.5);}
.pagecolor22 .bdcolor09,#t_container .tcolor22 .bdcolor09{ border-color:rgba(29,156,233,0.9);}

.pagecolor23 .bdcolor05,#t_container .tcolor23 .bdcolor05{ border-color:rgba(88,194,246,0.5);}
.pagecolor23 .bdcolor09,#t_container .tcolor23 .bdcolor09{ border-color:rgba(88,194,246,0.9);}

.pagecolor24 .bdcolor05,#t_container .tcolor24 .bdcolor05{ border-color:rgba(181,229,251,0.5);}
.pagecolor24 .bdcolor09,#t_container .tcolor24 .bdcolor09{ border-color:rgba(181,229,251,0.9);}

.pagecolor25 .bdcolor05,#t_container .tcolor25 .bdcolor05{ border-color:rgba(181,175,209,0.5);}
.pagecolor25 .bdcolor09,#t_container .tcolor25 .bdcolor09{ border-color:rgba(181,175,209,0.9);}

.pagecolor26 .bdcolor05,#t_container .tcolor26 .bdcolor05{ border-color:rgba(33,33,33,0.5);}
.pagecolor26 .bdcolor09,#t_container .tcolor26 .bdcolor09{ border-color:rgba(33,33,33,0.9);}

.pagecolor27 .bdcolor05,#t_container .tcolor27 .bdcolor05{ border-color:rgba(117,117,117,0.5);}
.pagecolor27 .bdcolor09,#t_container .tcolor27 .bdcolor09{ border-color:rgba(117,117,117,0.9);}

.pagecolor28 .bdcolor05,#t_container .tcolor28 .bdcolor05{ border-color:rgba(198,198,200,0.5);}
.pagecolor28 .bdcolor09,#t_container .tcolor28 .bdcolor09{ border-color:rgba(198,198,200,0.9);}

.pagecolor29 .bdcolor05,#t_container .tcolor29 .bdcolor05{ border-color:rgba(79,82,99,0.5);}
.pagecolor29 .bdcolor09,#t_container .tcolor29 .bdcolor09{ border-color:rgba(79,82,99,0.9);}

.pagecolor30 .bdcolor05,#t_container .tcolor30 .bdcolor05{ border-color:rgba(255,255,255,0.5);}
.pagecolor30 .bdcolor09,#t_container .tcolor30 .bdcolor09{ border-color:rgba(255,255,255,0.9);}

.pagecolor31 .bdcolor05,#t_container .tcolor31 .bdcolor05{ border-color:rgba(137,70,61,0.5);}
.pagecolor31 .bdcolor09,#t_container .tcolor31 .bdcolor09{ border-color:rgba(137,70,61,0.9);}

.pagecolor32 .bdcolor05,#t_container .tcolor32 .bdcolor05{ border-color:rgba(206,121,38,0.5);}
.pagecolor32 .bdcolor09,#t_container .tcolor32 .bdcolor09{ border-color:rgba(206,121,38,0.9);}

.pagecolor33 .bdcolor05,#t_container .tcolor33 .bdcolor05{ border-color:rgba(253,204,137,0.5);}
.pagecolor33 .bdcolor09,#t_container .tcolor33 .bdcolor09{ border-color:rgba(253,204,137,0.9);}

.pagecolor34 .bdcolor05,#t_container .tcolor34 .bdcolor05{ border-color:rgba(59,54,50,0.5);}
.pagecolor34 .bdcolor09,#t_container .tcolor34 .bdcolor09{ border-color:rgba(59,54,50,0.9);}

.pagecolor35 .bdcolor05,#t_container .tcolor35 .bdcolor05{ border-color:rgba(180,139,117,0.5);}
.pagecolor35 .bdcolor09,#t_container .tcolor35 .bdcolor09{ border-color:rgba(180,139,117,0.9);}

.pagecolor36 .bdcolor05,#t_container .tcolor36 .bdcolor05{ border-color:rgba(0,102,153,0.5);}
.pagecolor36 .bdcolor09,#t_container .tcolor36 .bdcolor09{ border-color:rgba(0,102,153,0.9);}

.pagecolor1 .bdcolor-s,#t_container .tcolor1 .bdcolor-s{border-color:#501900;}
.pagecolor2 .bdcolor-s,#t_container .tcolor2 .bdcolor-s{border-color:#980000;}
.pagecolor3 .bdcolor-s,#t_container .tcolor3 .bdcolor-s{border-color:#bd0600;}
.pagecolor4 .bdcolor-s,#t_container .tcolor4 .bdcolor-s{border-color:#dd2607;}
.pagecolor5 .bdcolor-s,#t_container .tcolor5 .bdcolor-s{border-color:#d24739;}
.pagecolor6 .bdcolor-s,#t_container .tcolor6 .bdcolor-s{border-color:#d24739;}
.pagecolor7 .bdcolor-s,#t_container .tcolor7 .bdcolor-s{border-color:#d34172;}
.pagecolor8 .bdcolor-s,#t_container .tcolor8 .bdcolor-s{border-color:#dc84a6;}
.pagecolor9 .bdcolor-s,#t_container .tcolor9 .bdcolor-s{border-color:#8235a8;}
.pagecolor10 .bdcolor-s,#t_container .tcolor10 .bdcolor-s{border-color:#d8acb7;}
.pagecolor11 .bdcolor-s,#t_container .tcolor11 .bdcolor-s{border-color:#c23a00;}
.pagecolor12 .bdcolor-s,#t_container .tcolor12 .bdcolor-s{border-color:#df650e;}
.pagecolor13 .bdcolor-s,#t_container .tcolor13 .bdcolor-s{border-color:#d6ab00;}
.pagecolor14 .bdcolor-s,#t_container .tcolor14 .bdcolor-s{border-color:#d5a200;}
.pagecolor15 .bdcolor-s,#t_container .tcolor15 .bdcolor-s{border-color:#b95004;}
.pagecolor16 .bdcolor-s,#t_container .tcolor16 .bdcolor-s{border-color:#258160;}
.pagecolor17 .bdcolor-s,#t_container .tcolor17 .bdcolor-s{border-color:#6ba441;}
.pagecolor18 .bdcolor-s,#t_container .tcolor18 .bdcolor-s{border-color:#027276;}
.pagecolor19 .bdcolor-s,#t_container .tcolor19 .bdcolor-s{border-color:#74750f;}
.pagecolor20 .bdcolor-s,#t_container .tcolor20 .bdcolor-s{border-color:#765b19;}
.pagecolor21 .bdcolor-s,#t_container .tcolor21 .bdcolor-s{border-color:#080f47;}
.pagecolor22 .bdcolor-s,#t_container .tcolor22 .bdcolor-s{border-color:#0b74b4;}
.pagecolor23 .bdcolor-s,#t_container .tcolor23 .bdcolor-s{border-color:#2d8fc5;}
.pagecolor24 .bdcolor-s,#t_container .tcolor24 .bdcolor-s{border-color:#65a1c0;}
.pagecolor25 .bdcolor-s,#t_container .tcolor25 .bdcolor-s{border-color:#7167a7;}
.pagecolor26 .bdcolor-s,#t_container .tcolor26 .bdcolor-s{border-color:#100d0d;}
.pagecolor27 .bdcolor-s,#t_container .tcolor27 .bdcolor-s{border-color:#404040;}
.pagecolor28 .bdcolor-s,#t_container .tcolor28 .bdcolor-s{border-color:#8484a2;}
.pagecolor29 .bdcolor-s,#t_container .tcolor29 .bdcolor-s{border-color:#26293e;}
.pagecolor30 .bdcolor-s,#t_container .tcolor30 .bdcolor-s{border-color:#bdb6b6;}
.pagecolor31 .bdcolor-s,#t_container .tcolor31 .bdcolor-s{border-color:#57251e;}
.pagecolor32 .bdcolor-s,#t_container .tcolor32 .bdcolor-s{border-color:#915113;}
.pagecolor33 .bdcolor-s,#t_container .tcolor33 .bdcolor-s{border-color:#da9230;}
.pagecolor34 .bdcolor-s,#t_container .tcolor34 .bdcolor-s{border-color:#251b13;}
.pagecolor35 .bdcolor-s,#t_container .tcolor35 .bdcolor-s{border-color:#b26339;}
.pagecolor36 .bdcolor-s,#t_container .tcolor36 .bdcolor-s{border-color:#00486A;}

.pagecolor1 .bdcolor-q,#t_container .tcolor1 .bdcolor-q{ border-color:#b56744;}
.pagecolor2 .bdcolor-q,#t_container .tcolor2 .bdcolor-q{ border-color:#dc4747;}
.pagecolor3 .bdcolor-q,#t_container .tcolor3 .bdcolor-q{ border-color:#ec5b57;}
.pagecolor4 .bdcolor-q,#t_container .tcolor4 .bdcolor-q{ border-color:#fb715c;}
.pagecolor5 .bdcolor-q,#t_container .tcolor5 .bdcolor-q{ border-color:#f79689;}
.pagecolor6 .bdcolor-q,#t_container .tcolor6 .bdcolor-q{ border-color:#e95e8a;}
.pagecolor7 .bdcolor-q,#t_container .tcolor7 .bdcolor-q{ border-color:#f58fb1;}
.pagecolor8 .bdcolor-q,#t_container .tcolor8 .bdcolor-q{ border-color:#facfde;}
.pagecolor9 .bdcolor-q,#t_container .tcolor9 .bdcolor-q{ border-color:#c785e6;}
.pagecolor10 .bdcolor-q,#t_container .tcolor10 .bdcolor-q{ border-color:#ffebf0;}
.pagecolor11 .bdcolor-q,#t_container .tcolor11 .bdcolor-q{ border-color:#f18152;}
.pagecolor12 .bdcolor-q,#t_container .tcolor12 .bdcolor-q{ border-color:#ffa05b;}
.pagecolor13 .bdcolor-q,#t_container .tcolor13 .bdcolor-q{ border-color:#ffe273;}
.pagecolor14 .bdcolor-q,#t_container .tcolor14 .bdcolor-q{ border-color:#fede72;}
.pagecolor15 .bdcolor-q,#t_container .tcolor15 .bdcolor-q{ border-color:#f49046;}
.pagecolor16 .bdcolor-q,#t_container .tcolor16 .bdcolor-q{ border-color:#74d3b4;}
.pagecolor17 .bdcolor-q,#t_container .tcolor17 .bdcolor-q{ border-color:#b2e48f;}
.pagecolor18 .bdcolor-q,#t_container .tcolor18 .bdcolor-q{ border-color:#34d0d0;}
.pagecolor19 .bdcolor-q,#t_container .tcolor19 .bdcolor-q{ border-color:#cccd59;}
.pagecolor20 .bdcolor-q,#t_container .tcolor20 .bdcolor-q{ border-color:#d0b063;}
.pagecolor21 .bdcolor-q,#t_container .tcolor21 .bdcolor-q{ border-color:#4e57b2;}
.pagecolor22 .bdcolor-q,#t_container .tcolor22 .bdcolor-q{ border-color:#55b9f4;}
.pagecolor23 .bdcolor-q,#t_container .tcolor23 .bdcolor-q{ border-color:#83d2fd;}
.pagecolor24 .bdcolor-q,#t_container .tcolor24 .bdcolor-q{ border-color:#c9ebfe;}
.pagecolor25 .bdcolor-q,#t_container .tcolor25 .bdcolor-q{ border-color:#d1cde8;}
.pagecolor26 .bdcolor-q,#t_container .tcolor26 .bdcolor-q{ border-color:#909090;}
.pagecolor27 .bdcolor-q,#t_container .tcolor27 .bdcolor-q{ border-color:#bababa;}
.pagecolor28 .bdcolor-q,#t_container .tcolor28 .bdcolor-q{ border-color:#e3e3e3;}
.pagecolor29 .bdcolor-q,#t_container .tcolor29 .bdcolor-q{ border-color:#989bb0;}
.pagecolor30 .bdcolor-q,#t_container .tcolor30 .bdcolor-q{ border-color:#a5a5a5;}
.pagecolor31 .bdcolor-q,#t_container .tcolor31 .bdcolor-q{ border-color:#c47d74;}
.pagecolor32 .bdcolor-q,#t_container .tcolor32 .bdcolor-q{ border-color:#e79e59;}
.pagecolor33 .bdcolor-q,#t_container .tcolor33 .bdcolor-q{ border-color:#fcdba5;}
.pagecolor34 .bdcolor-q,#t_container .tcolor34 .bdcolor-q{ border-color:#9d9387;}
.pagecolor35 .bdcolor-q,#t_container .tcolor35 .bdcolor-q{ border-color:#dab4a0;}
.pagecolor36 .bdcolor-q,#t_container .tcolor36 .bdcolor-q{ border-color:#006ebd;}

#t_container .ltscale{ border-style:solid !important; border-right-color:transparent !important; border-top-color:transparent !important; border-bottom-color:transparent !important; border-top-width:0 !important;}
#t_container .rbscale{ border-style:solid !important; border-right-color:transparent !important; border-left-color:transparent !important; border-top-color:transparent !important; border-right-width:0 !important;}
#t_container .rtscale{ border-style:solid !important; border-right-color:transparent !important; border-left-color:transparent !important; border-bottom-color:transparent !important; border-right-width:0 !important;}
#t_container .lbscale{ border-style:solid !important; border-left-color:transparent !important; border-top-color:transparent !important; border-right-color:transparent !important; border-left-width:0 !important;}
#t_container .lscale{ border-style:solid !important; border-left-color:transparent !important; border-top-color:transparent !important; border-bottom-color:transparent !important;}
#t_container .rscale{ border-style:solid !important; border-right-color:transparent !important; border-top-color:transparent !important; border-bottom-color:transparent !important;}
#t_container .bscale{ border-style:solid !important; border-right-color:transparent !important; border-left-color:transparent !important; border-bottom-color:transparent !important;}
#t_container .tscale{ border-style:solid !important; border-right-color:transparent !important; border-left-color:transparent !important; border-top-color:transparent !important;}

.rotade-15{-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);-ms-transform:rotate(-15deg);}
.rotade-30{-webkit-transform:rotate(-30deg);-moz-transform:rotate(-30deg);-o-transform:rotate(-30deg);-ms-transform:rotate(-30deg);}
.rotade-45{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.rotade-60{-webkit-transform:rotate(-60deg);-moz-transform:rotate(-60deg);-o-transform:rotate(-60deg);-ms-transform:rotate(-60deg);}
.rotade-120{-webkit-transform:rotate(-120deg);-moz-transform:rotate(-120deg);-o-transform:rotate(-120deg);-ms-transform:rotate(-120deg);}
.rotade30{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-o-transform:rotate(30deg);-ms-transform:rotate(30deg);}
.rotade45{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}
.rotade60{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);-o-transform:rotate(60deg);-ms-transform:rotate(60deg);}
.rotade90{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);}
.rotade120{-webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-o-transform:rotate(120deg);-ms-transform:rotate(120deg);}
.rotade180{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}

#showDescByDialog{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:2147483647}
#showDescByDialog .boxbg{ position:absolute; left:50%; top:50%; background:rgba(255,255,255,.8); width:0; height:0; transition:all 300ms linear; overflow:hidden;}
#showDescByDialog .boxbg .descbox{ padding:1em; text-align:left; line-height:2em; overflow:scroll; max-height:100%;}

/*旧版模板的一些公共样式*/
.fl{ float:left;}
.fr{ float:right;}
.color333{ color:#333}
.color666{ color:#666}
.color999{ color:#999}
.blue{ color:#555ba6}
a.blue:hover{ color:#fe741c;}
.blockstyle2 .blue{color: #be0f1b}
.blockstyle2 a.blue:hover{ color:#fe741c;}