.md_product li .mod_desc .title{display:block; overflow:hidden;max-height:3.6em;}
.md_product li .buybtn{ border-width:2px; border-style:solid;display:inline-block; text-align:center;}
.md_product li .buybtn span{position:relative;min-width: 4em;padding-left: 0.4em;float: right;padding-right: 1.3em;}
.md_product li .buybtn span i{position: absolute;right:0.5em;top: 50%;margin-left: -20px;margin-top: -0.4em;display: block;width: 0;height: 0;border-width: 0.4em 0.7em 0.7em 0.3em;border-color:#FFF;}
.md_product li .buybtn span i:nth-child(2) { border-width: 0.7em 0.7em 0.4em 0.3em; margin-top: -0.7em;}
.md_product li .buybtn b{ min-width:3em; text-align:center; padding:0px 0.3em; display:inline-block; padding:0 10px; float:left;}
.md_product li .mod_desc .desc em{ font-weight:600;}
.md_product li .mod_desc .desc span{ margin-right:10px;}
.md_product li .mod_img img{ width:100%;max-width:750px; display:block;}
.md_product li .mod_desc .score{color:#AAA; height:2em; overflow:hidden;}

.md_product li .shopurl{height: 2em;overflow: hidden;}
.md_product li .shopurl em{ display:inline-block; line-height:36px; position:relative; margin-right:20px; padding:0px 6px 0px 10px;}
.md_product li .shopurl em i{ content:"";border-style: solid !important;border-width: 18px 0 18px 16px;border-top-color: transparent !important;border-bottom-color: transparent !important;width: 0px;height: 0px; position: absolute;right: -16px;top: 0px;}
.md_product li .shopurl em img{ max-height:32px; vertical-align:middle;}
.md_product li .shopurl a{text-decoration: underline;}

.md_product .salelogo{margin-right: 6px; vertical-align:middle; max-height:1.2em;}
.md_product .saleblogo{ position:absolute; left:0px; top:0px; z-index:99;width: auto !important;}

.md_product .preferential{ display:inline-block; line-height:1.5em; border:solid 1px #fd2a32; font-size:24px; color:#fd2a32; padding-right:6px; background-color:#FFF;margin-left:12px;}
.md_product .preferential:before{ content:"券"; background-color:#fd2a32; display:inline-block; height:1.5em; color:#FFF;padding: 0px 6px;margin-right: 6px;}

.md_product.md_product_style li{ padding:16px 20px; margin:10px 0px; position:relative;background:rgba(255,255,255,0.5);}
.md_product.md_product_style li .mod_img{ width:33%; float:left; margin-right:20px;}
.md_product.md_product_style li .buybtn{ position:absolute; right:20px; bottom:20px;}
.md_product.md_product_style li .buybtn span{}
.md_product.md_product_style li .mod_desc .desc{max-height:3.6em; overflow:hidden; border:0}
.md_product.md_product_style li .mod_desc .md_table{ height:3.6em;border-top:solid 1px #AAA;}
.md_product.md_product_style li .mod_desc .title{border-left-width:10px; border-left-style:solid; padding:0 0 0 20px; margin-bottom:16px;}
.md_product.md_product_style li .mod_desc .score{ }
.md_product.md_product_style li:nth-child(2n) .mod_img{ float:right; margin:0 0 0 40px;}
.md_product.md_product_style li:nth-child(2n) .buybtn{ right:auto; left:20px;}


.md_product.md_product_cols li{ width:48%; margin-bottom:20px; float:left; }
.md_product.md_product_cols li:nth-child(2n){ float:right;}
.md_product.md_product_cols li .mod_img{ width:100%;overflow:hidden;margin:0px auto;}
.md_product.md_product_cols li .mod_desc{ background:rgba(233,233,233,0.5); padding:0.4em; border:1px solid #eeeeee;}
.md_product.md_product_cols li .mod_desc .desc{ margin:20px 0px; height:3.6em;overflow:hidden; display:block;}
.md_product.md_product_cols li .mod_desc .title{ height:3.6em;}

.md_product.md_product_cols4 li{ width:48%; border:1px solid #eeeeee; margin-bottom:20px; }
.md_product.md_product_cols4 li:nth-child(2n+1){float:left;}
.md_product.md_product_cols4 li:nth-child(2n){float:right;}
.md_product.md_product_cols4 li .mod_img{ width:100%;overflow:hidden;margin:0px auto;}
.md_product.md_product_cols4 li .mod_desc{ background:rgba(233,233,233,0.5); padding:0.4em;}
.md_product.md_product_cols4 li .mod_desc .title{ height:3.6em;}
.md_product.md_product_cols4 li .mod_desc .desc{ margin:20px 0px; height:3.6em;overflow:hidden; display:block;}

.md_product.md_product_cols4_s li{ position:relative; width:49%;float:left; margin-bottom:20px;}
.md_product.md_product_cols4_s li:nth-child(2n+1){float:left;}
.md_product.md_product_cols4_s li:nth-child(2n){float:right;}
.md_product.md_product_cols4_s li .mod_img{ width:100%;}
.md_product.md_product_cols4_s li .mod_img img{ max-width:100%;}
.md_product.md_product_cols4_s li .mod_title{ line-height:2em;overflow: hidden;height:4em; display:block; text-align:left; padding:0px 0.3em;}





.md_product.md_product_style li .mod_img{ width:240px;}


.h1em{ height:1.8em; margin:6px;}

.more_title{}
.more_title a{padding: 0px 0.8em;border-radius:0.9em;display: inline-block; border-width:2px; border-style:solid;}
.more_title a::before{ content:"点击查看更多";}
.more_title a::after{ content:">>"; font-family:"宋体";}

.md_product.md_product_wcols{}
.md_product.md_product_wcols > li{margin: 10px 20px;}
.md_product.md_product_wcols li .mod_img{ width:90%; margin:10px auto;}
.md_product.md_product_wcols li .mod_img img{ margin:0px auto;}
.md_product.md_product_wcols li .mod_desc{}
.md_product.md_product_wcols li .mod_desc h3{ line-height:2.4em; border-bottom:dashed 2px #666;}
.md_product.md_product_wcols li .mod_desc .top{margin-top: 30px;margin-bottom: 24px;}
.md_product.md_product_wcols li .mod_desc .top .score{ height:auto;}
.md_product.md_product_wcols li .mod_desc .top .score em{ display:inline-block; background-color:#F60; line-height:40px; position:relative; margin-right:40px; padding-left:10px;}
.md_product.md_product_wcols li .mod_desc .top .score em::after{ content:"";border-style: solid !important;border-color: #F60;border-width: 20px 0 20px 20px;border-top-color: transparent !important;border-bottom-color: transparent !important;width: 0px;height: 0px; position: absolute;right: -20px;top: 0px;}
.md_product.md_product_wcols li .mod_desc .top .firsturl{ margin-top:30px;}
.md_product.md_product_wcols li .mod_desc .top .firsturl a{color:#21428C}
.md_product.md_product_wcols li .mod_desc .top .firsturl .num{ display:inline-block; vertical-align:middle; float:none;}
.md_product.md_product_wcols li .mod_desc .mod_cont{width:100%; margin:24px 0px;}
.md_product.md_product_wcols li .mod_desc .mod_cont .desc{}
.md_product.md_product_wcols li .mod_desc .bghui{ display:inline-block; background-color:#F6F6F6;line-height: 40px;height: 40px; padding:0px 10px;}
.md_product.md_product_wcols li .mod_desc .xiangxi{ list-style-type:disc; margin-left:1em;}
.md_product.md_product_wcols li .mod_desc .xiangxi li{ list-style-type:disc;}
.md_product.md_product_wcols li .mod_desc .baojialist{}
.md_product.md_product_wcols li .mod_desc .baojialist li{ border-top:dashed 2px #CCC; width:100%; line-height:72px; position:relative;}
.md_product.md_product_wcols li .mod_desc .baojialist li:first-child{ border-top:none}
.md_product.md_product_wcols li .mod_desc .baojialist li .bj{ display:inline-block;vertical-align:middle; float:none;}
.md_product.md_product_wcols li .mod_desc .baojialist li .bj.dhidden{ max-width:305px;}
.md_product.md_product_wcols li .mod_desc .baojialist li .logo{ width:104px;}
.md_product.md_product_wcols li .mod_desc .baojialist li .logo img{ width:100%; display:block;}
.md_product.md_product_wcols li .mod_desc .baojialist li .bttl{ vertical-align:middle;}
.md_product.md_product_wcols li .mod_desc .baojialist li .buy-btn{ position:absolute; right:0px; line-height:2em; top:50%; margin-top:-1em; background-color:#F60; color:#FFF; padding:0px 30px;}
.md_product.md_product_wcols li .mod_desc .mod_price{ border-top:dashed 2px #666; position:relative;padding-top:0.9em; padding-bottom:0.9em;margin-top: 24px;}
.md_product.md_product_wcols li .mod_desc .mod_price .price{ display:inline-block;}
.md_product.md_product_wcols li .mod_desc .mod_price .mprice{display:inline-block;}
.md_product.md_product_wcols li .mod_desc .mod_price .mprice em{ text-decoration:line-through; display:block;line-height: 1em; text-align:center;}
.md_product.md_product_wcols li .mod_desc .mod_price .mprice i{ display:inline-block;line-height:1.2em; background-color:#F60; border-radius:0.6em; padding:0px 1em;}
.md_product.md_product_wcols li .mod_desc .mod_price .bigbuy{ position:absolute; right:0px; top:50%; line-height:1.8em; margin-top:-0.9em; color:#FFF;padding: 0px 30px;border-radius: 6px;}
.md_product.md_product_wcols li .mod_desc .num{color: #FFF;line-height: 1.2em;width: 1.2em;border-radius: 50%;background-color: #F60;text-align: center;}
.md_product.md_product_wcols li .mod_desc .num.numc0{ margin-right:8px;}


.md_product.md_product_wcols2{}
.md_product.md_product_wcols2 li{margin:20px 1% 0px;position:relative;background-color:#fff;}
.md_product.md_product_wcols2 li .mod_img{overflow: hidden;display:table-cell;vertical-align:middle;}
.md_product.md_product_wcols2 li .mod_img a{ display:block; width:300px;}
.md_product.md_product_wcols2 li .mod_desc{padding:0 3%;overflow: hidden;display:table-cell;vertical-align:middle; width:90%;}
.md_product.md_product_wcols2 li .mod_desc .mod_price {display: inline-block;width: 100%;}
.md_product.md_product_wcols2 li .mod_desc .mod_price .price{float:left;}
.md_product.md_product_wcols2 li .mod_desc .mod_price .bigbuy{display:block;float:right;width:40%;border-radius:10px;max-width:200px;}


.md_product.md_product_cols5 li{width:48%;float:left;margin: 0 0.5% 20px;}
.md_product.md_product_cols5 li .mod_desc{width:100%;overflow:hidden;margin:0px auto;}
.md_product.md_product_cols5 li .mod_desc .title{height:1.8em;}
.md_product.md_product_cols5 li .mod_desc .mod_price .buy{width:80%;height:1.8em;margin: 0 auto;}


.mcol1 .md_product.md_product_cols4n li{ width:100%; float:none !important; border-bottom:solid 1px #DDD; padding-bottom:20px;}
.mcol1 .md_product.md_product_cols4n li .pbox{ border:none;}
.mcol1 .md_product.md_product_cols4n li .mod_img{ width: auto; display:table-cell; vertical-align:middle;}
.mcol1 .md_product.md_product_cols4n li .mod_img a{ width:260px; height:260px; overflow:hidden; display:block;}
.mcol1 .md_product.md_product_cols4n li .mod_desc{ height:260px; width:90%;vertical-align: middle;display: table-cell;}
.mcol1 .md_product.md_product_cols4n li .mod_desc .sale .webshopinfo{ display:inline-block;}

.mcol2 .md_product.md_product_cols4n li .mod_desc .sale .webshopinfo{ display:inline-block;}
.mcol2 .md_product.md_product_cols4n li .mod_desc .sale a.btn{ display:none;}

.mcol3 .md_product.md_product_cols4n li{ width:33%; float:left !important;}
.mcol3 .md_product.md_product_cols4n li:nth-child(3n+2){ margin:0px 0.5% 20px;}
.mcol3 .md_product.md_product_cols4n li .mod_desc{ position:relative; height:3.6em; overflow:hidden;padding: 0px 10px;}
.mcol3 .md_product.md_product_cols4n li .mod_desc .title{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block;}
.mcol3 .md_product.md_product_cols4n li .mod_desc .sale a.btn{ display:none;}
.mcol3 .md_product.md_product_cols4n li .mod_desc .sale{ position:absolute;right:20px; bottom:0px; line-height:1.8em;}

.md_product.md_product_cols4n li{ position:relative; width:49%;float:left; margin-bottom:20px;}
.md_product.md_product_cols4n li:nth-child(2n+1){float:left;}
.md_product.md_product_cols4n li:nth-child(2n){float:right;}
.md_product.md_product_cols4n li .pbox{ border:solid 1px #EEE;/* background:#fff;*/}
.md_product.md_product_cols4n li .mod_img{ width:100%;}
.md_product.md_product_cols4n li .mod_img img{ max-width:100%;}
.md_product.md_product_cols4n li .mod_desc{ height:5.6em; overflow:hidden;padding: 0px 20px;}
.md_product.md_product_cols4n li .mod_desc .sale{ line-height:2em;}
.md_product.md_product_cols4n li .mod_desc .sale .webshopinfo{ display:none;padding-left: 0.6em;border-left: solid #CCC 2px;line-height: 1.2em;margin-left: 1.5em;}
.md_product.md_product_cols4n li .mod_desc .sale a.btn{padding: 0px 10px;text-align: center;color: #fff;background-color: #000;display: inline-block;line-height: 1.5em;border-radius: 10px; float:right;}

.md_dy_product{}
.md_dy_product{background-color: #fff;margin-bottom: 16px;text-align: left; font-size:24px;}
.md_dy_product .item-box-center{ margin:0 auto;padding:10px;border: 2px #ccc solid;}
.md_dy_product li{line-height:1.5em; }
.md_dy_product li.score{line-height: 1.5em;}
.md_dy_product .img{_zoom:1; width:100%; max-width:500px;}
.md_dy_product .img img.saleblogo{ position:absolute; left:0px; top:0px; max-width:50%;width: auto;}
.md_dy_product img{display:block; }
.md_dy_product ul{display:block; margin:0 auto; }
.md_dy_product ul li{text-align:left !important;}
.md_dy_product .title{height:3em; overflow:hidden; }
.md_dy_product .title a{font-size:24px;}
.md_dy_product .title .mtitle{color:#333;text-decoration:none; }
.md_dy_product .title .mtitle img{display:inline; margin-right:6px; vertical-align:middle;}
.md_dy_product .title .u-heart{background-position: -166px -128px;color: #666; display:inline-block;}
.md_dy_product .price{font-size: 28px;font-family: verdana;color: #F26A40;font-weight: bold;}
.md_dy_product .title .exbuy{ }
.md_dy_product .title .exbuy img{ display:inline-block; height:32px; vertical-align:middle;display:inline-block;}

.md_dy_product .title .mtitle:hover{color:#f60; }
.md_dy_product .score{ color:#666; }

.md_dy_product .score .tjscore{ position:relative;line-height: 38px;}

.md_dy_product .score .u-pl{ max-width:200px; height:38px; overflow:hidden; display:none;}

.md_product_wcols3{}
.md_product_wcols3 li.pbox{border-bottom: dashed 2px #9874f0;margin-top: 20px;padding-bottom: 20px;}
.md_product_wcols3 li.pbox .bg{background:url(../images/b6e27-6892.png) repeat-y;padding-bottom: 20px;    background-size: 100% auto;}
.md_product_wcols3 li.pbox .mod_title{ position:relative; height:150px;vertical-align: middle;display: table-cell;}
.md_product_wcols3 li.pbox .mod_title .num{ background-color:#e6826b; font-size:72px; font-weight:bold; color:#FFF; position:absolute; left:0px; top:0px; width:100px; line-height:1.6em; height:1.4em;text-align:center;}
.md_product_wcols3 li.pbox .mod_title .num:after{ content:"";display: block;position: absolute;top: 99.9%;left: 0;border-width: 0 50px 50px 50px;border-style: solid;border-bottom-color: transparent !important;border-color:#e6826b;}
.md_product_wcols3 li.pbox .mod_title .title{ color:#FFF; font-weight:bold; font-size:40px; line-height:1.2em; max-height:2.4em; overflow:hidden; padding-left:120px;display: block;}
.md_product_wcols3 li.pbox .mod_desc{}
.md_product_wcols3 li.pbox .mod_img{ width:300px; height:300px; float:left;}
.md_product_wcols3 li.pbox .mod_info{ margin-left:320px; height:300px; position:relative;}
.md_product_wcols3 li.pbox .mod_info .ctxt{ margin:0px;}
.md_product_wcols3 li.pbox .mod_info .buybtn{color:#FFF; font-size:36px; background-color:#e6826b;border: none; text-align:center;display: block; padding:6px 0px;}
.md_product_wcols3 li.pbox .mod_info .buybtn.shop{position: absolute;left: 0;bottom: 0;width: 100%;}
.md_product_wcols3 li.pbox .mod_info .buybtn i{font-size: 1.4em;}
.md_product_wcols3 li.pbox .ctxt{ border:solid 4px #e6826b; background-color:#FFF; line-height:1.8em; padding:10px;margin: 20px;margin-bottom: 0px;}

.md_product.md_product_lrcols{ border-top:solid 1px #eee;}
.md_product.md_product_lrcols li{border:solid 1px #eee; border-top:none;}
.md_product.md_product_lrcols li .pbox{ }
.md_product.md_product_lrcols li .mod_img{overflow: hidden;display:table-cell;vertical-align:middle;}
.md_product.md_product_lrcols li .mod_img a{display: block;width: 300px;}
.md_product.md_product_lrcols li .mod_desc{padding-left:16px;overflow: hidden;display:table-cell;vertical-align:middle; width:90%;}
.md_product.md_product_lrcols li .mod_desc .title{ color:#444;}
.md_product.md_product_lrcols li .mod_desc .title:hover{ color:#F60;}
.md_product.md_product_lrcols li .mod_desc .mod_price { margin-top:20px;}
.md_product.md_product_lrcols li .mod_desc .mod_price .price{ display:inline-block; color:#ED6A53;vertical-align: middle;}
.md_product.md_product_lrcols li .mod_desc .mod_price .price:hover{ color:#F60;}
.md_product.md_product_lrcols li .mod_desc .mod_price .webshopinfo{ display:inline-block;margin-left:10px;vertical-align: middle;}
.md_product.md_product_lrcols li .mod_desc .mod_price .webshopinfo a{color:#666;border-left: solid 4px #CCC;padding-left: 20px;width: 7em;}
.md_product.md_product_lrcols li .mod_desc .mod_price .webshopinfo a:hover{ color:#F60; border-left-color:#F60;}
.md_product.md_product_lrcols li .mod_desc .buybtn{ background-color:#6ebeb3; color:#FFF;padding:0px 20px;line-height:2em;float: right;}
.md_product.md_product_lrcols li .mod_desc .buybtn i{ display:inline-block; height:28px; width:28px; background-color:#FFF; border-radius:50%; color:#6ebeb3;font-size: 20px; padding:0px;line-height: 32px;font-weight: bolder;margin-left: 10px;}


.md_product_bigpic{counter-reset:li;}
.md_product_bigpic li{border-top: 1px solid #EEE;padding-bottom: 30px;}
.md_product_bigpic li:first-child{ border-top:none;}
.md_product_bigpic li .mod_title{ padding:30px 0px;}
.md_product_bigpic li .mod_title a:before{content: counter(li);counter-increment: li; color:#FFF;height:1em; width:1em; line-height:1em; display:inline-block; background-color:#ED6A53;text-align: center;margin-right: 10px;}
.md_product_bigpic li .mod_title a{ color:#ED6A53; font-weight:bold; line-height:1em;}
.md_product_bigpic li .protxt{ margin-bottom:30px;}
.md_product_bigpic li .mod_img{ width:100%; max-width:1100px; border:solid 1px #EEE; display:block; margin:0px auto;}
.md_product_bigpic li .baojia{ margin-top:30px; line-height:2.2em;}
.md_product_bigpic li .baojia .shopame{color:#FFF;text-align:center;background-color: #e5ac37; float:left; width:40%; padding:0px 20px; box-sizing:border-box !important;margin-right: 1%;}
.md_product_bigpic li .baojia .price{ color:#ED6A53;background-color:#f9f7f6; float:left;width:28%; padding:0px 20px; box-sizing:border-box !important;margin-right: 1%;}
.md_product_bigpic li .baojia .buybtn{ background-color:#6ebeb3; color:#FFF;float:right; width:30%; padding:0px 20px; box-sizing:border-box !important;}
.md_product_bigpic li .baojia .buybtn i{ display:inline-block; height:28px; width:28px; background-color:#FFF; border-radius:50%; color:#6ebeb3;font-size: 20px; padding:0px;line-height: 28px;font-weight: bolder;margin-left: 10px;}


.more_title.bigpic a,.more_title.lrcols a{border: none;color: #FFF;background-color: #a2a3ad;border-radius: 0;font-size: 32px;line-height: 60px;}

.md_product_scrollcols{ display:table-cell;}
.md_product_scrollcols li{ padding:20px 22px; display:table-cell; position:relative;}
.md_product_scrollcols li .mod_desc{ display:none;}
.md_product_scrollcols li .mod_img{ width:532px; height:532px; border:16px solid #d0cccb;}
.md_product_scrollcols li .mod_img img{ width:532px; height:532px;}



.md_5015 .hvbgcolor .scale{ display:block;}
.md_product_clos5 li {position: relative;width: 48%;float: left;margin-bottom: 20px;background: none; margin-left:10px;}
.md_product_clos5 li li:nth-child(2n+1) { margin-left:0px;}
.md_product_clos5 li .desc {height: 5.6em;overflow: hidden;}
.md_product_clos5 li .desc .title {display: block;overflow: hidden;color:#000; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.md_product_clos5 li .priceinfo{  margin-top:10px;}
.md_product_clos5 li .saleinfo { }
.md_product_clos5 li .priceinfo .price{}
.md_product_clos5 li .priceinfo .price a{ color:#d92822; display:inline-block; float:left; width:120px; font-weight:bold; font-size:32px;}
.md_product_clos5 li .priceinfo .sale{   max-width:216px;  font-size: 26px; display: inline-block; color: #ffffff; background: #f74745;border-radius: 12px; padding: 4px; text-align: center;float: right;}

.md_product_cols3 li{ width:49%; float:left;background-color: #FFF;border-radius: 10px;margin-bottom: 30px;}
.md_product_cols3 li:nth-child(2n){ float:right;}
.md_product_cols3 .pbox{ margin:20px 0px 0px;}
.md_product_cols3 .pbox .mod_img{ margin:0px 20px;}
.md_product_cols3 .pbox .mod_desc{ position:relative;}
.md_product_cols3 .pbox .mod_desc .title{margin: 0px 20px;height: 3.6em; max-height:none;}
.md_product_cols3 .pbox .mod_desc .price{ position:absolute; right:20px; top:1.8em;}
.md_product_cols3 .pbox .mod_desc .btn{ width:50%; float:left;margin-top: 20px;text-align: center;}
.md_product_cols3 .pbox .mod_desc .bdcolor{ border-right-style:dashed; border-right-width:2px; box-sizing:border-box;}
.more_title2 a{ background-color:#F6F6F6;padding: 0px 1.5em; line-height:2em;border-radius: 1em;display: inline-block;}

.md_product_wcols4{ counter-reset: li;}
.md_product_wcols4 .pbox {background-color: #FFF;border-radius: 20px;padding: 20px;margin-bottom:20px; position:relative;}
.md_product_wcols4 .pbox .mod_img{ display:table-cell; vertical-align:middle;}
.md_product_wcols4 .pbox .mod_img img{ width:220px; height:220px;}
.md_product_wcols4 .pbox .mod_info{display: table-cell;vertical-align: middle;width: 90%;padding-left: 20px;}


.md_product_wcols4 .pbox .mod_info .pnum{color: #FFF;width:1.4em;line-height:1.2em;height:1.2em;text-align: center;position: relative;margin-right: 10px; display:inline-block;}
.md_product_wcols4 .pbox .mod_info .pnum .bdcolor{display: block;position: absolute;top: 99.9%;border-style: solid;border-bottom-color: transparent !important;}
.md_product_wcols4 .pbox .mod_info .pnum .bdcolor.l{left: 0;border-width: 0 0 0.4em 0.7em;}
.md_product_wcols4 .pbox .mod_info .pnum .bdcolor.r{right: 0;border-width: 0 0.7em 0.4em 0;}
.md_product_wcols4 .pbox .mod_info .pnum i:nth-child(1):before{content:counter(li); counter-increment: li; }
.md_product_wcols4 .pbox:nth-child(-n+9) .mod_info .pnum i:nth-child(1):before{content:"0" counter(li);}
.md_product_wcols4 .pbox .mod_info .title{ max-height:3em; overflow:hidden; line-height:1.5em;}
.md_product_wcols4 .pbox .mod_info ul li{}
.md_product_wcols4 .pbox .mod_info ul li:last-child{ display:none;}

.md_product_wcols4 .pbox .blist .jiabox{line-height: 1.5em; float:left;}
.md_product_wcols4 .pbox .blist .jiabox:nth-child(1){ width:70%;}
.md_product_wcols4 .pbox .blist .jiabox.w100{ width:100%;}
.md_product_wcols4 .pbox .blist .jiabox.fright{ float:right; }
.md_product_wcols4 .pbox .blist .jiabox i.icon{display: inline-block;background-color: #555ba6;color: #FFF;height: 1em;line-height: 1em;border-radius: 6px;padding: 4px;margin-right: 10px;box-sizing: content-box !important;}
.md_product_wcols4 .pbox .salenum{ float:right;}

.md_product_wcols4 .pbox .ctxt{margin: 20px -20px -20px -20px;padding: 20px; background:#e6e7f2;border-radius:0px 0px 20px 20px;}
.md_product_wcols4 .pbox .baojialist{ display:none; background:rgba(238,238,238,0.9);position:absolute; left:0px; z-index:99;}
.md_product_wcols4 .pbox .baojialist .bli{ padding: 10px 20px;}
.md_product_wcols4 .pbox .baojialist img{vertical-align:middle; margin-right:10px;height: 48px;}
.md_product_wcols4 .pbox .mod_info .btn .baojialist a{ background:rgba(238,238,238,0.9);}
.md_product_wcols4 .pbox .mod_info .atop{}
.md_product_wcols4 .pbox .mod_info li .icon-jiangpai{ padding:0px; font-size:1.6em; margin:0px 0px 0px -4px;}
.md_product_wcols4 .pbox .mod_info a.red{color:#ff0000;}

.md_product.productcol2{margin-left: 20px;margin-right: -1%;}
.more_title3 a{ display:inline-block; line-height:1.8em; border-radius:0.9em; padding:0px 40px;}
.more_title3 a:nth-child(n+2){ margin-left:40px;}
.md_5015 .more_title3.cols3_2{padding-bottom: 20px;}

.md_product_cols3_3{ padding:0px 20px;}
.md_product_cols3_3 li{ float:left; width:32%; margin-left:2%;margin-bottom:30px;}
.md_product_cols3_3 li:nth-child(1){ margin-left:0px;}
.md_product_cols3_3 li .imgbox img{ display:block; width:100%; height:auto;}
.md_product_cols3_3 li .baojia{ text-align:center; color:#fff; margin-top:10px; font-weight:bold;}
.md_product_cols3_3 li .baojia span{ font-size:28px;}

.md_product.md_product_cols3_4{ margin-left:-20px;}
.md_product.md_product_cols3_4 li{ width:50%; float:left; margin-top:20px; box-sizing:border-box;}
.md_product.md_product_cols3_4 li .libox{border:1px solid #eee; margin-left:20px;}
.md_product.md_product_cols3_4 li .imgbox a{ display:block;}
.md_product.md_product_cols3_4 li .mod_img{  width:100%; overflow:hidden;margin:0px auto;}
.md_product.md_product_cols3_4 li .desc{ padding:10px;}
.md_product.md_product_cols3_4 li .title{ height:3.6em; overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  -webkit-box-orient: vertical; word-break: break-all;} 
.md_product.md_product_cols3_4 li .desc .info{ border-bottom:1px solid #eee; padding-bottom:10px;}
.md_product.md_product_cols3_4 li .desc .burl{ padding:15px 0px 5px 0px;}
.md_product.md_product_cols3_4 li .desc .burl a{ color:#43a886;}
.md_product.md_product_cols3_4 li .desc .burl em{ height:50px;  width: 50px;border-radius: 4px; display: inline-block; text-align: center;line-height: 50px;margin-right:5px; vertical-align: middle; background:#43a886; font-size:20px;}
.md_product.md_product_cols3_4 li .desc .price{color:#f12828;display: inline-block; min-width: 70px;}
.md_product.md_product_cols3_4 li .desc .salenum{ float:right;}
.more_title.cols3_4 a{background: -webkit-linear-gradient(left, #15c6ac,#29dca2); background: -o-linear-gradient(left, #15c6ac,#29dca2); background: -moz-linear-gradient(left, #15c6ac,#29dca2);  background: linear-gradient(left, #15c6ac,#29dca2);border:none; font-size:32px; color:#fff; padding:2px 30px;
border-radius:30px;margin-top:30px;}
.more_title.cols3_4 a .iconfont{ font-size:28px; margin-left:-4px;}
.more_title.cols3_4 a:after{ display:none;}
.more_title.cols3_4 a::before { content: "查看更多";}

.md_product_cols3_2 ul{counter-reset: li;}
.md_product_cols3_2 li .title i{ line-height:36px;}
.md_product_cols3_2 li .title i:before{content:counter(li); counter-increment: li; }