/*/public/css/mobile/v2019/color.css*/
/*公共颜色*/
.fff{ color:#fff;}
a.fff:hover,a.fff.active{ color:#fe741c;}
.c000{ color:#000;}/*主要文字*/
a.c000:hover,a.c000.active{ color:#fe741c;}
.c333{ color:#333;}/*主要文字*/
a.c333:hover,a.c333.active{ color:#fe741c;}
.c666{ color:#666;}/*次要文字*/
a.c666:hover,a.c666.active{ color:#fe741c;}
.c999{ color:#999;}/*次要文字*/
a.c999:hover,a.c999.active{ color:#fe741c;}
.ccc{ color:#ccc;}/*辅助文字*/
a.ccc:hover,a.ccc.active{ color:#fe741c;}
.eee{ color:#eee;}/*边框*/
a.eee:hover,a.eee.active{ color:#fe741c;}

.bgccc{ background:#ccc}
.bgeee{ background:#eee}
.bgfff{ background:#fff}
.bgorange{background:#fe741c;}
.bgf5f5{ background:#f5f5f5;}

.red{ color:#CA0606}
.orange{ color:#fe741c}
.cfe741c{ color:#fe741c;}/*序号1*/
a.cfe741c:hover,a.cfe741c.active{ color:#f60;}
.cfdb80c{ color:#fdb80c;}/*序号2*/
a.cfdb80c:hover,a.cfdb80c.active{ color:#fe741c;}
.cffdc00{ color:#ffdc00;}/*序号3*/
a.cffdc00:hover,a.cffdc00.active{ color:#fe741c;}
.cf12828{ color:#f12828;}/*强调*/
a.cf12828:hover,a.cf12828.active{ color:#fe741c;}

.cffff00,.cffff00 a{ color:#ffff00;}/*头部导航*/
a.cffff00:hover,a.cffff00.active,.cffff00 a:hover{ color:#fe741c;}

/*皮肤颜色1*/
.color1,.color1 a{ color:#555ba6}/*主色*/
.color1 a:hover,a.color1:hover,a.color1.active{ color:#fe741c;}
.color2,.color2 a{ color:#44476c}/*文章标题*/
.color2 a:hover,a.color2:hover,a.color2.active{ color:#fe741c;}
.color3,.color3 a{ color:#28166f}/*标题辅色*/
.color3 a:hover,a.color3:hover,a.color3.active{ color:#fe741c;}
.color4,.color4 a{ color:#8d99b8}/*文字辅色*/
.color4 a:hover,a.color4:hover,a.color4.active{ color:#fe741c;}
.color5,.color5 a{ color:#8d99b8; border-color:rgba(141, 153, 184, 0.3);}/*文章模版标签颜色*/
.color5 a:hover,a.color5:hover,a.color5.active{ color:#fe741c;}
.bg1{ background:#555ba6}/*主色背景*/
.bg2{ background:#e6e7f2}/*辅色背景*/
.bg3{ background:#28166f}/*辅色背景－深色*/
.bd1{ border-color:#555ba6}/*主色边框*/
.bd2{ border-color:#e6e7f2}/*辅色边框*/

.li_1.num1{background:rgba(85,91,166,0.2);}
.li_1.num2{background:rgba(85,91,166,0.15);}
.li_1.num3{background:rgba(85,91,166,0.1);}
.li_1.num1 i { background:#555ba6;}
.li_1.num2 i { background:rgba(85,91,166,0.7);}
.li_1.num3 i { background:rgba(85,91,166,0.4);}

/*皮肤颜色2*/
.blockstyle2 .color1,.blockstyle2 .color1 a{ color:#be0f1b}/*主色*/
.blockstyle2 .color1 a:hover,.blockstyle2 a.color1:hover,.blockstyle2 a.color1.active{ color:#fe741c;}
.blockstyle2 .color2,.blockstyle2 .color2 a{ color:#333333}/*文章标题*/
.blockstyle2 .color2 a:hover,.blockstyle2 a.color2:hover,.blockstyle2 a.color2.active{ color:#fe741c;}
.blockstyle2 .color3,.blockstyle2 .color3 a{ color:#a91324}/*标题辅色*/
.blockstyle2 .color3 a:hover,.blockstyle2 a.color3:hover,.blockstyle2 a.color3.active{ color:#fe741c;}
.blockstyle2 .color4,.blockstyle2 .color4 a{ color:#de878d}/*文字辅色*/
.blockstyle2 .color4 a:hover,.blockstyle2 a.color4:hover,.blockstyle2 a.color4.active{ color:#fe741c;}
.blockstyle2 .color5,.blockstyle2 .color5 a{ color:#de878d; border-color:rgba(222, 135, 141, 0.3);}/*文章模版标签颜色*/
.blockstyle2 .color5 a:hover,.blockstyle2 a.color5:hover,.blockstyle2 a.color5.active{ color:#fe741c;}
.blockstyle2 .bg1{ background:#be0f1b}/*主色背景*/
.blockstyle2 .bg2{ background:#f8e7e8}/*辅色背景*/
.blockstyle2 .bg3{ background:#a91324}/*辅色背景－深色*/
.blockstyle2 .bd1{ border-color:#be0f1b}/*主色边框*/
.blockstyle2 .bd2{ border-color:#f8e7e8}/*辅色边框*/
.tab.style1.blockstyle2>.tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#be0f1b;}
.blockstyle2 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .li_1.num1{background:rgba(190,15,27,0.2);}
.blockstyle2 .li_1.num2{background:rgba(190,15,27,0.15);}
.blockstyle2 .li_1.num3{background:rgba(190,15,27,0.1);}
.blockstyle2 .li_1.num1 i { background:#be0f1b;}
.blockstyle2 .li_1.num2 i { background:rgba(190,15,27,0.7);}
.blockstyle2 .li_1.num3 i { background:rgba(190,15,27,0.4);}
/*皮肤颜色3*/
.blockstyle3 .color1,.blockstyle3 .color1 a{ color:#87a5b5}/*主色*/
.blockstyle3 .color1 a:hover,.blockstyle3 a.color1:hover,.blockstyle3 a.color1.active{ color:#fe741c;}
.blockstyle3 .color2,.blockstyle3 .color2 a{ color:#44476c}/*文章标题*/
.blockstyle3 .color2 a:hover,.blockstyle3 a.color2:hover,.blockstyle3 a.color2.active{ color:#fe741c;}
.blockstyle3 .color3,.blockstyle3 .color3 a{ color:#b7c9d3}/*标题辅色*/
.blockstyle3 .color3 a:hover,.blockstyle3 a.color3:hover,.blockstyle3 a.color3.active{ color:#fe741c;}
.blockstyle3 .color4,.blockstyle3 .color4 a{ color:#abc0cb}/*文字辅色*/
.blockstyle3 .color4 a:hover,.blockstyle3 a.color4:hover,.blockstyle3 a.color4.active{ color:#fe741c;}
.blockstyle3 .color5,.blockstyle3 .color5 a{ color:#97b5c5; border-color:rgba(151, 181, 197, 0.3);}/*文章模版标签颜色*/
.blockstyle3 .color5 a:hover,.blockstyle3 a.color5:hover,.blockstyle3 a.color5.active{ color:#fe741c;}
.blockstyle3 .bg1{ background:#87a5b5}/*主色背景*/
.blockstyle3 .bg2{ background:#edf2f4}/*辅色背景*/
.blockstyle3 .bg3{ background:#b7c9d3}/*辅色背景－深色*/
.blockstyle3 .bd1{ border-color:#87a5b5}/*主色背景*/
.blockstyle3 .bd2{ border-color:#edf2f4}/*辅色背景*/
.tab.style1.blockstyle3>.tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#87a5b5;}
.blockstyle3 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .li_1.num1{background:rgba(135,165,181,0.2);}
.blockstyle3 .li_1.num2{background:rgba(135,165,181,0.15);}
.blockstyle3 .li_1.num3{background:rgba(135,165,181,0.1);}
.blockstyle3 .li_1.num1 i { background:#87a5b5;}
.blockstyle3 .li_1.num2 i { background:rgba(135,165,181,0.7);}
.blockstyle3 .li_1.num3 i { background:rgba(135,165,181,0.4);}


/*/public/css/mobile/v2019/weui.min.css*/
.weui_dialog{position:fixed;z-index:2147483647;width:85%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fafafc;text-align:center;border-radius:30px; overflow:hidden;}.weui_dialog_confirm .weui_dialog .weui_dialog_hd{padding:1em 40px}.weui_dialog_confirm .weui_dialog .weui_dialog_bd{text-align:left;}.weui_dialog_hd{padding:1.2em 0 1em}.weui_dialog_title{font-weight:400;font-size:34px}.weui_dialog_bd{padding:0 30px;color:#666; line-height:1.8em; text-align:left;}.weui_dialog_ft{position:relative;line-height:84px;margin-top:40px;font-size:34px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.weui_dialog_ft a{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.weui_dialog_ft a:active{background-color:#eee}.weui_dialog_ft:after{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_dialog_confirm .weui_dialog_ft a{position:relative}.weui_dialog_confirm .weui_dialog_ft a:after{content:" ";position:absolute;left:0;top:0;width:1px;height:100%;border-left:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(.5);transform:scaleX(.5)}.weui_dialog_confirm .weui_dialog_ft a:first-child:after{display:none}.weui_btn_dialog.default{color:#353535}.weui_btn_dialog.primary{color:#383f90}@media screen and (min-width:1024px){.weui_dialog{width:35%}}.weui_toast{position:fixed;z-index:2147483647;width:7.6em;min-height:7.6em;top:180px;left:50%;margin-left:-3.8em;background:rgba(40,40,40,.75);text-align:center;border-radius:5px;color:#fff}.weui_icon_toast{margin:10px 0 0;display:block;font-size:55px}.weui_toast_content{margin:0 0 15px}.weui_loading_toast .weui_toast_content{margin-top:64%;font-size:28px}.weui_loading{position:absolute;width:0;z-index:2147483647;left:50%;top:38%}.weui_loading_leaf{position:absolute;top:-1px;opacity:.25}.weui_loading_leaf:before{content:" ";position:absolute;width:16.28px;height:6.16px;background:#d1d1d5;box-shadow:rgba(0,0,0,.0980392) 0 0 1px;border-radius:1px;-webkit-transform-origin:left 50% 0;transform-origin:left 50% 0}.weui_loading_leaf_0{-webkit-animation:a 1.25s linear infinite;animation:a 1.25s linear infinite}.weui_loading_leaf_0:before{-webkit-transform:rotate(0deg) translate(15.84px);transform:rotate(0deg) translate(15.84px)}.weui_loading_leaf_1{-webkit-animation:b 1.25s linear infinite;animation:b 1.25s linear infinite}.weui_loading_leaf_1:before{-webkit-transform:rotate(30deg) translate(15.84px);transform:rotate(30deg) translate(15.84px)}.weui_loading_leaf_2{-webkit-animation:c 1.25s linear infinite;animation:c 1.25s linear infinite}.weui_loading_leaf_2:before{-webkit-transform:rotate(60deg) translate(15.84px);transform:rotate(60deg) translate(15.84px)}.weui_loading_leaf_3{-webkit-animation:d 1.25s linear infinite;animation:d 1.25s linear infinite}.weui_loading_leaf_3:before{-webkit-transform:rotate(90deg) translate(15.84px);transform:rotate(90deg) translate(15.84px)}.weui_loading_leaf_4{-webkit-animation:e 1.25s linear infinite;animation:e 1.25s linear infinite}.weui_loading_leaf_4:before{-webkit-transform:rotate(120deg) translate(15.84px);transform:rotate(120deg) translate(15.84px)}.weui_loading_leaf_5{-webkit-animation:f 1.25s linear infinite;animation:f 1.25s linear infinite}.weui_loading_leaf_5:before{-webkit-transform:rotate(150deg) translate(15.84px);transform:rotate(150deg) translate(15.84px)}.weui_loading_leaf_6{-webkit-animation:g 1.25s linear infinite;animation:g 1.25s linear infinite}.weui_loading_leaf_6:before{-webkit-transform:rotate(180deg) translate(15.84px);transform:rotate(180deg) translate(15.84px)}.weui_loading_leaf_7{-webkit-animation:h 1.25s linear infinite;animation:h 1.25s linear infinite}.weui_loading_leaf_7:before{-webkit-transform:rotate(210deg) translate(15.84px);transform:rotate(210deg) translate(15.84px)}.weui_loading_leaf_8{-webkit-animation:i 1.25s linear infinite;animation:i 1.25s linear infinite}.weui_loading_leaf_8:before{-webkit-transform:rotate(240deg) translate(15.84px);transform:rotate(240deg) translate(15.84px)}.weui_loading_leaf_9{-webkit-animation:j 1.25s linear infinite;animation:j 1.25s linear infinite}.weui_loading_leaf_9:before{-webkit-transform:rotate(270deg) translate(15.84px);transform:rotate(270deg) translate(15.84px)}.weui_loading_leaf_10{-webkit-animation:k 1.25s linear infinite;animation:k 1.25s linear infinite}.weui_loading_leaf_10:before{-webkit-transform:rotate(300deg) translate(15.84px);transform:rotate(300deg) translate(15.84px)}.weui_loading_leaf_11{-webkit-animation:l 1.25s linear infinite;animation:l 1.25s linear infinite}.weui_loading_leaf_11:before{-webkit-transform:rotate(330deg) translate(15.84px);transform:rotate(330deg) translate(15.84px)}
@-webkit-keyframes a{0%,0.01%{opacity:.25}0.02%{opacity:1}60.01%,to{opacity:.25}}@-webkit-keyframes b{0%,8.34333%{opacity:.25}8.35333%{opacity:1}68.3433%,to{opacity:.25}}@-webkit-keyframes c{0%,16.6767%{opacity:.25}16.6867%{opacity:1}76.6767%,to{opacity:.25}}@-webkit-keyframes d{0%,25.01%{opacity:.25}25.02%{opacity:1}85.01%,to{opacity:.25}}@-webkit-keyframes e{0%,33.3433%{opacity:.25}33.3533%{opacity:1}93.3433%,to{opacity:.25}}@-webkit-keyframes f{0%{opacity:.270958333333333}41.6767%{opacity:.25}41.6867%{opacity:1}1.67667%{opacity:.25}to{opacity:.270958333333333}}@-webkit-keyframes g{0%{opacity:.375125}50.01%{opacity:.25}50.02%{opacity:1}10.01%{opacity:.25}to{opacity:.375125}}@-webkit-keyframes h{0%{opacity:.479291666666667}58.3433%{opacity:.25}58.3533%{opacity:1}18.3433%{opacity:.25}to{opacity:.479291666666667}}@-webkit-keyframes i{0%{opacity:.583458333333333}66.6767%{opacity:.25}66.6867%{opacity:1}26.6767%{opacity:.25}to{opacity:.583458333333333}}@-webkit-keyframes j{0%{opacity:.687625}75.01%{opacity:.25}75.02%{opacity:1}35.01%{opacity:.25}to{opacity:.687625}}@-webkit-keyframes k{0%{opacity:.791791666666667}83.3433%{opacity:.25}83.3533%{opacity:1}43.3433%{opacity:.25}to{opacity:.791791666666667}}@-webkit-keyframes l{0%{opacity:.895958333333333}91.6767%{opacity:.25}91.6867%{opacity:1}51.6767%{opacity:.25}to{opacity:.895958333333333}}.weui_mask{background:rgba(0,0,0,.3)}.weui_mask,.weui_mask_transition,.weui_mask_transparent{position:fixed;z-index:2147483647;width:100%;height:100%;top:0;left:0}.weui_mask_transition{display:none;background:transparent;-webkit-transition:background .3s;transition:background .3s}.weui_fade_toggle{background:rgba(0,0,0,.6)}.weui_actionsheet{position:fixed;left:0;bottom:0;z-index:2147483647;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;width:100%;background-color:#efeff4;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s;opacity:0}.weui_actionsheet_menu{background-color:#fff}.weui_actionsheet_action{margin-top:12px;background-color:#fff}.weui_actionsheet_cell{position:relative;padding:20px 0;text-align:center;font-size:36px}.weui_actionsheet_cell:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d9d9d9;color:#d9d9d9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_actionsheet_cell:active{background-color:#ececec}.weui_actionsheet_cell:first-child:before{display:none}.weui_actionsheet_toggle{-webkit-transform:translate(0);transform:translate(0);opacity:1}.textToast{width:90%; padding:0.5em;max-height:4.6em;line-height:1.8em;text-align:center;color:#fff!important;border-radius:10px;background-color:rgba(80,80,80,0.8);position:fixed;left:50%;top:80%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:none; z-index:2147483647}.textToastShow{display:block;-webkit-animation:textToastShow 1.5s .2s ease-in-out;animation:textToastShow 1.5s .2s ease-in-out}@-webkit-keyframes textToastShow{30%{opacity:1}100%{opacity:0}}@keyframes textToastShow{30%{opacity:1}100%{opacity:0}}

/*/public/css/mobile/v2019/block/brand/btab2.css*/
.brandtab2{ padding:0 30px;}
.brandtab2 .itembox{background-color:#fff;}

.brandtab2 .itembox ul{ float:left; width:100%;text-align:center;}
.brandtab2 .itembox ul li{ line-height:90px; padding:10px 0;}
.brandtab2 .itembox ul li span{ float:left;}
.brandtab2 .itembox ul li span.s1{ width:9%;}
.brandtab2 .itembox ul li span.s2{ width:65%;}
.brandtab2 .itembox ul li span.s3{ width:26%;}

.brandtab2 .itembox ul li span .wname{ margin:0px 8px;max-width: 230px;}
.brandtab2 .itembox ul li span .bimg{ display:inline-block; float:left;margin-right: 10px; margin-top:5px;}
.brandtab2 .itembox ul li .tleft{ text-align:left;}

.brandtab2 .itembox ul li{ width:100%; float:left; border-bottom:1px solid #ddd;}
.brandtab2 .itembox ul li:last-child{ border-bottom:0;}


/*/public/css/mobile/v2019/block/publicblock/navscroll.css*/
.navscroll { overflow:hidden;}
.navscroll .navscrollbox{ overflow:auto;}
.navscroll .navscrollbox::-webkit-scrollbar { width:0; height:0;}
.navscroll .navscrollbox li{ display:block; display:table-cell; text-align:center; vertical-align:top;}
.navscroll .navscrollbox .item{ width:166px; box-sizing:border-box; padding:10px 0; text-align:center;}
.navscroll.col5 .navscrollbox .item{ width:129px;}
.navscroll .navscrollbox .item .icon{ display:block; width:100px; height:100px; color:#fff; margin:0 auto; font-size:30px; border-radius:50%; line-height:100px; overflow:hidden; box-shadow:0 0 0 6px rgba(255,255,255,.1)}
.navscroll .navscrollbox .item.noradius .icon{ border-radius:0; box-shadow:none; width:106px; height:106px;}
.navscroll .navscrollbox .item .icon .iconfont{ font-size:60px; line-height:60px;}
.navscroll .navscrollbox .item .icon img{ display:block; width:100%;}
.navscroll .navscrollbox .item .name{ line-height:2em;}
.navscroll .navscrollbox .item.s1 .icon{ background:linear-gradient(135deg, #f87b93, #f3113c);}
.navscroll .navscrollbox .item.s2 .icon { background:linear-gradient(135deg, #ffd27f, #ffae1a);}
.navscroll .navscrollbox .item.s3 .icon { background:linear-gradient(135deg, #95d9e9, #40bbd7);}
.navscroll .navscrollbox .item.s4 .icon { background:linear-gradient(135deg, #cb99ee, #a147e0);}
.navscroll .navscrollbox .item.s5 .icon { background:linear-gradient(135deg, #a09be1, #544bca);}
.navscroll .navscrollbox .item.s6 .icon { background:linear-gradient(135deg, #fb9ebb, #f85084);}
.navscroll .navscrollbox .item.s7 .icon { background:linear-gradient(135deg, #ffba7c, #ff8415);}
.navscroll .navscrollbox .item.s8 .icon { background:linear-gradient(135deg, #93ccfe, #3fa4fe);}
.navscroll .navscrollbox .item.s9 .icon { background:linear-gradient(135deg, #71d7ca, #00b8a0);}
.navscroll .navscrollbox .item.s10 .icon { background:linear-gradient(135deg, #f08c88, #e4312a);}
.navscroll .navscrollbox .item.s11 .icon { background:linear-gradient(135deg, #a1adea, #586dda);}
.navscroll .navscrollbox .item.s12 .icon { background:linear-gradient(135deg, #cde79a, #a5d54b);}
.navscroll .navscrollbox .item.s13 .icon { background:linear-gradient(135deg, #97ebe2, #45dccb);}
.navscroll .navscrollbox .item.s14 .icon{ background:linear-gradient(135deg, #b5ebaf, #7bdc71);}
.navscroll .navscrollbox .item.s15 .icon { background:linear-gradient(135deg, #ffb8dd, #ff80c2);}
.navscroll .navscrollbox .item.s16 .icon { background:linear-gradient(135deg, #fee58b, #fed030);}
.navscroll .navscrollbox .item.s17 .icon { background:linear-gradient(135deg, #9bdff5, #4dc6ee);}
.navscroll .navscrollbox .item.s18 .icon { background:linear-gradient(135deg, #bdc1fc, #8a90fa);}
.navscroll .navscrollbox .item.s19 .icon { background:linear-gradient(135deg, #a2c9f4, #599eec);}
.navscroll .navscrollbox .item.s20 .icon { background:linear-gradient(135deg, #ffaaaa, #ff6767);}

.navscroll .addmore{ position:relative;}
.navscroll .addmore .navscrollbox{margin-right: 80px;overflow-x: scroll;position: relative;z-index: 2;}
.navscroll .addmore .line {height: 100%;width: 24px;position: absolute;right: 80px;top: 0;z-index: 1;background: -webkit-linear-gradient(90deg, #FFF, rgba(230,230,230,0.4));background: -moz-linear-gradient(90deg, #FFF, rgba(230,230,230,0.4)); background: -o-linear-gradient(90deg, #FFF, rgba(230,230,230,0.4));background: linear-gradient(90deg, #FFF, rgba(230,230,230,0.4));}
.navscroll .addmore .more {position: absolute;right: 0px; top: 0;width: 80px;color:#333; text-align:center;padding-top:0.7em; height:100%;}
.navscroll .addmore .morelist{position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;background: rgba(50,50,50,.3);display: none;}
.navscroll .addmore .morelist.show{ display:block;}
.navscroll .addmore .morelist h2 {width: 100%;max-width: 750px;margin: 0 auto;background-color: #FFF; position: relative;}
.navscroll .addmore .morelist .close {position: absolute;right: 10px;top: 50%;margin-top: -0.5em;}
.navscroll .addmore .morelist .firstlist {width: 100%;max-width: 750px;margin: 0 auto;background-color: #F6F6F6;padding:0 10px 30px;}
.navscroll .addmore .morelist .firstlist li {width: 33%;float: left;margin-top: 20px;}
.navscroll .addmore .morelist .firstlist li:nth-child(3n+2){ margin-left:0.5%; margin-right:0.5%;}
.navscroll .addmore .morelist .firstlist:after{ content:""; display:block; height:0; clear:both;}
.morelist .firstlist li span {display: block;margin: 0px 20px;padding: 0px 10px;line-height: 1.8em;border-radius: 0.9em;border: solid 1px #CCC;color: #666;text-align: center;}
.morelist .firstlist li.active span {border-color: #be0f1b;color: #be0f1b;}


.navscroll.yuan { margin-bottom: 10px;}
.navscroll.yuan .navscrollbox li .item{display: block;border: 1px solid #ddd;line-height: 2em;border-radius: 1em;margin: 0 10px;padding: 0 20px;width: auto;}

/*/public/css/mobile/v2019/block/product/specslist2.css*/
.productspecslist2{ padding:0 30px;}
.productspecslist2 .blocktitle{ margin-bottom:0;}
.productspecslist2 .item{margin-bottom: 30px;}
.productspecslist2 .item .titlebox{padding:10px 30px;border-radius:10px;}
.productspecslist2 .item .titlebox a .ltitle,.productspecslist2 .item .titlebox a .mtitle{width:560px; margin-right:20px;}
.productspecslist2 .item .iconbtn{ width:50px; height:50px;border-radius:50%; line-height:46px; text-align:center;transform: rotate(90deg);}
.productspecslist2 .item .iconbtn .iconfont{ margin-right:0px;transition: all ease-in-out 300ms; font-size:30px;}
.productspecslist2 .item .productlist{ border:2px solid #EEE; border-top:0px; padding:30px;counter-reset: li;border-bottom-left-radius:10px;border-bottom-right-radius:10px; display:none; }
.productspecslist2 .item .productlist .pbox{ border-bottom:1px solid #EEE; padding-bottom:30px; margin-bottom:30px;}
.productspecslist2 .item .productlist .lastbox{  border:0px; padding-bottom:0px;}
.productspecslist2 .item .productlist .pbox .info .desc{width:428px; margin-right:20px;}
.productspecslist2 .item .productlist .pbox.nopic .info .desc{ width:100%; margin:0px; height:auto;}
.productspecslist2 .item .productlist .pbox .other{ margin-top:20px;}
.productspecslist2 .item .productlist .pbox .imgbox{ width:180px; height:180px;}
.productspecslist2 .item .productlist .pbox .imgbox img{ display:block; max-width:180px;}
.productspecslist2 .item .productlist .pbox .price{ color:#F12828;width:30%;display:inline-block; float:left; }
.productspecslist2 .item .productlist .pbox .shopurl{width:70%; display:inline-block;float:left;text-align:right;}
.productspecslist2 .item .productlist .pbox .shopurl em {height: 40px; width: 40px; border-radius: 4px; display: inline-block; text-align: center; line-height: 40px;margin-right: 10px;vertical-align:middle;}
.productspecslist2 .item .productlist .pbox .shopurl a span{}
.productspecslist2 .item .productlist .murl{ text-align:center; border-radius:10px; padding:18px 0px;}

.productspecslist2 .item.up .iconbtn{ transform: rotate(-90deg);}
.productspecslist2 .item.up .titlebox{border-bottom-left-radius:0px;border-bottom-right-radius:0px; }
.productspecslist2 .item.up .productlist{ display:block;}



/*/public/css/mobile/v2019/block/product/col.css*/
.productcol{ padding:20px 30px;}
.tab .productcol{ padding:0px 30px 20px 30px;}
.productcol .blocktitle.style1{ margin-bottom:-10px;}
.productcol .blocktitle.style3{ margin-top:10px;}
.productcol .item{ width:332px; float:left; border:solid 1px #ddd; margin-top:10px; margin-bottom:10px; position:relative;}
.productcol .item:nth-child(2n){ float:right;}
.productcol .item .imgbox{ width:332px; height:332px; padding:20px; overflow:hidden;margin: 0px auto;}
.productcol .item .imgbox img{ width:292px; height:292px}
.productcol .item .cont{ padding:0 20px;}
.productcol .item .cont .title{ line-height:1.5em; height:3em;position: relative;margin-left: -30px;padding: 0px 0px 0px 45px;}
.productcol .item .cont .title img{ max-height:1.2em; display:inline-block; vertical-align:middle; margin-right:5px;}

.productcol .item .other{ height:2em; line-height:2em;}
.productcol .item .other .price {color: #f12828;font-weight: bold;display: inline-block;float:left;}
.productcol .item .other .salenum {float:right;display: inline-block;text-align: right;color: #999;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.productcol .item .other .preferential {float: right;display: inline-block;text-align: right;}
.productcol .item .other .preferential a{color: #fd2a32;display: inline-block;line-height: 1.5em;border: solid 1px #fd2a32;color: #fd2a32;padding-right: 3px;}
.productcol .item .other .preferential a::before {content: "券";background-color: #fd2a32;display: inline-block;height: 1.5em;color: #fff;padding: 0px 3px;margin-right: 3px;}

.productcol .item .shopurl{border-top: solid 1px #ddd;padding: 20px 0; margin:0 -10px 0 0;}
.productcol .item .shopurl em{ height:40px; width:40px; line-height:40px; border-radius:4px; color:#FFF;display: inline-block;text-align: center;margin-right: 10px;}
.productcol .item .shopurl .iconfont{ font-size:1em;}
.productcol .item .shopurl.hasbj .bnum{ display:inline-block;vertical-align: middle; line-height:40px; float:right;}
.productcol .item .shopurl.hasbj a{width: 238px;display: inline-block;float: left;}
.productcol .item .shopurl.hasbj:after{ content:""; clear:both; display:block; height:0;}
.productcol .item .baojialist{ display:none; background:#EEE;position:absolute;z-index:99; position:absolute; bottom:80px; background:rgba(0, 0, 0, 0.6); padding:10px 0; min-width:100%; max-width:160% line-height:1.8em;}
.productcol .item:nth-child(2n+1) .baojialist{left:0;} 
.productcol .item:nth-child(2n) .baojialist{right:0;} 
.productcol .item .baojialist .li{ padding: 5px 10px;}
.productcol .item .baojialist img{vertical-align:middle; margin-right:5px;}
.productcol .item .baojialist .mprice{color:#f60;}
.productcol .item .baojialist .preferential a{ font-size: 18px;color: #fff; background: #f72c2c; display: inline-block; padding: 3px; line-height: 1em; border: 1px solid red; vertical-align: text-bottom; border-radius: 2px;}
.productcol .item .baojialist .shopname{display: inline-block;vertical-align: top;max-width: 220px;}

.productcol .item em.num{ width:36px; height:32px; text-align:center; background-color:#d3bf99; color:#FFF; position:absolute;left: 0px;top: 5px;line-height: 32px;}
.productcol .item em.num:after{ content:"";display: block;position: absolute;top: 0px;left: 100%;border-width:16px 6px 16px 0px;border-style: solid; border-color:#d3bf99;border-right-color: transparent !important;width: 0px;height: 0px;}
.productcol .item em.num:before{ content:""; position:absolute; top:100%; left:0px; border-color:#a6936e;border-style: solid;border-right-color: transparent !important;border-left-color: transparent !important;border-bottom-color: transparent !important;border-width: 10px 0px 0px 10px;width: 0px;height: 0px;}
.productcol ul:first-child li:nth-child(1) em.num{ background-color:#de1e1e;}
.productcol ul:first-child li:nth-child(1) em.num:after{ border-color:#de1e1e;}
.productcol ul:first-child li:nth-child(1) em.num:before{ border-color:#ab0f0f;}
.productcol ul:first-child li:nth-child(2) em.num{ background-color:#fc8142;}
.productcol ul:first-child li:nth-child(2) em.num:after{ border-color:#fc8142;}
.productcol ul:first-child li:nth-child(2) em.num:before{ border-color:#de5d1b;}
.productcol ul:first-child li:nth-child(3) em.num{ background-color:#ffb535;}
.productcol ul:first-child li:nth-child(3) em.num:after{ border-color:#ffb535;}
.productcol ul:first-child li:nth-child(3) em.num:before{ border-color:#dd9b29;}




/*/public/css/mobile/v2019/block/publicblock/html.css*/
.shoptxt{ padding:0 30px;padding-bottom: 30px;}
.shoptxt .blocktitle{ margin-bottom:0;}
.shoptxt .itembox>div{ padding:20px; border-radius:10px;}
.shoptxt .itembox .cont{ height:5.4em; overflow:hidden;}
.shoptxt .itembox .morehtml{ text-align:center;}
.shoptxt .itembox .morehtml i{transition: all ease-in-out 300ms;display: inline-block;}

.shoptxt .itembox.hov .cont{ height:auto;}
.shoptxt .itembox.hov .morehtml i{transform: rotate(180deg);}



/*/public/css/mobile/v2019/block/publicblock/articlelist.css*/
.articlelist{ padding:1px 30px;}
.articlelist.style1 .blocktitle{ margin-bottom:-30px;}
.articlelist.nomtop .itembox{ margin-top:0px;}
.articlelist>ul>.item{ padding:30px 0; border-bottom:1px solid #ddd; position:relative;}
.articlelist .img{ width:220px; height:137px; float:right; overflow:hidden; position:relative;}
.articlelist .img img{ width:100%; height:100%; object-fit:cover;}
.articlelist .contbox{ width: 450px; /*height:142px;*/ margin-top:-6px;float: left;}
.articlelist .contbox.ad{ width:750px; padding:46px 0; margin:-30px auto; overflow:hidden; text-align:center; background:#fff; position:relative;}
.articlelist .contbox.ad iframe{ width:375px; height:92px; margin:0 auto; transform:scale(1.85)}
.articlelist .contbox.ad .numb{ position:absolute; left:0; top:28px; z-index:1; border-radius:0}
.articlelist .contbox .title{ line-height:1.5em; height:3em;}
.articlelist>ul>.item.nopic .contbox .title{ height:auto;}
.articlelist>ul>.item .biaoshibox{display: inline-block; position: absolute; right: 164px; top: 36px; z-index: 1;padding:0px 6px 0px 10px;}
.articlelist>ul>.item .biaoshibox .name{ color: #fff; }
.articlelist>ul>.item .biaoshibox:before{ content:""; display:inline-block; border-top:16px solid; border-right:10px solid transparent; position: absolute; right: -10px; top:0px;}
.articlelist>ul>.item .biaoshibox:after{ content:""; display:inline-block; border-bottom:16px solid; border-right:10px solid transparent; position: absolute; right: -10px; bottom:0px;}
.articlelist>ul>.item .biaoshibox .sjx{ display:inline-block; border-top:8px solid; border-left:8px solid transparent; position: absolute; left: 0px; bottom:-8px; }
.articlelist .contbox .piclist { margin-top:10px; position:relative;}
.articlelist>ul>.item .piclist .biaoshibox { top:10px;}
.articlelist .contbox .piclist .picimg{ width:210px; height:138px; float:left; margin-left:30px; background-position:center center; background-size: cover;}
.articlelist.tukupiclist .contbox .piclist .picimg{ height:210px;}
.articlelist .contbox .piclist .picimg.first{ margin-left:0px;}
.articlelist .contbox .piclist .picimg img{ display:block; margin:0px auto; max-width:100%;}
.articlelist .contbox .other{ padding-top:12px; position:relative; height:2.1em; overflow:hidden; padding-right:100px;}
.articlelist .contbox .other .isyuan{display:inline-block;padding:1px 20px; line-height:1.5em; border-radius:1px;margin-right:3px;}
.articlelist .contbox .other a.biaoqian{ display:inline-block; border-width:1px; border-style:solid;padding:0 20px; line-height:1.5em;}
.articlelist .contbox .other a.biaoqian:hover{ color:#f60}
.articlelist .contbox .other a.zoneinfo{display:inline-block;line-height:1.5em; height:1.5em;}
.articlelist .contbox .other a.zoneinfo img{width: 1.4em;height: 1.4em;border-radius: 50%;vertical-align: middle;margin-right: 10px;}
.articlelist .contbox .other .attention{ position:absolute; right:0; top:12px; min-width:100px; color:#ccc; line-height:1.5em; background:#fff;}
.articlelist>ul>.item.nopic .contbox{ width:100%;}

.articlelist.zhaoshang .contbox .title{ color:#333;}

.articlelist ul{ counter-reset:li;}

.substyle2 .articlelist{ padding:0 20px;}
.substyle2 .articlelist .contbox{ width:290px;}
.tab.substyle2 .articlelist .contbox .title{ height:5em;-webkit-line-clamp: 3; font-size:28px; line-height:1.7em;}
.tab.substyle2 .articlelist .contbox .other { display:none;}

.articlelist>ul>.item .productbox{ display:none;}
.articlelist>ul>.item .probtn{border-top: solid 1px #EEE;margin-top: 30px;padding-top: 20px; color:#fc8142}
.articlelist>ul>.item .probtn:after{ content:"热销产品∨";}
.articlelist>ul>.item.active .productbox{ display:block;}
.articlelist>ul>.item.active .probtn:after{ content:"收起产品∧";}

.articlelist>ul>.item .productbox .productcol{padding: 10px 0 0 0;}

.articlelist>ul>.item.hasbg:hover{background-color: #f7f7f7;margin: 0 -30px;border: solid 2px #fc8142;padding:28px 28px 29px 28px;}



.articlelist .item .brandlist{ display:inline-block; margin-top:20px;}
.articlelist .item .zsbrandlist{ display:flex;align-items: center;}
.articlelist .item .zsbrandlist>span{ display:inline-block; vertical-align:middle; width:90px;}
.articlelist .item .zsbrandlist .icon-gonggao { margin-left:10px;}
.articlelist .item .zsbrandlist .zslist{height: 2em; overflow: hidden;}
.articlelist .item .zsbrandlist .zslist a{ display:inline-block; margin:0px 10px;vertical-align:middle;    overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;-o-text-overflow: ellipsis; max-width:480px;}
.articlelist .item .zsbrandlist img { max-height: 1.5em;  display: inline-block; vertical-align:middle; }
.articlelist .item.bdads{ padding:78px 0;}
.articlelist .item.bdads .ad{ width:366px; transform:scale(2); position:relative; left:23.5%; top:0;}