/*/public/css/mobile/v2019/color.css*/
/*公共颜色*/
.fff{ color:#fff;}
a.fff:hover,a.fff.active{ color:#fe741c;}
.c000{ color:#000;}/*主要文字*/
a.c000:hover,a.c000.active{ color:#fe741c;}
.c333{ color:#333;}/*主要文字*/
a.c333:hover,a.c333.active{ color:#fe741c;}
.c666{ color:#666;}/*次要文字*/
a.c666:hover,a.c666.active{ color:#fe741c;}
.c999{ color:#999;}/*次要文字*/
a.c999:hover,a.c999.active{ color:#fe741c;}
.ccc{ color:#ccc;}/*辅助文字*/
a.ccc:hover,a.ccc.active{ color:#fe741c;}
.eee{ color:#eee;}/*边框*/
a.eee:hover,a.eee.active{ color:#fe741c;}

.bgccc{ background:#ccc}
.bgeee{ background:#eee}
.bgfff{ background:#fff}
.bgorange{background:#fe741c;}
.bgf5f5{ background:#f5f5f5;}

.red{ color:#CA0606}
.orange{ color:#fe741c}
.cfe741c{ color:#fe741c;}/*序号1*/
a.cfe741c:hover,a.cfe741c.active{ color:#f60;}
.cfdb80c{ color:#fdb80c;}/*序号2*/
a.cfdb80c:hover,a.cfdb80c.active{ color:#fe741c;}
.cffdc00{ color:#ffdc00;}/*序号3*/
a.cffdc00:hover,a.cffdc00.active{ color:#fe741c;}
.cf12828{ color:#f12828;}/*强调*/
a.cf12828:hover,a.cf12828.active{ color:#fe741c;}

.cffff00,.cffff00 a{ color:#ffff00;}/*头部导航*/
a.cffff00:hover,a.cffff00.active,.cffff00 a:hover{ color:#fe741c;}

/*皮肤颜色1*/
.color1,.color1 a{ color:#555ba6}/*主色*/
.color1 a:hover,a.color1:hover,a.color1.active{ color:#fe741c;}
.color2,.color2 a{ color:#44476c}/*文章标题*/
.color2 a:hover,a.color2:hover,a.color2.active{ color:#fe741c;}
.color3,.color3 a{ color:#28166f}/*标题辅色*/
.color3 a:hover,a.color3:hover,a.color3.active{ color:#fe741c;}
.color4,.color4 a{ color:#8d99b8}/*文字辅色*/
.color4 a:hover,a.color4:hover,a.color4.active{ color:#fe741c;}
.color5,.color5 a{ color:#8d99b8; border-color:rgba(141, 153, 184, 0.3);}/*文章模版标签颜色*/
.color5 a:hover,a.color5:hover,a.color5.active{ color:#fe741c;}
.bg1{ background:#555ba6}/*主色背景*/
.bg2{ background:#e6e7f2}/*辅色背景*/
.bg3{ background:#28166f}/*辅色背景－深色*/
.bd1{ border-color:#555ba6}/*主色边框*/
.bd2{ border-color:#e6e7f2}/*辅色边框*/

.li_1.num1{background:rgba(85,91,166,0.2);}
.li_1.num2{background:rgba(85,91,166,0.15);}
.li_1.num3{background:rgba(85,91,166,0.1);}
.li_1.num1 i { background:#555ba6;}
.li_1.num2 i { background:rgba(85,91,166,0.7);}
.li_1.num3 i { background:rgba(85,91,166,0.4);}

/*皮肤颜色2*/
.blockstyle2 .color1,.blockstyle2 .color1 a{ color:#be0f1b}/*主色*/
.blockstyle2 .color1 a:hover,.blockstyle2 a.color1:hover,.blockstyle2 a.color1.active{ color:#fe741c;}
.blockstyle2 .color2,.blockstyle2 .color2 a{ color:#333333}/*文章标题*/
.blockstyle2 .color2 a:hover,.blockstyle2 a.color2:hover,.blockstyle2 a.color2.active{ color:#fe741c;}
.blockstyle2 .color3,.blockstyle2 .color3 a{ color:#a91324}/*标题辅色*/
.blockstyle2 .color3 a:hover,.blockstyle2 a.color3:hover,.blockstyle2 a.color3.active{ color:#fe741c;}
.blockstyle2 .color4,.blockstyle2 .color4 a{ color:#de878d}/*文字辅色*/
.blockstyle2 .color4 a:hover,.blockstyle2 a.color4:hover,.blockstyle2 a.color4.active{ color:#fe741c;}
.blockstyle2 .color5,.blockstyle2 .color5 a{ color:#de878d; border-color:rgba(222, 135, 141, 0.3);}/*文章模版标签颜色*/
.blockstyle2 .color5 a:hover,.blockstyle2 a.color5:hover,.blockstyle2 a.color5.active{ color:#fe741c;}
.blockstyle2 .bg1{ background:#be0f1b}/*主色背景*/
.blockstyle2 .bg2{ background:#f8e7e8}/*辅色背景*/
.blockstyle2 .bg3{ background:#a91324}/*辅色背景－深色*/
.blockstyle2 .bd1{ border-color:#be0f1b}/*主色边框*/
.blockstyle2 .bd2{ border-color:#f8e7e8}/*辅色边框*/
.tab.style1.blockstyle2>.tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#be0f1b;}
.blockstyle2 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .li_1.num1{background:rgba(190,15,27,0.2);}
.blockstyle2 .li_1.num2{background:rgba(190,15,27,0.15);}
.blockstyle2 .li_1.num3{background:rgba(190,15,27,0.1);}
.blockstyle2 .li_1.num1 i { background:#be0f1b;}
.blockstyle2 .li_1.num2 i { background:rgba(190,15,27,0.7);}
.blockstyle2 .li_1.num3 i { background:rgba(190,15,27,0.4);}
/*皮肤颜色3*/
.blockstyle3 .color1,.blockstyle3 .color1 a{ color:#87a5b5}/*主色*/
.blockstyle3 .color1 a:hover,.blockstyle3 a.color1:hover,.blockstyle3 a.color1.active{ color:#fe741c;}
.blockstyle3 .color2,.blockstyle3 .color2 a{ color:#44476c}/*文章标题*/
.blockstyle3 .color2 a:hover,.blockstyle3 a.color2:hover,.blockstyle3 a.color2.active{ color:#fe741c;}
.blockstyle3 .color3,.blockstyle3 .color3 a{ color:#b7c9d3}/*标题辅色*/
.blockstyle3 .color3 a:hover,.blockstyle3 a.color3:hover,.blockstyle3 a.color3.active{ color:#fe741c;}
.blockstyle3 .color4,.blockstyle3 .color4 a{ color:#abc0cb}/*文字辅色*/
.blockstyle3 .color4 a:hover,.blockstyle3 a.color4:hover,.blockstyle3 a.color4.active{ color:#fe741c;}
.blockstyle3 .color5,.blockstyle3 .color5 a{ color:#97b5c5; border-color:rgba(151, 181, 197, 0.3);}/*文章模版标签颜色*/
.blockstyle3 .color5 a:hover,.blockstyle3 a.color5:hover,.blockstyle3 a.color5.active{ color:#fe741c;}
.blockstyle3 .bg1{ background:#87a5b5}/*主色背景*/
.blockstyle3 .bg2{ background:#edf2f4}/*辅色背景*/
.blockstyle3 .bg3{ background:#b7c9d3}/*辅色背景－深色*/
.blockstyle3 .bd1{ border-color:#87a5b5}/*主色背景*/
.blockstyle3 .bd2{ border-color:#edf2f4}/*辅色背景*/
.tab.style1.blockstyle3>.tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#87a5b5;}
.blockstyle3 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .li_1.num1{background:rgba(135,165,181,0.2);}
.blockstyle3 .li_1.num2{background:rgba(135,165,181,0.15);}
.blockstyle3 .li_1.num3{background:rgba(135,165,181,0.1);}
.blockstyle3 .li_1.num1 i { background:#87a5b5;}
.blockstyle3 .li_1.num2 i { background:rgba(135,165,181,0.7);}
.blockstyle3 .li_1.num3 i { background:rgba(135,165,181,0.4);}


/*/public/css/mobile/v2019/weui.min.css*/
.weui_dialog{position:fixed;z-index:2147483647;width:85%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fafafc;text-align:center;border-radius:30px; overflow:hidden;}.weui_dialog_confirm .weui_dialog .weui_dialog_hd{padding:1em 40px}.weui_dialog_confirm .weui_dialog .weui_dialog_bd{text-align:left;}.weui_dialog_hd{padding:1.2em 0 1em}.weui_dialog_title{font-weight:400;font-size:34px}.weui_dialog_bd{padding:0 30px;color:#666; line-height:1.8em; text-align:left;}.weui_dialog_ft{position:relative;line-height:84px;margin-top:40px;font-size:34px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.weui_dialog_ft a{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.weui_dialog_ft a:active{background-color:#eee}.weui_dialog_ft:after{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_dialog_confirm .weui_dialog_ft a{position:relative}.weui_dialog_confirm .weui_dialog_ft a:after{content:" ";position:absolute;left:0;top:0;width:1px;height:100%;border-left:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(.5);transform:scaleX(.5)}.weui_dialog_confirm .weui_dialog_ft a:first-child:after{display:none}.weui_btn_dialog.default{color:#353535}.weui_btn_dialog.primary{color:#383f90}@media screen and (min-width:1024px){.weui_dialog{width:35%}}.weui_toast{position:fixed;z-index:2147483647;width:7.6em;min-height:7.6em;top:180px;left:50%;margin-left:-3.8em;background:rgba(40,40,40,.75);text-align:center;border-radius:5px;color:#fff}.weui_icon_toast{margin:10px 0 0;display:block;font-size:55px}.weui_toast_content{margin:0 0 15px}.weui_loading_toast .weui_toast_content{margin-top:64%;font-size:28px}.weui_loading{position:absolute;width:0;z-index:2147483647;left:50%;top:38%}.weui_loading_leaf{position:absolute;top:-1px;opacity:.25}.weui_loading_leaf:before{content:" ";position:absolute;width:16.28px;height:6.16px;background:#d1d1d5;box-shadow:rgba(0,0,0,.0980392) 0 0 1px;border-radius:1px;-webkit-transform-origin:left 50% 0;transform-origin:left 50% 0}.weui_loading_leaf_0{-webkit-animation:a 1.25s linear infinite;animation:a 1.25s linear infinite}.weui_loading_leaf_0:before{-webkit-transform:rotate(0deg) translate(15.84px);transform:rotate(0deg) translate(15.84px)}.weui_loading_leaf_1{-webkit-animation:b 1.25s linear infinite;animation:b 1.25s linear infinite}.weui_loading_leaf_1:before{-webkit-transform:rotate(30deg) translate(15.84px);transform:rotate(30deg) translate(15.84px)}.weui_loading_leaf_2{-webkit-animation:c 1.25s linear infinite;animation:c 1.25s linear infinite}.weui_loading_leaf_2:before{-webkit-transform:rotate(60deg) translate(15.84px);transform:rotate(60deg) translate(15.84px)}.weui_loading_leaf_3{-webkit-animation:d 1.25s linear infinite;animation:d 1.25s linear infinite}.weui_loading_leaf_3:before{-webkit-transform:rotate(90deg) translate(15.84px);transform:rotate(90deg) translate(15.84px)}.weui_loading_leaf_4{-webkit-animation:e 1.25s linear infinite;animation:e 1.25s linear infinite}.weui_loading_leaf_4:before{-webkit-transform:rotate(120deg) translate(15.84px);transform:rotate(120deg) translate(15.84px)}.weui_loading_leaf_5{-webkit-animation:f 1.25s linear infinite;animation:f 1.25s linear infinite}.weui_loading_leaf_5:before{-webkit-transform:rotate(150deg) translate(15.84px);transform:rotate(150deg) translate(15.84px)}.weui_loading_leaf_6{-webkit-animation:g 1.25s linear infinite;animation:g 1.25s linear infinite}.weui_loading_leaf_6:before{-webkit-transform:rotate(180deg) translate(15.84px);transform:rotate(180deg) translate(15.84px)}.weui_loading_leaf_7{-webkit-animation:h 1.25s linear infinite;animation:h 1.25s linear infinite}.weui_loading_leaf_7:before{-webkit-transform:rotate(210deg) translate(15.84px);transform:rotate(210deg) translate(15.84px)}.weui_loading_leaf_8{-webkit-animation:i 1.25s linear infinite;animation:i 1.25s linear infinite}.weui_loading_leaf_8:before{-webkit-transform:rotate(240deg) translate(15.84px);transform:rotate(240deg) translate(15.84px)}.weui_loading_leaf_9{-webkit-animation:j 1.25s linear infinite;animation:j 1.25s linear infinite}.weui_loading_leaf_9:before{-webkit-transform:rotate(270deg) translate(15.84px);transform:rotate(270deg) translate(15.84px)}.weui_loading_leaf_10{-webkit-animation:k 1.25s linear infinite;animation:k 1.25s linear infinite}.weui_loading_leaf_10:before{-webkit-transform:rotate(300deg) translate(15.84px);transform:rotate(300deg) translate(15.84px)}.weui_loading_leaf_11{-webkit-animation:l 1.25s linear infinite;animation:l 1.25s linear infinite}.weui_loading_leaf_11:before{-webkit-transform:rotate(330deg) translate(15.84px);transform:rotate(330deg) translate(15.84px)}
@-webkit-keyframes a{0%,0.01%{opacity:.25}0.02%{opacity:1}60.01%,to{opacity:.25}}@-webkit-keyframes b{0%,8.34333%{opacity:.25}8.35333%{opacity:1}68.3433%,to{opacity:.25}}@-webkit-keyframes c{0%,16.6767%{opacity:.25}16.6867%{opacity:1}76.6767%,to{opacity:.25}}@-webkit-keyframes d{0%,25.01%{opacity:.25}25.02%{opacity:1}85.01%,to{opacity:.25}}@-webkit-keyframes e{0%,33.3433%{opacity:.25}33.3533%{opacity:1}93.3433%,to{opacity:.25}}@-webkit-keyframes f{0%{opacity:.270958333333333}41.6767%{opacity:.25}41.6867%{opacity:1}1.67667%{opacity:.25}to{opacity:.270958333333333}}@-webkit-keyframes g{0%{opacity:.375125}50.01%{opacity:.25}50.02%{opacity:1}10.01%{opacity:.25}to{opacity:.375125}}@-webkit-keyframes h{0%{opacity:.479291666666667}58.3433%{opacity:.25}58.3533%{opacity:1}18.3433%{opacity:.25}to{opacity:.479291666666667}}@-webkit-keyframes i{0%{opacity:.583458333333333}66.6767%{opacity:.25}66.6867%{opacity:1}26.6767%{opacity:.25}to{opacity:.583458333333333}}@-webkit-keyframes j{0%{opacity:.687625}75.01%{opacity:.25}75.02%{opacity:1}35.01%{opacity:.25}to{opacity:.687625}}@-webkit-keyframes k{0%{opacity:.791791666666667}83.3433%{opacity:.25}83.3533%{opacity:1}43.3433%{opacity:.25}to{opacity:.791791666666667}}@-webkit-keyframes l{0%{opacity:.895958333333333}91.6767%{opacity:.25}91.6867%{opacity:1}51.6767%{opacity:.25}to{opacity:.895958333333333}}.weui_mask{background:rgba(0,0,0,.3)}.weui_mask,.weui_mask_transition,.weui_mask_transparent{position:fixed;z-index:2147483647;width:100%;height:100%;top:0;left:0}.weui_mask_transition{display:none;background:transparent;-webkit-transition:background .3s;transition:background .3s}.weui_fade_toggle{background:rgba(0,0,0,.6)}.weui_actionsheet{position:fixed;left:0;bottom:0;z-index:2147483647;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;width:100%;background-color:#efeff4;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s;opacity:0}.weui_actionsheet_menu{background-color:#fff}.weui_actionsheet_action{margin-top:12px;background-color:#fff}.weui_actionsheet_cell{position:relative;padding:20px 0;text-align:center;font-size:36px}.weui_actionsheet_cell:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d9d9d9;color:#d9d9d9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_actionsheet_cell:active{background-color:#ececec}.weui_actionsheet_cell:first-child:before{display:none}.weui_actionsheet_toggle{-webkit-transform:translate(0);transform:translate(0);opacity:1}.textToast{width:90%; padding:0.5em;max-height:4.6em;line-height:1.8em;text-align:center;color:#fff!important;border-radius:10px;background-color:rgba(80,80,80,0.8);position:fixed;left:50%;top:80%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:none; z-index:2147483647}.textToastShow{display:block;-webkit-animation:textToastShow 1.5s .2s ease-in-out;animation:textToastShow 1.5s .2s ease-in-out}@-webkit-keyframes textToastShow{30%{opacity:1}100%{opacity:0}}@keyframes textToastShow{30%{opacity:1}100%{opacity:0}}

/*/public/css/mobile/v2019/zhaoshang/show.css*/
.articleshow.zhaoshang{ border:none; background:none;margin: 0;}
.articleshow.zhaoshang .zsshow{padding: 0px 30px;}
.articleshow.zhaoshang .zsbinfo .img {float: left;margin:5px 20px 0 0;width: 340px; border:solid 1px #EEE;}
.articleshow.zhaoshang .zsbinfo .img img{ width:100%;}
.articleshow.zhaoshang .zsbinfo.minpic .desc {display: inline;}
.articleshow.zhaoshang .zsbinfo .desc p {text-indent: 2em;padding: 0.25em 0;}
.articleshow.zhaoshang .zsbinfo .desc p:nth-child(n+5){ display:none;}
.articleshow.zhaoshang .zsbinfo.hov{ max-height:21.6em; overflow:hidden;}

.articleshow.zhaoshang .zstitle .ettl{ display:none;}
.articleshow.zhaoshang .zsphone{ text-align:center; font-size:32px; font-weight:bold; line-height:2.2em;}
.articleshow.zhaoshang .zssetbox .lcimg{ display:block; max-width:100%; margin:0 auto;}

/*show1*/
.articleshow.show1{ background:url(../images/fbd94-4127.jpg) repeat-y; color:#875B36;}
.articleshow.show1 .zstitle{ text-align:center; overflow:hidden;padding: 50px 0 25px;}
.articleshow.show1 .zstitle .cttl{ color:#3B2112; font-size:36px; font-weight:bold; display:inline-block; position:relative;line-height: 2em;}
.articleshow.show1 .zstitle .cttl:before{ content:""; background:url(../images/a4013-6061.png)  no-repeat; width:401px; height:19px; position:absolute; right:100%; top:50%; margin-top:-10px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);margin-right: 20px;}
.articleshow.show1 .zstitle .cttl:after{ content:""; background:url(../images/a4013-6061.png)  no-repeat; width:401px; height:19px; position:absolute; left:100%; top:50%; margin-top:-10px;margin-left: 20px;}
.articleshow.show1 .zsbinfo .img{ border:solid 5px #EDD8A3;}
.articleshow.show1 .zsphone{ color:#FFF2D6; background-color:#ceb480; margin-top:50px;} 
.articleshow.show1 .zsshow .addmore{ text-align:center; line-height:2.8em;margin-top: 20px;background:rgba(237,237,237,.8);
background: -webkit-linear-gradient(right, rgba(237,216,163,.1), rgba(237,216,163,.9), rgba(237,216,163,.1));
background: -o-linear-gradient(right, rgba(237,216,163,.1), rgba(237,216,163,.9), rgba(237,216,163,.1));
background: -moz-linear-gradient(right, rgba(237,216,163,.1), rgba(237,216,163,.9), rgba(237,216,163,.1));
background: linear-gradient(right, rgba(237,216,163,.1), rgba(237,216,163,.9), rgba(237,216,163,.1));}
.articleshow.show1 .zsshow .addmore a{ display:block;color:#875B36;}

/*show2*/
.articleshow.show2 .zstitle{border-bottom:solid 1px #dcdcdc; margin:30px 0;}
.articleshow.show2 .zstitle .cttl{ color:#333; font-size:36px; font-weight:bold; display:inline-block; line-height:60px; border-bottom:2px solid red; margin-bottom:-1px}
.articleshow.show2 .zstitle .ettl{ font-size:32px; color:#C5C5C5; display:inline-block;line-height: 48px; margin-left:10px;letter-spacing: -1px;}
.articleshow.show2 .zstitle .ettl:before{ content:"/"; font-size:40px;display: inline-block;vertical-align: bottom;}
.articleshow.show2 .zsphone{ color:#faf7e7; background-color:#cb947e; margin-top:50px;} 
.articleshow.show2 .zsshow .addmore{ text-align:center; line-height:2em; border:solid 1px #dcdcdc;}
.articleshow.show2 .zsshow .addmore a{ display:block;color:#999;}

/*show3*/
.articleshow.show3{ background:url(../images/67af7-8974.png) repeat; color:#333333;}
.articleshow.show3 .zstitle{margin:30px -30px;}
.articleshow.show3 .zstitle .cttl{ color:#FFF; font-size:36px; font-weight:bold; display:inline-block;line-height:1.8em;width: 420px;padding-left: 10px;background:rgba(190,139,118,.8);
background: -webkit-linear-gradient(left, #BE8B76, transparent);
background: -o-linear-gradient(left, #BE8B76, transparent);
background: -moz-linear-gradient(left, #BE8B76, transparent);
background: linear-gradient(left, #BE8B76, transparent);}
.articleshow.show3 .zsphone{ color:#FAF7E7; background-color:#cb947e; margin-top:50px;} 
.articleshow.show3 .zsshow .addmore{ text-align:center; line-height:2em; border:solid 1px #dcdcdc;}
.articleshow.show3 .zsshow .addmore a{ display:block;color:#999;}


.articleshow.zsartinfo .articlecont{ font-size:32px;}
.articleshow.zsartinfo.haspd .specialcont{padding:20px 30px;}
.articleshow.zsartinfo p {text-indent: 2em;}
.articleshow.zsartinfo .description{background-color: #fffdf3;}
.articleshow.zsartinfo .articlecont img{ display:block; margin:0 auto; max-width:100%;}
.articleshow.zsartinfo  .bzs { text-align:center; margin-top:10px;}
.articleshow.zsartinfo  .bzs a { border:2px solid #be0f1b; color:#be0f1b;padding: 10px;}


/*/public/css/mobile/v2019/block/merchants/headinfo.css*/
.zsheadinfo .tophead {background: url(../images/ed89a-1284.jpg) repeat;position: relative; margin: 0px;}
.zsheadinfo .tophead .bgimg {width: 100%;display: block;}

.zsheadinfo .tophead .infobox{ padding:20px 40px; background:url(../images/dc350-9510.png) repeat-y; background-size:100% auto;}
.zsheadinfo .tophead .infobox:before{ content:""; display:block;width:64px; height:125px;background:url(../images/36211-7463.png) no-repeat; position:absolute; left:15px; bottom:18px; -webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}
.zsheadinfo .tophead .infobox:after{ content:"";  display:block;width:64px; height:125px;background:url(../images/36211-7463.png) no-repeat; position:absolute; right:15px; bottom:18px; -webkit-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-o-transform:rotateX(180deg);-ms-transform:rotateX(180deg);}
.zsheadinfo .tophead:before{ content:""; display:block;width:64px; height:125px;background:url(../images/36211-7463.png) no-repeat; position:absolute; left:15px; top:18px; -webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);-ms-transform:rotateY(180deg);}
.zsheadinfo .tophead:after{ content:"";display:block;width:64px; height:125px;background:url(../images/36211-7463.png) no-repeat; position:absolute; right:15px; top:18px; }

.zsheadinfo .lhead .bname{color:#111111;font-weight: bold;line-height: 1.8em; display:block;}
.zsheadinfo .lhead li{ color:#999; width:100%;}
.zsheadinfo .lhead li em{ color:#333;}
.zsheadinfo .lhead li em.funds{ color:#f12828;}
.zsheadinfo .lhead .sqjm{ text-align:center; margin-top:10px;}
.zsheadinfo .lhead .sqjm a{ display:inline-block; border-radius:4px; background-color:#f12828; color:#fff; text-align:center; line-height:2.4em; padding:0 60px;}
.zsheadinfo .rhead{margin-top: 10px;text-align: justify;}
.zsheadinfo .rhead p{ text-indent:0 !important; line-height:1.8em;}
.zsheadinfo .rhead.up p:nth-child(n+2),.zsheadinfo .rhead.up>a{ display:none;}
.zsheadinfo .rhead p.btn a{ display:inline-block; margin-right:8px;}

/*/public/css/mobile/v2019/block/publicblock/articleshow.css*/
a{ color:#555ba6}
a:hover{ color:#fe741c;}
.articleshow .articlehead{ padding:20px 30px 0 30px;}
.articleshow h1{ padding:30px 0 20px 0;}
.articleshow .qzoneinfo{ line-height:1.8em; position:relative; padding-right:140px;}
.articleshow .qzoneinfo img{ width:50px; height:50px; max-height:1.8em; border-radius:50%; display:inline-block; vertical-align:middle;margin-right: 15px;}
.articleshow .qzoneinfo .attention{position: absolute;right: 0;top: 0;line-height: 1.8em;}
.articleshow .articlehead .btn{margin: 20px 0;}
.articleshow .articlehead .btn a{ display:inline-block;margin-right: 20px}
.articleshow .articlehead .brandlist{margin-top: 20px;line-height: 1.5em;color: #666;}
.articleshow .articlehead .brandlist a{ margin-right:10px;}
.articleshow .description{ margin:0 30px 20px 30px; background-color:#F9F9F9; padding:20px; color:#666; line-height:1.8em;}

.articleshow .articlecont{line-height: 2em; padding:0 30px;}
.articleshow.nopadding .articlecont{ padding:0;}
.articleshow .articlecont > p {margin: 1em 0;}
.articleshow .articlecont p {line-height: 2em;text-indent: 0;word-break: break-all;}
.articleshow .articlecont .tips{ padding:10px 15px; background:#f9f9f9; color:#666; font-size:24px;}
.articleshow .articlecont p img,.articleshow .articlecont .normalarticle img{ display:block; max-width:100%; margin:0 auto;height:auto;}
.articleshow .qzoneinfo .alevel{margin-left:10px; line-height:40px; display: inline-block; vertical-align: middle;margin-top: -2px;}

.articleshow .interestlist{ padding:30px;}
.articleshow .interestlist a{display: inline-block;border-style: solid;border-width: 1px;padding: 0 10px;line-height: 1.5em;margin-top: 10px;}
.articleshow .interestlist .alevel{ float:right;}
.articleshow.nopadding .interestlist{ padding:30px 20px;}

.articleshow .xglinks{ margin-top:30px;padding:0 30px;}
/*.articleshow.nopadding .xglinks{ padding:0 30px;}*/
.articleshow .xglinks .lttl{border-left:solid 5px #FE741C; height:1.2em; line-height:1.2em;margin-left: -30px;padding-left: 25px;}
.articleshow .xglinks .links{}
.articleshow .xglinks .links li{line-height: 3.6em;border-top: solid 1px #ddd;}
.articleshow .xglinks .links li:first-child{ border-top:none;}
.articleshow .xglinks .links em{color: #FFF;display: inline-block;height: 1.4em; width: 1.4em;line-height: 1.4em;text-align: center;border-radius: 5px;margin-right: 10px;}

#articlecont{ position:relative; overflow:hidden;}

.blockstyle1 .normalarticle a{color:#555ba6}
.blockstyle1 .normalarticle a:hover{color:#fe741c;}

.blockstyle2 .normalarticle a{color:#be0f1b}
.blockstyle2 .normalarticle a:hover{color:#fe741c;}

.blockstyle3 .normalarticle a{color:#87a5b5}
.blockstyle3 .normalarticle a:hover{color:#fe741c;}

.showauthor {display:block;position: relative;margin: auto;font-weight: normal;width: 100%;}
.showauthor img{ display:block;max-width: 100%;margin: 0px auto;}
.showauthor em {line-height: 2em;padding: 5px 2%;color: #fff;background: rgba(0,0,0,.4);text-indent: 0;text-align: center;display: block;z-index: 6;width: 100%;font-size: 20px;opacity: 0.4;}
.showauthor:hover em{ opacity:1;}
.showauthor em a {color: #fff;padding: 0 2px;font-size: 20px;}
.showauthor span.atr{ position:absolute; right:0; top:0; background: rgba(0,0,0,.5); line-height:1.8em; padding:0 15px;color: #FFF;}

.articletemplate1{ counter-reset:li;}
.articletemplate1 .articlemulu{  width:96px;  height:96px; background: rgba(0,0,0,.5); border-radius:12px;text-align: center; color: #fff;   position: fixed; right:0px; z-index:1; top:50%; margin-top:-48px;}
.articletemplate1 .articlemulu i{  line-height: 96px;}

.articletemplate1 h5{ margin: 0;padding: 0;}
.articletemplate1 h2{line-height:1.8em; margin-top:0.5em; font-weight:bold; border-bottom:1px solid #cccccc;color: #555ba6;}
.articletemplate1.mixttl h2:before{counter-increment:li; content:counter(li,cjk-ideographic);color:#FFF; display:inline-block; margin-right:10px;vertical-align:middle; height:60px;width:60px;line-height:54px;text-align:center; background:url(../images/982ef-2580.png) no-repeat;}
.articletemplate1 h2:before{counter-increment:li; content:counter(li,cjk-ideographic)"、";}
.articletemplate1 h3{font-weight:bold; color:#333;line-height: 2em;}
.articletemplate1 h3:before{content:""; display:inline-block;vertical-align: middle; width:0.4em; height:0.4em; background:#333;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}
.articletemplate1 h4 {color: #1c226d;font-size:32px;padding-top: 10px;margin: 0;}
.articletemplate1 p{color:#666;}
.articletemplate1 .showmulu{ position: fixed;  z-index: 1000; left: 100%; top: 0;width: 100%;height: 100%; background: rgba(50,50,50,.3); line-height: 2em;}
.articletemplate1 .showmulu.show{ left:0;}
.articletemplate1 .showmulu.show .menu{left: 0%;overflow-x: hidden;overflow-y: scroll;}
.articletemplate1 .showmulu .menu{ background: #fff; position: relative; left: 65%; width: 65%;height: 100%;float: right;box-shadow: -5px 0 5px rgba(50,50,50,.3);transition: left ease-in-out 300ms; position:relative;}
.articletemplate1 .showmulu  .close{ z-index: 1; position: absolute; right: 10px;top: 5px;line-height: 1.5em;}
.articletemplate1 .showmulu .topmenu{ height:90px; position:relative;padding: 0 10px; border-bottom:1px solid #ccc;}
.articletemplate1 .showmulu .top{position: absolute; height: 60px; top: 50%; display: flex; margin-top: -30px; align-items: center;}
.articletemplate1 .showmulu .caidan{ position:relative; z-index:1;  overflow:scroll; height:100%; padding: 0 10px;}
.articletemplate1 .showmulu .caidan::-webkit-scrollbar{/*滚动条整体样式*/  width:10px; height:20px;/*高宽分别对应横竖滚动条的尺寸*/ }
.articletemplate1 .showmulu .caidan::-webkit-scrollbar-thumb{background:#aeb1d4;}
.articletemplate1 .showmulu .topmenu .tubiao{font-size: 44px;}
.articletemplate1 .showmulu .topmenu .mu{ margin-left:10px;}
.articletemplate1 .showmulu .topmenu .mu,.articletemplate1 .showmulu  .mulu .mulu1{ font-size:40px; color:#000;}
.articletemplate1 .showmulu  .mulu .mulu2{font-size:32px; color:#666;}
.articletemplate1 .showmulu  .mulu1{ border-top:1px solid #ccc;line-height:2em; text-indent:0.5em; display:block;overflow: hidden; white-space: nowrap; text-overflow:ellipsis; padding-top:5px; margin-top:10px;}
.articletemplate1 .showmulu  .mulu1:first-child{border-top:0px;}
.articletemplate1 .showmulu  .mulu2{ line-height:2.2em; text-indent:0.6em; list-style:outside; padding:0 10px;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.articletemplate1 .showmulu  .mulu1.active,.articletemplate1 .showmulu  .mulu2.active{ color:#666BA9;}

.haibao{ position:fixed; z-index:1000; top:150x; right:20px;
-webkit-animation:clockwise 1.5s linear infinite;
animation:clockwise 1.5s linear infinite;}
.haibao .close{ width:2em; height:2em; position:absolute; right:0; top:0;}
@keyframes clockwise{
	0%{top:150px;}
	50%{top:160px;}
	100%{top:150px;}
}
@-webkit-keyframes clockwise{
	0%{top:150px;}
	50%{top:160px;}
	100%{top:150px;}
}

.bigimage{ width:100%; height:320px; background:url(../images/fa7d9-6557.png) no-repeat top center #F0A321; position:relative;background-size: auto 320px;}
.bigimage .words{ text-align:center; position: absolute;bottom: 115px;right: 50%;margin-right: -20px;}
.bigimage .words .bname{ font-size:50px; line-height:1.5em;letter-spacing:2px;color: #c7962f;
background-image: -webkit-linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
background-image: -o-linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
background-image: -moz-linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
background-image: linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}
.bigimage .words .catname{ font-size:28px; line-height:1.5em;letter-spacing:4px;color: #c7962f;
background-image: -webkit-linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
background-image: -o-linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
background-image: -moz-linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
background-image: linear-gradient(left, #c7962f, #f9f3c3,#c7962f);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}
.bigimage .words .year{ font-size:24px; line-height:1.4em; border-radius:0.7em; padding:0 30px;color:#F3BE06; display:inline-block; background-color:#D23127;font-family: "楷体";}

.articleshow .specialcont .topbg img{ display:block; max-width:100%;height: auto;}




/*/public/css/mobile/v2019/block/jiameng/jiamengadd.css*/
.jiamengadd{padding:1em 30px;}
.f60{color:#f60;}
.jiamengadd .form{ background:url(../images/1151b-3058.png) repeat-y;border-radius:10px;padding-bottom: 12px;}
.jiamengadd .form .title{line-height:2em;}
.jiamengadd .form .bgfff{padding:20px; margin:0 10px;}

.jiamengadd.bghui .form{ background:#EEE;}
.jiamengadd.bghui .form .title{ color:#333;}
.jiamengadd.bghui .addmoreinput a{background:#EEE;color:#333;}
.jiamengadd.bghui .form .subbtn{ background:#555ba6;}
/*form*/
.jiamengadd .form .form-group{ margin-bottom:23px; position:relative;}
.jiamengadd .form .form-group label{ display:inline-block; width:160px; margin-bottom:5px; text-align:right;}
.jiamengadd .form .form-control{width: 460px; vertical-align:middle; display:inline-block;padding:0px 12px; line-height:90px; height: 90px;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s}
.jiamengadd .form .form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)}
.jiamengadd .form .form-group textarea{width:100%;border-color:#ccc;border-radius: 4px;height:16em;}
.jiamengadd .form .form-group select{height:90px;border-radius: 4px;width:30%; color:#999; background:none;border:1px solid #ccc;margin-right: 2.5%;line-height:90px;}
.jiamengadd .form .form-group input[type="checkbox"]{ zoom:240%;}
.jiamengadd .form .form-group>div{width: 460px;vertical-align:middle; display:inline-block;}
.jiamengadd .form button{width:48%;line-height: 2.4em;border-radius: 5px; border:none;}
.jiamengadd .form .ts{color:#F00; line-height:1.8em;}

.jiamengadd .form .subbtn{background: #ff2369; color:#FFF;background: -webkit-linear-gradient(left, #ff2369, #ff6a3f);background: -o-linear-gradient(left, #ff2369, #ff6a3f);background: -moz-linear-gradient(left, #ff2369, #ff6a3f);background: linear-gradient(left, #ff2369, #ff6a3f);}
.jiamengadd .form .resbtn{ background:#E8E8E8; color:#999; float:right;}

.jiamengadd .form-group.jmtitle{ position:relative;}
.jiamengadd .form-group.jmtitle .form-control{ height:90px;line-height:90px;}
.jiamengadd .form-group.jmtitle .form-control input{ width:380px;line-height: 88px;height:88px;border: none;}
.jiamengadd .form-group.jmtitle .iconfont{ width:90px; height:90px; position:absolute; right:0; top:0;line-height: 90px;text-align: center; color:#999;}
.jiamengadd .form-group.jmtitle .txtlist{width: 100%;position: absolute;right: 0;z-index: 99;background-color: #FFF;padding: 10px 20px;border: solid 1px #EEE;}
.jiamengadd .form-group.jmtitle .txtlist li{}

.jiamengadd .addmoreinput{}
.jiamengadd .addmoreinput a{ color:#FFF; display:inline-block; background:url(../images/7d416-9327.png) no-repeat; width:312px; height:61px; line-height:61px; }
.jiamengadd .addmoreinput a:after{ content:"展开详细信息填写+";}
.jiamengadd.hov .addmoreinput a:after{ content:"收起-";}
.jiamengadd.hov .form .form-group.dn{ display:block;}

.jiamengadd .form-group.xieyi{display: flex;align-items: center;}
.jiamengadd .form-group.xieyi input{ margin:0px;}
.jiamengadd .form .form-group select,.jiamengadd .form .form-group input[type="text"] {appearance:none; -moz-appearance:none;   -webkit-appearance:none;}
.jiamengadd .form .form-group select {background: url(../images/06fdc-9790.png) 110px center no-repeat;}



/*/public/css/mobile/v2019/block/jiameng/col.css*/
.jiamengcol{padding: 0 30px 20px 30px;}
.jiamengcol li{padding: 20px 0; border-bottom:solid 1px #EEE; height:140px;}
.jiamengcol .img{ width:100px; height:100px; border-radius:50%; overflow:hidden;}
.jiamengcol .img img{ width:100%;}
.jiamengcol .info{margin-left: 20px;line-height: 1.8em; text-align:left;width: 570px;}
.jiamengcol .info .name{margin-right: 60px;}

.jiamengcol .scrollbox{ height:420px; overflow:hidden;}



/*/public/css/mobile/v2019/block/publicblock/articlepraise.css*/
.articlepraise{margin-top: 30px;}

.articlepraise .dianzhan{ margin-right:20px; background-color:#FFDC00; color:#1A1A1A}
.articlepraise .xiajiang{ background-color:#EEEEEE; color:#999999}
.articlepraise .dianzhan,.articlepraise .xiajiang{padding:0px 10px; display:inline-block; border:1px solid #ddd; margin-bottom:10px; text-align:center; line-height:2.2em;min-width: 26%;border-radius: 1.1em;}
.articlepraise .dianzhan a{color:#1A1A1A; display:block;}
.articlepraise .xiajiang a{color:#999999; display:block;}
.articlepraise .tubiao{ text-align:center; margin-bottom:15px;}
.articlepraise .tubiao .hui{ color:#999;}
.articlepraise .tubiao .icon-dianzan-xiangxia {color:#999;}
.articlepraise .addnum.c999{ text-align:left;}
.articlepraise i.iconfont{display: inline-block;border-radius: 50%;background: #FFF;padding: 4px;  box-sizing:content-box;margin-right: 10px;}

/*/public/css/mobile/v2019/block/publicblock/mzsm.css*/
#mzsmcontent{display:block; margin:40px 20px 0px 20px; background:#fff; position:relative; padding-bottom:40px;}
.mzsm{border:1px solid #ddd;padding:30px 20px 20px 20px;;position: relative; height:5.2em; overflow:hidden;}
#mzsmcontent .mzsm_title{position: absolute;line-height: 20px; width:320px; background-color: #fff;left: 50%;top: -10px;margin-left: -160px; border-radius: 10px 10px 0 0; z-index: 1; padding: 0px 10px;}
.mzsm .mzsm_box{ margin-bottom:20px;}
.mzsm .mzsm_box a{ margin-right:10px;}
.mzsm .mzsm_box a:last-child{ margin-right:0px;}
.mzsm .mzsm_box:last-child{ margin-bottom:0px;}
#mzsmcontent .moremzsm{ text-align:center; height:0;}
#mzsmcontent .moremzsm img{ width:30px; height:30px; background:#fff; top:-15px; position:relative; z-index:1;}

/*/public/css/mobile/v2019/block/publicblock/articlecomment.css*/
.articlecomment{margin-top:30px;position: relative;}


.articlecomment .commentinputbox{ border: 1px solid #ddd;margin: 0 30px;}
.articlecomment .left{float:left;}
.articlecomment .right{float:right;}
.articlecomment .commentinputbox .commentinput{min-height:150px;padding:10px;}
.articlecomment .commentinputbox .commentinput img{width:22px;height:22px;margin:0 1px;}
.articlecomment .commentinputbox .beforeinput{color:#9f9f9f;position:absolute;margin:-214px 0 0 0; padding:20px;max-width: 93%;line-height: 1.5em;min-height:150px;}
.articlecomment .commentinputbox .forinput{margin:0;display: none;}
.articlecomment .commentinputbox .commenttools{height:40px;background:#eee;}
.articlecomment .commentinputbox .biaoqingbox{margin:0 10px;width:22px;height: 40px;position: relative;}
.articlecomment .commentinputbox .biaoqing{height:40px;width:22px; display: table-cell; vertical-align: middle; text-align: center;margin:0 10px;}
.articlecomment .commentinputbox .biaoqing img{ vertical-align:middle;cursor:pointer}
.articlecomment .commentinputbox .submith{height:64px;line-height:64px; background-color:#F6F6F6;}
.articlecomment .commentinputbox .submitcomment{padding:0 30px;cursor:pointer;}
.articlecomment .commentinputbox .hudong{  float:left; padding:0 20px;}
.articlecomment .commentinputbox .submitcomment .submit{color:#fff;}




/*/public/css/mobile/v2019/block/comment/commentlist.css*/
.commentlist{ margin: 40px 30px 0;}
.commentlist #wangyoucontent{}
.commentlist .lttl{border-left:solid 5px #FE741C; height:1.2em; line-height:1.2em;margin-left: -30px;padding-left: 25px;}

.commentlist .usersay{border-bottom: 1px solid #ddd;margin: 20px 0;padding-bottom:20px; position:relative;}
.commentlist .picbox{width:90px; position:absolute; left:0; top:0;}
.commentlist .commentbox{word-wrap:break-word; padding-left:100px;}
.commentlist .commentbox .commenttxt{word-wrap: break-word; padding: 0 0 5px 0;}
.commentlist .commentbox .commenttxt img{ max-width:100px;}
.commentlist .commenttime{line-height: 2em;}
.commentlist .commenttime .link{cursor:pointer;}
.commentlist .commenttime .link:hover{color:#9a9ed3;}
.commentlist .commenttime .right{float: right;}
.commentlist .userpic img{width:80px;height:80px;border-radius: 50%; border:1px solid #ddd;}
.commentlist .replylist{ margin:5px 10px 0 100px;background: #f9f9f9;}
.commentlist .replylist .commenttxt{word-wrap: break-word; padding: 0 0 10px 0;}
.commentlist .replylist dl{ padding:0 10px; }
.commentlist .replylist dd{padding:10px 5px;border-bottom: 1px solid #ddd; line-height: 1.5em;}
.commentlist .replylist dd:last-child{ border:0;}

/*评论回复样式*/
.mobilereplybox{position: relative;z-index: 0;opacity: 0;visibility: hidden;-webkit-transition: opacity 0.4s, z-index 0.4s;transition: opacity 0.4s, z-index 0.4s;}
.mobilereplybox_show{opacity:1;z-index:10000;visibility: visible;}	
.mobilereplybox .grayLayer{position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: #eee;background: rgba(0, 0, 0, 0.7);z-index: 888;display: block;}
.mobilereplybox_show .content{bottom:0;}
.mobilereplybox .content{width: 100%;display: block;position: fixed;z-index: 889;color: black;-webkit-transition: all 0.4s;transition: all 0.4s;left: 0;background: white;}
.mobilereplybox .content .btnBar{border-bottom: 1px solid #DCDCDC;position: relative;text-align: center; height:2.8em; line-height:2.8em;}
.mobilereplybox .content .fixWidth{width: 90%;margin: 0 auto;position: relative;}
.mobilereplybox .content .btnBar .cancel{left:0;color:#666;cursor: pointer;position: absolute;top: 0;width: 100px;text-align: left;}
.mobilereplybox .content .btnBar .title{padding: 0 15%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}	
.mobilereplybox .content .btnBar .replybtn{cursor: pointer;position: absolute;top: 0;right: 0;color: #1e83d3;width: 100px;text-align: right;}	
.mobilereplybox .content .btnBar .replybtn:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.mobilereplybox .content .replaybox {width: 90%;margin: 0 auto;position: relative;min-height:350px;}
.mobilereplybox .content .replaybox .original{color:#808080;margin-top: 5px;padding:5px;background:#efefef;line-height:1.8em;max-height:110px;word-wrap:break-word; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.mobilereplybox .content .replaybox .original .name{color:#0000FF;}
.mobilereplybox .content .replaybox .textarea{width: 100%;margin: 10px 0 0 0;max-width: none;padding: 5px;height: 180px;border: 1px solid #969696;}


/*/public/css/mobile/v2019/block/brand/col1.css*/
.brandcol1{ padding:0 30px;}
.brandcol1 .blocktitle{ margin-bottom:-30px;}
.brandcol1 li{padding: 20px 0;}
.brandcol1 li .img {display: table-cell;vertical-align: middle;}
.brandcol1 li .img a{ display:block;border: solid 1px #CCC;}
.brandcol1 li .img .imgbox {overflow: hidden;line-height: 0px;width:207px;height:90px;}
.brandcol1 li .img .imgbox img {width: 100%;display: block;}
.brandcol1 li .img em {width: 207px;display: block;line-height: 1.8em;background-color: #eee;text-align: center;padding: 0px 10px;box-sizing: border-box;}
.brandcol1 li .info {display: table-cell;vertical-align: middle; line-height: 1.8em;padding: 0 20px 0 0;}
.brandcol1 li .info .h3em {max-height: 5.4em;overflow: hidden;padding-left: 20px;width: 470px;}


/*/public/css/mobile/v2019/block/zhaoshang/zhaoshanglist.css*/
.zhaoshanglist{ padding:0 30px; counter-reset:li;}
.zhaoshanglist .item{ padding:30px 0px; border-bottom:1px solid #ddd;}
.zhaoshanglist .item .img{width: 300px; height: 185px;}
.zhaoshanglist .item .img img{ display:block;}
.zhaoshanglist .item .cont.lineem{ line-height: 46px;}
.zhaoshanglist .item .cont .desc{ margin-left:20px; width:370px; text-align:left;}
.zhaoshanglist .item .cont .name{ display:inline-block;vertical-align: middle; max-width:275px;}
.zhaoshanglist .item .cont .name.haspart{max-width:180px;}
.zhaoshanglist .item .cont .partnership{display:inline-block; vertical-align:middle;color:#fbe01b;padding-left: 35px; padding-right:8px;line-height: 30px; margin-left:15px; font-size:18px;background-color:#333;position: relative;border-radius:4px;}
.zhaoshanglist .item .cont .partnership:before{ content:""; width:32px; height:40px; background:url(../images/1d973-6318.png) no-repeat;position: absolute;left: -5px;top: -5px;}

.zhaoshanglist .item.nopic .cont{ width:100%;}
.zhaoshanglist .item .other{}
.zhaoshanglist .item .other span{padding:0px 15px; display:inline-block; border-radius:5px; color:#fe741c; background:#fff1e8;}
.zhaoshanglist .item .yusu .red{ color:#f12828;}

.zhaoshanglist .item .brandname img{ max-height:1.5em; display:inline-block;margin-left: 5px; vertical-align:text-bottom;}
.zhaoshanglist .item .btn a{ display:inline-block; line-height:1.5em; padding:2px 20px; border-radius:4px;}
.zhaoshanglist .item .btn a:hover{ color:#FFF;}

.zhaoshanglist .item .bgimg{ display:block; width:300px; height:185px; overflow:hidden; position:relative;}
.zhaoshanglist .item .bgimg img{ width:300px;position: absolute;left: 0;top: 0;z-index: 1;}
.zhaoshanglist .item .bgimg>div{width: 300px;height: 185px;display: table-cell;vertical-align: middle;z-index: 5;position: relative;text-align: center;padding:20px;}