
.md_dycategory{width:100%; overflow:hidden;}
.md_dycategory .md_dy_catword{ float:right;}
.md_dycategory .md_dy_catword span{ float:right; padding:0px 6px;}
.md_dycategory .md_dy_catword span a{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block; max-width:120px;}

.md_xgcategorybrand10{margin-top: -20px;}
.md_xgcategorybrand10 .catbox{margin-top: 20px; width:49.5%; float:left;}
.md_xgcategorybrand10 .catbox:nth-child(2n){ float:right;}
.md_xgcategorybrand10 .catbox .mod_title{line-height:2em;}

.md_xgcategoryquan{}
.md_xgcategoryquan > a{display:block; width:25%; float:left;}
.md_xgcategoryquan > a .catbox{position: relative;margin: 12px;}
.md_xgcategoryquan .circle{ width:100%; height:100%; position:absolute; left:0px; top:0px;}
.md_xgcategoryquan .circle .md_table{ width:100%; height:100%;}
.md_xgcategoryquan .circle em{color:#ff8728;width: 80%;margin: 0px auto;}


.cols1{ margin:0px auto;box-sizing:border-box;max-width:1680px;background:white; height:760px; border-radius:20px;}
body.bg .productxgcatlist{border-top:none;}/*有背景时四周留空*/   
 .productxgcatlist li{ width:33.333%;float:left; border-bottom:solid 1px #EEE; border-right:solid 1px #EEE;box-sizing: border-box; position:relative;padding: 20px 0px 20px 0px; }
 .cols1 .productxgcatlist li:nth-child(3n){ border-right:0;} 
 .productxgcatlist li .categorytext{ display:none;}
 .productxgcatlist li .bg{ width:220px; height:220px;border-radius: 50%; background-color:#eeeeee;margin: 0px auto;}
 .productxgcatlist li .bg img{display: block;margin: 0px auto; border-radius:50%; padding-top:10px; width:200px; height:200px;}
 .productxgcatlist li a{ text-decoration:none; color:#ee0a3b;}
 .productxgcatlist li .categorytext{height:2em;}
.cols1  .mod_li.dn{ display:none;}

.cols1 .gengduo a {display: inline-block;line-height: 2em;padding: 6px 40px; margin: 0 6px; border-radius: 6px;border: 1px solid #eee; background: #fff;min-width: 132px;}
.cols1 .gengduo{ margin-top:30px;}

.mod_shoptxt{ margin-top:30px;}
.mod_shoptxt .shoptxt{padding: 20px;font-size: 28px;background: #ffffff;border-radius: 20px;line-height: 1.8em;color: #666; border:none;}
.mod_shoptxt .more_title2{ margin-top:20px;}
.mod_shoptxt .more_title2 a{ background-color:#FFF;padding: 0px 1.5em; line-height:2em;border-radius: 1em;display: inline-block; font-size:28px;}


.mod_cols2 .productxgcatlist li{ border:none; width:25%;}
.mod_cols2 .productxgcatlist li .bg{ width:120px; height:120px; line-height:180px; border-radius:30px; box-sizing:border-box; padding:10px;}
.mod_cols2 .productxgcatlist li .bg img{width:100px; height:100px;}
.mod_cols2 .productxgcatlist li .bg1{ background:#fdddd1;}
.mod_cols2 .productxgcatlist li .bg2{ background:#dbf3fa;}
.mod_cols2 .productxgcatlist li .bg3{ background:#fed1e4;}
.mod_cols2 .productxgcatlist li .bg4{ background:#dfe2fa;}
.mod_cols2 .productxgcatlist li .bg5{ background:#c0e2ff;}
.mod_cols2 .productxgcatlist li .bg6{ background:#f8f9cb;}
.mod_cols2 .productxgcatlist li .bg7{ background:#dfe2fa;}
.mod_cols2 .productxgcatlist li .bg8{ background:#d4e4fc;}
.mod_cols2 .productxgcatlist li .bg9{ background:#f7cbaf;}
.mod_cols2 .productxgcatlist li .bg10{ background:#ddefe2;}
.mod_cols2 .productxgcatlist li .bg11{ background:#fff2c9;}
.mod_cols2 .productxgcatlist li .bg12{ background:#fee4e8;}
.mod_cols2 .productxgcatlist li .bg13{ background:#f3dcd4;}
.mod_cols2 .productxgcatlist li .bg14{ background:#f3e6d3;}
.mod_cols2 .productxgcatlist li .bg15{ background:#f9e7e4;}
.mod_cols2 .productxgcatlist li .bg16{ background:#e5dbfc;}
.mod_cols2 .productxgcatlist li .name{ margin-top:8px;}
.mod_cols2 .gengduo{ margin-bottom:20px;}
.mod_cols2 .gengduo a{background: -webkit-linear-gradient(left, #15c6ac,#29dca2); background: -o-linear-gradient(left, #15c6ac,#29dca2); background: -moz-linear-gradient(left, #15c6ac,#29dca2);  background: linear-gradient(left, #15c6ac,#29dca2);border:none; font-size:32px; color:#fff; padding:10px 36px;
border-radius:20px;}
.mod_cols2 .gengduo a .iconfont {font-size:32px;}