/*/public/css/mobile/v2019/color.css*/
/*公共颜色*/
.fff{ color:#fff;}
a.fff:hover,a.fff.active{ color:#fe741c;}
.c000{ color:#000;}/*主要文字*/
a.c000:hover,a.c000.active{ color:#fe741c;}
.c333{ color:#333;}/*主要文字*/
a.c333:hover,a.c333.active{ color:#fe741c;}
.c666{ color:#666;}/*次要文字*/
a.c666:hover,a.c666.active{ color:#fe741c;}
.c999{ color:#999;}/*次要文字*/
a.c999:hover,a.c999.active{ color:#fe741c;}
.ccc{ color:#ccc;}/*辅助文字*/
a.ccc:hover,a.ccc.active{ color:#fe741c;}
.eee{ color:#eee;}/*边框*/
a.eee:hover,a.eee.active{ color:#fe741c;}

.bgccc{ background:#ccc}
.bgeee{ background:#eee}
.bgfff{ background:#fff}
.bgorange{background:#fe741c;}
.bgf5f5{ background:#f5f5f5;}

.red{ color:#CA0606}
.orange{ color:#fe741c}
.cfe741c{ color:#fe741c;}/*序号1*/
a.cfe741c:hover,a.cfe741c.active{ color:#f60;}
.cfdb80c{ color:#fdb80c;}/*序号2*/
a.cfdb80c:hover,a.cfdb80c.active{ color:#fe741c;}
.cffdc00{ color:#ffdc00;}/*序号3*/
a.cffdc00:hover,a.cffdc00.active{ color:#fe741c;}
.cf12828{ color:#f12828;}/*强调*/
a.cf12828:hover,a.cf12828.active{ color:#fe741c;}

.cffff00,.cffff00 a{ color:#ffff00;}/*头部导航*/
a.cffff00:hover,a.cffff00.active,.cffff00 a:hover{ color:#fe741c;}

/*皮肤颜色1*/
.color1,.color1 a{ color:#555ba6}/*主色*/
.color1 a:hover,a.color1:hover,a.color1.active{ color:#fe741c;}
.color2,.color2 a{ color:#44476c}/*文章标题*/
.color2 a:hover,a.color2:hover,a.color2.active{ color:#fe741c;}
.color3,.color3 a{ color:#28166f}/*标题辅色*/
.color3 a:hover,a.color3:hover,a.color3.active{ color:#fe741c;}
.color4,.color4 a{ color:#8d99b8}/*文字辅色*/
.color4 a:hover,a.color4:hover,a.color4.active{ color:#fe741c;}
.color5,.color5 a{ color:#8d99b8; border-color:rgba(141, 153, 184, 0.3);}/*文章模版标签颜色*/
.color5 a:hover,a.color5:hover,a.color5.active{ color:#fe741c;}
.bg1{ background:#555ba6}/*主色背景*/
.bg2{ background:#e6e7f2}/*辅色背景*/
.bg3{ background:#28166f}/*辅色背景－深色*/
.bd1{ border-color:#555ba6}/*主色边框*/
.bd2{ border-color:#e6e7f2}/*辅色边框*/

.li_1.num1{background:rgba(85,91,166,0.2);}
.li_1.num2{background:rgba(85,91,166,0.15);}
.li_1.num3{background:rgba(85,91,166,0.1);}
.li_1.num1 i { background:#555ba6;}
.li_1.num2 i { background:rgba(85,91,166,0.7);}
.li_1.num3 i { background:rgba(85,91,166,0.4);}

/*皮肤颜色2*/
.blockstyle2 .color1,.blockstyle2 .color1 a{ color:#be0f1b}/*主色*/
.blockstyle2 .color1 a:hover,.blockstyle2 a.color1:hover,.blockstyle2 a.color1.active{ color:#fe741c;}
.blockstyle2 .color2,.blockstyle2 .color2 a{ color:#333333}/*文章标题*/
.blockstyle2 .color2 a:hover,.blockstyle2 a.color2:hover,.blockstyle2 a.color2.active{ color:#fe741c;}
.blockstyle2 .color3,.blockstyle2 .color3 a{ color:#a91324}/*标题辅色*/
.blockstyle2 .color3 a:hover,.blockstyle2 a.color3:hover,.blockstyle2 a.color3.active{ color:#fe741c;}
.blockstyle2 .color4,.blockstyle2 .color4 a{ color:#de878d}/*文字辅色*/
.blockstyle2 .color4 a:hover,.blockstyle2 a.color4:hover,.blockstyle2 a.color4.active{ color:#fe741c;}
.blockstyle2 .color5,.blockstyle2 .color5 a{ color:#de878d; border-color:rgba(222, 135, 141, 0.3);}/*文章模版标签颜色*/
.blockstyle2 .color5 a:hover,.blockstyle2 a.color5:hover,.blockstyle2 a.color5.active{ color:#fe741c;}
.blockstyle2 .bg1{ background:#be0f1b}/*主色背景*/
.blockstyle2 .bg2{ background:#f8e7e8}/*辅色背景*/
.blockstyle2 .bg3{ background:#a91324}/*辅色背景－深色*/
.blockstyle2 .bd1{ border-color:#be0f1b}/*主色边框*/
.blockstyle2 .bd2{ border-color:#f8e7e8}/*辅色边框*/
.tab.style1.blockstyle2>.tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#be0f1b;}
.blockstyle2 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#be0f1b; border-color:#be0f1b;}
.blockstyle2 .li_1.num1{background:rgba(190,15,27,0.2);}
.blockstyle2 .li_1.num2{background:rgba(190,15,27,0.15);}
.blockstyle2 .li_1.num3{background:rgba(190,15,27,0.1);}
.blockstyle2 .li_1.num1 i { background:#be0f1b;}
.blockstyle2 .li_1.num2 i { background:rgba(190,15,27,0.7);}
.blockstyle2 .li_1.num3 i { background:rgba(190,15,27,0.4);}
/*皮肤颜色3*/
.blockstyle3 .color1,.blockstyle3 .color1 a{ color:#87a5b5}/*主色*/
.blockstyle3 .color1 a:hover,.blockstyle3 a.color1:hover,.blockstyle3 a.color1.active{ color:#fe741c;}
.blockstyle3 .color2,.blockstyle3 .color2 a{ color:#44476c}/*文章标题*/
.blockstyle3 .color2 a:hover,.blockstyle3 a.color2:hover,.blockstyle3 a.color2.active{ color:#fe741c;}
.blockstyle3 .color3,.blockstyle3 .color3 a{ color:#b7c9d3}/*标题辅色*/
.blockstyle3 .color3 a:hover,.blockstyle3 a.color3:hover,.blockstyle3 a.color3.active{ color:#fe741c;}
.blockstyle3 .color4,.blockstyle3 .color4 a{ color:#abc0cb}/*文字辅色*/
.blockstyle3 .color4 a:hover,.blockstyle3 a.color4:hover,.blockstyle3 a.color4.active{ color:#fe741c;}
.blockstyle3 .color5,.blockstyle3 .color5 a{ color:#97b5c5; border-color:rgba(151, 181, 197, 0.3);}/*文章模版标签颜色*/
.blockstyle3 .color5 a:hover,.blockstyle3 a.color5:hover,.blockstyle3 a.color5.active{ color:#fe741c;}
.blockstyle3 .bg1{ background:#87a5b5}/*主色背景*/
.blockstyle3 .bg2{ background:#edf2f4}/*辅色背景*/
.blockstyle3 .bg3{ background:#b7c9d3}/*辅色背景－深色*/
.blockstyle3 .bd1{ border-color:#87a5b5}/*主色背景*/
.blockstyle3 .bd2{ border-color:#edf2f4}/*辅色背景*/
.tab.style1.blockstyle3>.tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.substyle1 .tab2menubox .tabmenu .item.active span{ background:#87a5b5;}
.blockstyle3 .tab.style1 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .tab.style5 > .tabmenubox .tabmenu .item.active{ background:#87a5b5; border-color:#87a5b5;}
.blockstyle3 .li_1.num1{background:rgba(135,165,181,0.2);}
.blockstyle3 .li_1.num2{background:rgba(135,165,181,0.15);}
.blockstyle3 .li_1.num3{background:rgba(135,165,181,0.1);}
.blockstyle3 .li_1.num1 i { background:#87a5b5;}
.blockstyle3 .li_1.num2 i { background:rgba(135,165,181,0.7);}
.blockstyle3 .li_1.num3 i { background:rgba(135,165,181,0.4);}


/*/public/css/mobile/v2019/weui.min.css*/
.weui_dialog{position:fixed;z-index:2147483647;width:85%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fafafc;text-align:center;border-radius:30px; overflow:hidden;}.weui_dialog_confirm .weui_dialog .weui_dialog_hd{padding:1em 40px}.weui_dialog_confirm .weui_dialog .weui_dialog_bd{text-align:left;}.weui_dialog_hd{padding:1.2em 0 1em}.weui_dialog_title{font-weight:400;font-size:34px}.weui_dialog_bd{padding:0 30px;color:#666; line-height:1.8em; text-align:left;}.weui_dialog_ft{position:relative;line-height:84px;margin-top:40px;font-size:34px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.weui_dialog_ft a{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;color:#3cc51f;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.weui_dialog_ft a:active{background-color:#eee}.weui_dialog_ft:after{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_dialog_confirm .weui_dialog_ft a{position:relative}.weui_dialog_confirm .weui_dialog_ft a:after{content:" ";position:absolute;left:0;top:0;width:1px;height:100%;border-left:1px solid #d5d5d6;color:#d5d5d6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(.5);transform:scaleX(.5)}.weui_dialog_confirm .weui_dialog_ft a:first-child:after{display:none}.weui_btn_dialog.default{color:#353535}.weui_btn_dialog.primary{color:#383f90}@media screen and (min-width:1024px){.weui_dialog{width:35%}}.weui_toast{position:fixed;z-index:2147483647;width:7.6em;min-height:7.6em;top:180px;left:50%;margin-left:-3.8em;background:rgba(40,40,40,.75);text-align:center;border-radius:5px;color:#fff}.weui_icon_toast{margin:10px 0 0;display:block;font-size:55px}.weui_toast_content{margin:0 0 15px}.weui_loading_toast .weui_toast_content{margin-top:64%;font-size:28px}.weui_loading{position:absolute;width:0;z-index:2147483647;left:50%;top:38%}.weui_loading_leaf{position:absolute;top:-1px;opacity:.25}.weui_loading_leaf:before{content:" ";position:absolute;width:16.28px;height:6.16px;background:#d1d1d5;box-shadow:rgba(0,0,0,.0980392) 0 0 1px;border-radius:1px;-webkit-transform-origin:left 50% 0;transform-origin:left 50% 0}.weui_loading_leaf_0{-webkit-animation:a 1.25s linear infinite;animation:a 1.25s linear infinite}.weui_loading_leaf_0:before{-webkit-transform:rotate(0deg) translate(15.84px);transform:rotate(0deg) translate(15.84px)}.weui_loading_leaf_1{-webkit-animation:b 1.25s linear infinite;animation:b 1.25s linear infinite}.weui_loading_leaf_1:before{-webkit-transform:rotate(30deg) translate(15.84px);transform:rotate(30deg) translate(15.84px)}.weui_loading_leaf_2{-webkit-animation:c 1.25s linear infinite;animation:c 1.25s linear infinite}.weui_loading_leaf_2:before{-webkit-transform:rotate(60deg) translate(15.84px);transform:rotate(60deg) translate(15.84px)}.weui_loading_leaf_3{-webkit-animation:d 1.25s linear infinite;animation:d 1.25s linear infinite}.weui_loading_leaf_3:before{-webkit-transform:rotate(90deg) translate(15.84px);transform:rotate(90deg) translate(15.84px)}.weui_loading_leaf_4{-webkit-animation:e 1.25s linear infinite;animation:e 1.25s linear infinite}.weui_loading_leaf_4:before{-webkit-transform:rotate(120deg) translate(15.84px);transform:rotate(120deg) translate(15.84px)}.weui_loading_leaf_5{-webkit-animation:f 1.25s linear infinite;animation:f 1.25s linear infinite}.weui_loading_leaf_5:before{-webkit-transform:rotate(150deg) translate(15.84px);transform:rotate(150deg) translate(15.84px)}.weui_loading_leaf_6{-webkit-animation:g 1.25s linear infinite;animation:g 1.25s linear infinite}.weui_loading_leaf_6:before{-webkit-transform:rotate(180deg) translate(15.84px);transform:rotate(180deg) translate(15.84px)}.weui_loading_leaf_7{-webkit-animation:h 1.25s linear infinite;animation:h 1.25s linear infinite}.weui_loading_leaf_7:before{-webkit-transform:rotate(210deg) translate(15.84px);transform:rotate(210deg) translate(15.84px)}.weui_loading_leaf_8{-webkit-animation:i 1.25s linear infinite;animation:i 1.25s linear infinite}.weui_loading_leaf_8:before{-webkit-transform:rotate(240deg) translate(15.84px);transform:rotate(240deg) translate(15.84px)}.weui_loading_leaf_9{-webkit-animation:j 1.25s linear infinite;animation:j 1.25s linear infinite}.weui_loading_leaf_9:before{-webkit-transform:rotate(270deg) translate(15.84px);transform:rotate(270deg) translate(15.84px)}.weui_loading_leaf_10{-webkit-animation:k 1.25s linear infinite;animation:k 1.25s linear infinite}.weui_loading_leaf_10:before{-webkit-transform:rotate(300deg) translate(15.84px);transform:rotate(300deg) translate(15.84px)}.weui_loading_leaf_11{-webkit-animation:l 1.25s linear infinite;animation:l 1.25s linear infinite}.weui_loading_leaf_11:before{-webkit-transform:rotate(330deg) translate(15.84px);transform:rotate(330deg) translate(15.84px)}
@-webkit-keyframes a{0%,0.01%{opacity:.25}0.02%{opacity:1}60.01%,to{opacity:.25}}@-webkit-keyframes b{0%,8.34333%{opacity:.25}8.35333%{opacity:1}68.3433%,to{opacity:.25}}@-webkit-keyframes c{0%,16.6767%{opacity:.25}16.6867%{opacity:1}76.6767%,to{opacity:.25}}@-webkit-keyframes d{0%,25.01%{opacity:.25}25.02%{opacity:1}85.01%,to{opacity:.25}}@-webkit-keyframes e{0%,33.3433%{opacity:.25}33.3533%{opacity:1}93.3433%,to{opacity:.25}}@-webkit-keyframes f{0%{opacity:.270958333333333}41.6767%{opacity:.25}41.6867%{opacity:1}1.67667%{opacity:.25}to{opacity:.270958333333333}}@-webkit-keyframes g{0%{opacity:.375125}50.01%{opacity:.25}50.02%{opacity:1}10.01%{opacity:.25}to{opacity:.375125}}@-webkit-keyframes h{0%{opacity:.479291666666667}58.3433%{opacity:.25}58.3533%{opacity:1}18.3433%{opacity:.25}to{opacity:.479291666666667}}@-webkit-keyframes i{0%{opacity:.583458333333333}66.6767%{opacity:.25}66.6867%{opacity:1}26.6767%{opacity:.25}to{opacity:.583458333333333}}@-webkit-keyframes j{0%{opacity:.687625}75.01%{opacity:.25}75.02%{opacity:1}35.01%{opacity:.25}to{opacity:.687625}}@-webkit-keyframes k{0%{opacity:.791791666666667}83.3433%{opacity:.25}83.3533%{opacity:1}43.3433%{opacity:.25}to{opacity:.791791666666667}}@-webkit-keyframes l{0%{opacity:.895958333333333}91.6767%{opacity:.25}91.6867%{opacity:1}51.6767%{opacity:.25}to{opacity:.895958333333333}}.weui_mask{background:rgba(0,0,0,.3)}.weui_mask,.weui_mask_transition,.weui_mask_transparent{position:fixed;z-index:2147483647;width:100%;height:100%;top:0;left:0}.weui_mask_transition{display:none;background:transparent;-webkit-transition:background .3s;transition:background .3s}.weui_fade_toggle{background:rgba(0,0,0,.6)}.weui_actionsheet{position:fixed;left:0;bottom:0;z-index:2147483647;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-backface-visibility:hidden;backface-visibility:hidden;width:100%;background-color:#efeff4;-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s;opacity:0}.weui_actionsheet_menu{background-color:#fff}.weui_actionsheet_action{margin-top:12px;background-color:#fff}.weui_actionsheet_cell{position:relative;padding:20px 0;text-align:center;font-size:36px}.weui_actionsheet_cell:before{content:" ";position:absolute;left:0;top:0;width:100%;height:1px;border-top:1px solid #d9d9d9;color:#d9d9d9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(.5);transform:scaleY(.5)}.weui_actionsheet_cell:active{background-color:#ececec}.weui_actionsheet_cell:first-child:before{display:none}.weui_actionsheet_toggle{-webkit-transform:translate(0);transform:translate(0);opacity:1}.textToast{width:90%; padding:0.5em;max-height:4.6em;line-height:1.8em;text-align:center;color:#fff!important;border-radius:10px;background-color:rgba(80,80,80,0.8);position:fixed;left:50%;top:80%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:none; z-index:2147483647}.textToastShow{display:block;-webkit-animation:textToastShow 1.5s .2s ease-in-out;animation:textToastShow 1.5s .2s ease-in-out}@-webkit-keyframes textToastShow{30%{opacity:1}100%{opacity:0}}@keyframes textToastShow{30%{opacity:1}100%{opacity:0}}

/*/public/css/mobile/v2019/block/brand10/brand10col1.css*/
.brand10col1{ padding:15px 30px;}
.brand10col1 .item{ padding:15px 0;}
.brand10col1 .item .left{ float:left; width:170px; height:240px; text-align:center;}
.brand10col1 .item .right{ float:right; width:520px; height:240px; color:#fff;}
.brand10col1 .item .title{ line-height:1.5em; padding-top:0.5em;}
.brand10col1 .item .mintitle i{ color:#fff; font-size:1.2em; vertical-align:middle; display:inline-block;}

.brand10col1 .item a{ display:block; width:690px; height:240px; border-radius:10px;}
.brand10col1 .item a:hover{ color:#ff0}
.brand10col1 .item .img{ width:100px; height:100px; margin:15px auto 0 auto;}

.brand10col1 .item .zhishibang,.brand10col1 .item .quwenbang{ padding:0 20px 0 0; height:210px; margin-top: 8px; overflow: hidden;}
.brand10col1 .item .zhishibang .item2,.brand10col1 .item .quwenbang .item2{ background:rgba(255,255,255,.3); line-height:56px; height:56px; border-radius:28px; padding:0 1em; margin:14px 0;}
.brand10col1 .item .pinpaibang{ padding:20px 0 10px 0;}
.brand10col1 .item .pinpaibang .item2{ float:left; width:166px; text-align:center; line-height:2.5em;}
.brand10col1 .item .pinpaibang .item2:nth-child(1){ margin-top:15px;}
.brand10col1 .item .pinpaibang .item2:nth-child(3){ margin-top:25px;}
.brand10col1 .item .pinpaibang .item2 img{ display:block; margin:0 auto; border-radius:65px; width:130px; height:130px; background:#fff;}
.brand10col1 .item .wanggoubang{ padding:26px 20px 10px 0;}
.brand10col1 .item .wanggoubang .swipe .item3{ width:500px;}
.brand10col1 .item .wanggoubang .swipe .swipeul{ padding-bottom:40px;}

.brand10col1 .item .zhaoshangbang{ padding:20px 0 10px 0;}
.brand10col1 .item .zhaoshangbang .item2{ overflow:inherit; float:left; background:#fff; width:166px; text-align:center; margin-top:50px; padding-top:33px; position:relative;}
.brand10col1 .item .zhaoshangbang .ttl{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:block; }
.brand10col1 .item .zhaoshangbang .item2 i{ position:absolute; left:50%; margin-left:-22px; top:-22px; width:44px; height:44px; line-height:32px; text-align:center; font-size:24px; border:6px solid rgba(255,255,255,.5); border-radius:50%; background:#fdb80c;}
.brand10col1 .item .zhaoshangbang .item2 .ttl{ color:#333; line-height:2em;}
.brand10col1 .item .zhaoshangbang .item2:nth-child(1){ margin-top:80px; border-radius:10px 0 0 0;}
.brand10col1 .item .zhaoshangbang .item2:nth-child(2){ border-radius:10px 10px 0 0; padding-bottom:30px; position:relative; z-index:1; box-shadow:0 0 16px #eee;}
.brand10col1 .item .zhaoshangbang .item2:nth-child(2)::after{content:""; width:120%; height:50px; background:#fff; background:linear-gradient(180deg,rgba(255,255,255,0),#fff); position:absolute; left:-10%; bottom:-10px;}
.brand10col1 .item .zhaoshangbang .item2:nth-child(2) i{ background:url(../images/c8a9f-7367.png); width:60px; height:46px; border:0; margin-left:-30px; border-radius:0; top:-46px; font-size:0;}
.brand10col1 .item .zhaoshangbang .item2:nth-child(3){ margin-top:80px; border-radius:0 10px 0 0;}
.brand10col1 .item .zhaoshangbang .item2 img{ display:block; margin:0 auto; width:138px; height:60px; background:#fff;}


/*/public/css/mobile/v2019/block/brand10/brand10col4.css*/
.brand10col4{ padding:10px 20px;}
.brand10col4 .item{ padding:10px; float:left;}
.brand10col4 .item .title{ line-height:1.2em; padding-top:0.4em;}
.brand10col4 .item a{ width:157px; height:200px; display:block; border-radius:10px; background:#795ebe; text-align:center;}
.brand10col4 .item a:hover{ color:#ff0}
.brand10col4 .item .img{ width:100px; height:100px; margin:10px auto 0 auto;}

.brand10col4 .item a.s1{ background:#8c72c7; background:linear-gradient(45deg,#8265c3,#8c72c7);}
.brand10col4 .item a.s2{ background:#917bc9; background:linear-gradient(45deg,#866dc3,#917bc9);}
.brand10col4 .item a.s3{ background:#a592d3; background:linear-gradient(45deg,#9782cc,#a592d3);}
.brand10col4 .item a.s4{ background:#b09fd8; background:linear-gradient(45deg,#a895d5,#b09fd8);}

.brand10col4 .item a.s5{ background:#60b8f3; background:linear-gradient(45deg,#57b5f2,#60b8f3);}
.brand10col4 .item a.s6{ background:#74c3f5; background:linear-gradient(45deg,#66bdf4,#74c3f5);}
.brand10col4 .item a.s7{ background:#80caf7; background:linear-gradient(45deg,#71c2f5,#80caf7);}
.brand10col4 .item a.s8{ background:#8fd2f8; background:linear-gradient(45deg,#82cbf7,#8fd2f8);}

.brand10col4 .item a.s9{ background:#ff6f4e; background:linear-gradient(45deg,#ff6847,#ff6f4e);}
.brand10col4 .item a.s10{ background:#ff8560; background:linear-gradient(45deg,#ff7754,#ff8560);}
.brand10col4 .item a.s11{ background:#ff9b72; background:linear-gradient(45deg,#ff8963,#ff9b72);}
.brand10col4 .item a.s12{ background:#ffa77e; background:linear-gradient(45deg,#ff9e76,#ffa77e);}

.brand10col4 .item a.s13{ background:#ffb34e; background:linear-gradient(45deg,#ffad46,#ffb34e);}
.brand10col4 .item a.s14{ background:#ffbe60; background:linear-gradient(45deg,#ffb753,#ffbe60);}
.brand10col4 .item a.s15{ background:#ffc86e; background:linear-gradient(45deg,#ffbf5f,#ffc86e);}
.brand10col4 .item a.s16{ background:#ffd07b; background:linear-gradient(45deg,#ffc971,#ffd07b);}

.brand10col4 .item a.s17{ background:#ff8e8e; background:linear-gradient(45deg,#ff8585,#ff8e8e);}
.brand10col4 .item a.s18{ background:#ffa7a7; background:linear-gradient(45deg,#ff9393,#ffa7a7);}
.brand10col4 .item a.s19{ background:#ffbcbc; background:linear-gradient(45deg,#ffa8a8,#ffbcbc);}
.brand10col4 .item a.s20{ background:#ffcbcb; background:linear-gradient(45deg,#ffbdbd,#ffcbcb);}

.brand10col4 .item a.s21{ background:#f39650; background:linear-gradient(45deg,#f18d47,#f39650);}
.brand10col4 .item a.s22{ background:#f5ae6f; background:linear-gradient(45deg,#f4a059,#f5ae6f);}
.brand10col4 .item a.s23{ background:#f8c89a; background:linear-gradient(45deg,#f5ab6a,#f8c89a);}
.brand10col4 .item a.s24{ background:#f9c797; background:linear-gradient(45deg,#f7c08a,#f9c797);}