*,
::before,
::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size:16px;
}

input, textarea {
    outline: 0;
    resize: none;
	border:none;
	font-family: inherit;
}
a{text-decoration:none;color:#333333}
.clearfix, .content {
}
.clearfix::before, .clearfix::after, .content::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix::after {
    clear: both;
}
.clear {
    clear: both;
}
.loading{height:13px;width:13px;display:inline-block;background:url(../../../image/loading.gif) center center no-repeat;background-size:13px;}

/*此处字体样式已经废弃，请使用 font_b1 font_b2 等代替*/
.font36{ font-size:20px;}
.font22{ font-size:13px;}
.font24{ font-size:14px;}
.font26{ font-size:15px;}
.font28{ font-size:16px;}
.font30{ font-size:17px;}
.f_left{float:left}
.f_right{float:right}
.m_r10{margin-right:5px}
.m_r15{margin-right:7.5px}
.m_r22{margin-right:11px}
.m_t10{margin-top:5px}
.m_t15{margin-top:7.5px}
.m_t20{margin-top:10px}
.m_t25{ margin-top:12.5px;}
.m_b20{margin-bottom:10px}
.m_l30{ margin-left:15px;}

.line_h40{ line-height:20px;}
.gray{color:#999;}
.gray6{color:#666;}
.gray3{color:#333;}
.red{color:#d00000; }
.green{ color:#71bf69;}
.blue{ color:#0d7dbd;}
/*删除线*/
.line_through{ text-decoration:line-through;}
/*文字靠右和居中*/
.txt_right{ text-align:right;}
.txt_center{ text-align:center;}
/*文字加粗*/
.font_b{ font-weight:bold;}

/*文字大小*/
.font_b1{ font-size:20px!important;}
.font_b2{ font-size:17px!important;}

.font_n1{font-size:16px!important;}
.font_n2{font-size:15px!important;}

.font_s1{font-size:14px!important;}
.font_s2{font-size:13px!important;}
/*颜色*/
.c_grayE{color:#EEE!important;}
.c_gray9{color:#999!important;}
.c_gray6{color:#666!important;}
.c_gray3{color:#333!important;}
.c_red{color:#d00000!important; }
.c_blue{color:#0d7dbd!important;}
.c_green{color:#1fa705!important;}
.c_orange{color:#f08714!important;}
.c_light_orange{color:#ffffdc!important;}
.c_yellow{color:#f4f4b3!important;}
/*背景色*/
.bg_graybb{ background:#bbb!important;}
.bg_graydd{ background:#ddd!important;}
.bg_grayee{ background:#eee!important;}
.bg_grayf2{ background:#f2f2f2!important;}
.bg_grayf8{ background:#f8f8f8!important;}
.bg_grayfa{ background:#fafafa!important;}
.bg_grayfb{ background:#fbfbfb!important;}

/*边线*/
.border_graybb{border:1px solid #bbb!important;}
.border_graydd{border:1px solid #ddd!important;}
.border_grayee{border:1px solid #eee!important;}
.border_grayf2{border:1px solid #f2f2f2!important;}
.border_grayf8{border:1px solid #f8f8f8!important;}
.border_grayfa{border:1px solid #fafafa!important;}
.border_grayfb{border:1px solid #fbfbfb!important;}
.border_top_graybb{border-top:1px solid #bbb!important;}
.border_top_graydd{border-top:1px solid #ddd!important;}
.border_top_grayee{border-top:1px solid #eee!important;}
.border_top_grayf2{border-top:1px solid #f2f2f2!important;}
.border_top_grayf8{border-top:1px solid #f8f8f8!important;}
.border_top_grayfa{border-top:1px solid #fafafa!important;}
.border_top_grayfb{border-top:1px solid #fbfbfb!important;}
.border_bottom_graybb{border-bottom:1px solid #bbb!important;}
.border_bottom_graydd{border-bottom:1px solid #ddd!important;}
.border_bottom_grayee{border-bottom:1px solid #eee!important;}
.border_bottom_grayf2{border-bottom:1px solid #f2f2f2!important;}
.border_bottom_grayf8{border-bottom:1px solid #f8f8f8!important;}
.border_bottom_grayfa{border-bottom:1px solid #fafafa!important;}
.border_bottom_grayfb{border-bottom:1px solid #fbfbfb!important;}
.no_border{border:none!important;}
.no_border_top{border-top:none!important;}
.no_border_bottom{border-bottom:none!important;}
.no_border_left{border-left:none!important;}
.no_border_right{border-right:none!important;}
