    p.paddingleft {padding-left:2cm;}
    p.paddingleft2 {padding-left:50%;}

p.padding {padding-right:2cm;}
p.padding2 {padding-right:50%;}

    [title]
    {
    color:blue;
    }
    [title=w3cschool]
    {
    border:5px solid gray;
    }
    [title~=hello]
    {
    color:red;
    }
    [lang|=us]
    {
    color:blue;
    }
[class|=top]
{
background:yellow;
}

    input[type="text"]
    {
    width:150px;
    display:block;
    margin-bottom:10px;
    background-color:yellow;
    }
    input[type="button"]
    {
    width:120px;
    margin-left:35px;
    display:block;
    }
