body {
  /*color:red;*/
}
.base h1 {color:#00ff00;}
.base p.ex {color:rgb(0,0,255);}

.rank h1{text-align:center}
.rank p.date{text-align:right}
.rank p.main{text-align:justify}

a {text-decoration:none;}

 .decoration   h1 {text-decoration:overline;}
 .decoration  h2 {text-decoration:line-through;}
 .decoration   h3 {text-decoration:underline;}

    p.uppercase {text-transform:uppercase;}
    p.lowercase {text-transform:lowercase;}
    p.capitalize {text-transform:capitalize;}
    .indent {text-indent:50px;}

    .spacing p {
    	word-spacing:200px;
    }
    .demo h1 {letter-spacing:2px;}
    .demo h2 {letter-spacing:-3px;}

    p.small {line-height:70%;}
    p.big {line-height:200%;}

    div.ex1 {direction:rtl;}

.nowrap p {
    white-space:nowrap;
}

img.top {vertical-align:text-top;}
img.bottom {vertical-align:text-bottom;}

.shadow  {
    text-shadow:2px 2px #FF0000;
}
/*    .spacing span {
    	word-spacing:-0.5em;
    }







.nowrap {
    line-height:200%;
}
*/
